*{
	text-decoration: none;
	color: #000000;
  }
.mediaViewInfo {
	--web-view-name: メカニカルアーツ部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4279.581px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: メカニカルアーツ部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_111 {
	fill: rgba(243,170,160,1);
}
.n_111 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3504.822px;
	left: 0px;
	top: 0px;
}
#n_110 {
	fill: rgba(255,255,255,1);
}
.n_110 {
	overflow: visible;
	position: absolute;
	width: 915.566px;
	height: 438.111px;
	left: 85.755px;
	top: 1136.261px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0230831 {
	left: 143.241px;
	top: 1192.019px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_190 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 796.184px;
	top: 1522.474px;
	overflow: visible;
}
#n_111_z {
	fill: rgba(46,47,47,1);
}
.n_111_z {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text {
	left: 0px;
	top: 1.056px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n____ {
	left: 143.241px;
	top: 1230.988px;
	position: absolute;
	overflow: visible;
	width: 806px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_0230802 {
	left: 143.241px;
	top: 1396.172px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_ {
	left: 143.241px;
	top: 1435.142px;
	position: absolute;
	overflow: visible;
	width: 491px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_143 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_143 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1361.343px;
	transform: matrix(1,0,0,1,0,0);
}
#n_144 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_144 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1500.767px;
	transform: matrix(1,0,0,1,0,0);
}
#n_145 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_145 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 105.629px;
	top: 3253.725px;
	transform: matrix(1,0,0,1,0,0);
}
#n_168 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 87.258px;
	top: 3310.254px;
	overflow: visible;
}
#n_167 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_ {
	left: 142.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_112 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_112 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_75 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_113 {
	fill: rgba(46,47,47,1);
}
.n_113 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_112_bd {
	fill: rgba(255,255,255,1);
}
.n_112_bd {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.117px;
	left: 17.239px;
	top: 12.955px;
	transform: matrix(1,0,0,1,0,0);
}
#n_169 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 574.153px;
	top: 3310.254px;
	overflow: visible;
}
#n__bf {
	left: 48.248px;
	top: 21.944px;
	position: absolute;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_113_bg {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_113_bg {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_76 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_114 {
	fill: rgba(46,47,47,1);
}
.n_114 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_113_bj {
	fill: rgba(255,255,255,1);
}
.n_113_bj {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.117px;
	left: 26.427px;
	top: 12.955px;
	transform: matrix(1,0,0,1,0,0);
}
#n_114_bk {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_114_bk {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 517.985px;
	top: 3255.478px;
	transform: matrix(1,0,0,1,0,0);
}
#n_146 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_146 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 545.749px;
	top: 3365.125px;
	transform: matrix(1,0,0,1,0,0);
}
#n_147 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_147 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.1px;
	top: 2393.324px;
	transform: matrix(1,0,0,1,0,0);
}
#n_115 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_115 {
	overflow: visible;
	position: absolute;
	width: 647.982px;
	height: 170.392px;
	left: 360.649px;
	top: 2171.242px;
	transform: matrix(1,0,0,1,0,0);
}
#n_148 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_148 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 59.725px;
	left: 592.227px;
	top: 2338.6px;
	transform: matrix(1,0,0,1,0,0);
}
#n_114_bp {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_114_bp {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 118.616px;
	top: 2442.947px;
}
#n_115_bq {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_115_bq {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 118.616px;
	top: 2934.825px;
}
#n_116 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_116 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.782px;
	top: 2442.947px;
}
#n_117 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_117 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.593px;
	left: 421.782px;
	top: 2934.825px;
}
#n_116_bt {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_116_bt {
	overflow: visible;
	position: absolute;
	width: 920.566px;
	height: 445.885px;
	left: 85.755px;
	top: 1673.594px;
	transform: matrix(1,0,0,1,0,0);
}
#n_149 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_149 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 61.764px;
	left: 775.118px;
	top: 2114.479px;
	transform: matrix(1,0,0,1,0,0);
}
#n_118 {
	fill: rgba(46,47,47,1);
}
.n_118 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1110.508px;
}
#Text_bw {
	left: 47.884px;
	top: 802.483px;
	position: absolute;
	overflow: visible;
	width: 631px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#n__bx {
	left: 49.144px;
	top: 911.406px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_by {
	left: 49.143px;
	top: 752.734px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_77 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1640.706px;
	overflow: visible;
}
#n_115_b {
	fill: rgba(135,128,136,1);
}
.n_115_b {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_116_b {
	fill: rgba(255,255,255,1);
}
.n_116_b {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__b {
	left: 73.802px;
	top: 1654.13px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_b {
	left: 144.442px;
	top: 1654.13px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 95.171px;
	top: 1118.554px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#OKLEGO__ {
	left: 127.159px;
	top: 1743.146px;
	position: absolute;
	overflow: hidden;
	width: 784.513px;
	height: 350.8133850097656px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_78 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 2360.436px;
	overflow: visible;
}
#n_117_b {
	fill: rgba(135,128,136,1);
}
.n_117_b {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_118_b {
	fill: rgba(255,255,255,1);
}
.n_118_b {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__ca {
	left: 73.802px;
	top: 2373.86px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 144.442px;
	top: 2373.86px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_cb {
	left: 198.145px;
	top: 2659.919px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 216.145px;
	top: 2978.096px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_0 {
	left: 213.145px;
	top: 2714.113px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__ce {
	left: 201.145px;
	top: 2762.08px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_cf {
	left: 195.245px;
	top: 2802.186px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_79 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 324.948px;
	top: 2138.354px;
	overflow: visible;
}
#n_119 {
	fill: rgba(135,128,136,1);
}
.n_119 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_120 {
	fill: rgba(255,255,255,1);
}
.n_120 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__cj {
	left: 348.696px;
	top: 2151.778px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_ck {
	left: 419.336px;
	top: 2151.778px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_cl {
	left: 402.053px;
	top: 2227.935px;
	position: absolute;
	overflow: visible;
	width: 566.45px;
	height: 88.17985534667969px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_80 {
	position: absolute;
	width: 76.96px;
	height: 147.093px;
	left: 216.664px;
	top: 2469.354px;
	overflow: visible;
}
#n_121 {
	fill: rgba(46,47,47,1);
}
.n_121 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_117_co {
	fill: rgba(46,47,47,1);
}
.n_117_co {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cp {
	left: 672.692px;
	top: 2659.919px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_000 {
	left: 618.692px;
	top: 2714.113px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cr {
	left: 620.692px;
	top: 2774.896px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_cs {
	left: 684.792px;
	top: 2806.701px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_122 {
	fill: rgba(46,47,47,1);
}
.n_122 {
	position: absolute;
	overflow: visible;
	width: 128.752px;
	height: 128.753px;
	left: 646.365px;
	top: 2481.938px;
}
#n_81 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.977px;
	top: 2512.451px;
	overflow: visible;
}
#n_118_cv {
	fill: rgba(255,255,255,1);
}
.n_118_cv {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cw {
	left: 633.838px;
	top: 2970.3px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_1 {
	left: 514.853px;
	top: 3045.876px;
	position: absolute;
	overflow: visible;
	width: 367px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_119_cy {
	fill: rgba(46,47,47,1);
}
.n_119_cy {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.839px;
	top: 3038.192px;
	transform: matrix(1,0,0,1,0,0);
}
#n_119_cz {
	fill: rgba(255,255,255,1);
}
.n_119_cz {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1135.949px;
}
#n_120_c {
	fill: rgba(255,255,255,1);
}
.n_120_c {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.812px;
	top: 1135.383px;
}
#n_140 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.933px;
	top: 3047.29px;
	overflow: visible;
}
#n_123 {
	fill: rgba(46,47,47,1);
}
.n_123 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#Text_c {
	left: 311.4px;
	top: 973.518px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#n_3 {
	position: absolute;
	width: 659.01px;
	height: 2479.729px;
	left: 139.482px;
	top: 911.708px;
	display: none;
	overflow: visible;
}
#n_150 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_150 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 289.97px;
	top: 648.126px;
	transform: matrix(1,0,0,1,0,0);
}
#n_151 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_151 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 75.431px;
	top: 1046.491px;
	transform: matrix(1,0,0,1,0,0);
}
#n_152 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_152 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 634.996px;
	top: 1145.774px;
	transform: matrix(1,0,0,1,0,0);
}
#n_153 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_153 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 306.381px;
	top: 1268.647px;
	transform: matrix(1,0,0,1,0,0);
}
#n_154 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_154 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 214.932px;
	top: 2394.689px;
	transform: matrix(1,0,0,1,0,0);
}
#n_155 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_155 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 219.588px;
	top: 2171.579px;
	transform: matrix(1,0,0,1,0,0);
}
#n_156 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_156 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 240.094px;
	top: 548.904px;
	transform: matrix(1,0,0,1,0,0);
}
#n_157 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_157 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_158 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_158 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 379.433px;
	top: 1311.167px;
	transform: matrix(1,0,0,1,0,0);
}
#n_159 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_159 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 659.01px;
	top: 1089.02px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -0.234px;
	top: 113.386px;
	overflow: visible;
}
#n_217 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3504.822px;
	overflow: visible;
}
#n_2 {
	fill: rgba(229,243,48,1);
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}
#n_3_dj {
	fill: rgba(255,255,255,1);
}
.n_3_dj {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 49.521px;
	top: 584.857px;
}
#n_2_dk {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.331px;
	overflow: visible;
}
#n_5 {
	fill: rgba(0,0,0,1);
}
.n_5 {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.532px;
	left: 0px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6 {
	fill: rgba(0,0,0,1);
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 22.802px;
	height: 37.251px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	fill: rgba(0,0,0,1);
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.714px;
	height: 36.627px;
	left: 74.303px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	fill: rgba(0,0,0,1);
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.819px;
	left: 112.028px;
	top: 0.384px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_dp {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.071px;
	overflow: visible;
}
#n_9 {
	fill: rgba(0,0,0,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.203px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_10 {
	fill: rgba(0,0,0,1);
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.562px;
	left: 36.705px;
	top: 9.95px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11_ds {
	fill: rgba(0,0,0,1);
}
.n_11_ds {
	overflow: visible;
	position: absolute;
	width: 24.989px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}
#n_12 {
	fill: rgba(0,0,0,1);
}
.n_12 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	fill: rgba(0,0,0,1);
}
.n_13 {
	overflow: visible;
	position: absolute;
	width: 27.527px;
	height: 18.998px;
	left: 39.914px;
	top: 8.085px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14 {
	fill: rgba(0,0,0,1);
}
.n_14 {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.46px;
	left: 72.827px;
	top: 0.071px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_dx {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.533px;
	overflow: visible;
}
#n_15 {
	fill: rgba(0,0,0,1);
}
.n_15 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_16 {
	fill: rgba(0,0,0,1);
}
.n_16 {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.179px;
	left: 34.668px;
	top: 0.036px;
	transform: matrix(1,0,0,1,0,0);
}
#n_17 {
	fill: rgba(0,0,0,1);
}
.n_17 {
	overflow: visible;
	position: absolute;
	width: 33.223px;
	height: 31.317px;
	left: 70.812px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_18 {
	fill: rgba(0,0,0,1);
}
.n_18 {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.991px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6_d {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.971px;
	top: 402.915px;
	overflow: visible;
}
#n_19 {
	fill: rgba(0,0,0,1);
}
.n_19 {
	overflow: visible;
	position: absolute;
	width: 31.532px;
	height: 32.325px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_20 {
	fill: rgba(0,0,0,1);
}
.n_20 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.569px;
	left: 35.352px;
	top: 0.54px;
	transform: matrix(1,0,0,1,0,0);
}
#n_21 {
	fill: rgba(0,0,0,1);
}
.n_21 {
	overflow: visible;
	position: absolute;
	width: 13.57px;
	height: 30.272px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1,0,0,1,0,0);
}
#n_22 {
	fill: rgba(0,0,0,1);
}
.n_22 {
	overflow: visible;
	position: absolute;
	width: 21.008px;
	height: 18.781px;
	left: 110.506px;
	top: 8.396px;
	transform: matrix(1,0,0,1,0,0);
}
#n_23 {
	fill: rgba(0,0,0,1);
}
.n_23 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.564px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1,0,0,1,0,0);
}
#n_24 {
	fill: rgba(0,0,0,1);
}
.n_24 {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.693px;
	left: 179.346px;
	top: 7.524px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_d {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.767px;
	overflow: visible;
}
#n_25 {
	fill: rgba(0,0,0,1);
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.855px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26 {
	fill: rgba(0,0,0,1);
}
.n_26 {
	overflow: visible;
	position: absolute;
	width: 31.892px;
	height: 29.949px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1,0,0,1,0,0);
}
#n_27 {
	fill: rgba(0,0,0,1);
}
.n_27 {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.029px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26_ed {
	fill: rgba(0,0,0,1);
}
.n_26_ed {
	position: absolute;
	overflow: visible;
	width: 193.412px;
	height: 6.776px;
	left: 432.219px;
	top: 111.441px;
}
#n_8_ee {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.603px;
	top: 602.697px;
	overflow: visible;
}
#n_28 {
	fill: rgba(0,0,0,1);
}
.n_28 {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.519px;
	transform: matrix(1,0,0,1,0,0);
}
#n_29 {
	fill: rgba(0,0,0,1);
}
.n_29 {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.205px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1,0,0,1,0,0);
}
#n_30 {
	fill: rgba(0,0,0,1);
}
.n_30 {
	overflow: visible;
	position: absolute;
	width: 20.775px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_31 {
	fill: rgba(0,0,0,1);
}
.n_31 {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.052px;
	transform: matrix(1,0,0,1,0,0);
}
#n_32 {
	fill: rgba(0,0,0,1);
}
.n_32 {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.852px;
	left: 103.74px;
	top: 1.716px;
	transform: matrix(1,0,0,1,0,0);
}
#n_33 {
	fill: rgba(0,0,0,1);
}
.n_33 {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.518px;
	left: 129.714px;
	top: 0.181px;
	transform: matrix(1,0,0,1,0,0);
}
#n_34 {
	fill: rgba(0,0,0,1);
}
.n_34 {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.847px;
	transform: matrix(1,0,0,1,0,0);
}
#n_35 {
	fill: rgba(0,0,0,1);
}
.n_35 {
	overflow: visible;
	position: absolute;
	width: 16.11px;
	height: 20.068px;
	left: 182.831px;
	top: 2.575px;
	transform: matrix(1,0,0,1,0,0);
}
#n_36 {
	fill: rgba(0,0,0,1);
}
.n_36 {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 20.98px;
	left: 215.485px;
	top: 1.807px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_eo {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.473px;
	top: 693.151px;
	overflow: visible;
}
#n_37 {
	fill: rgba(255,255,255,1);
}
.n_37 {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.529px;
	top: 1.14px;
	transform: matrix(1,0,0,1,0,0);
}
#n_38 {
	fill: rgba(255,255,255,1);
}
.n_38 {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.392px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_39 {
	fill: rgba(255,255,255,1);
}
.n_39 {
	overflow: visible;
	position: absolute;
	width: 9.095px;
	height: 11.014px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_40 {
	fill: rgba(255,255,255,1);
}
.n_40 {
	overflow: visible;
	position: absolute;
	width: 130.812px;
	height: 12.645px;
	left: 0.652px;
	top: 42.234px;
	transform: matrix(1,0,0,1,0,0);
}
#n_218 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_63 {
	fill: rgba(229,243,48,1);
}
.n_63 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#n_23_ev {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}
#n_54 {
	fill: rgba(19,10,10,1);
}
.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1,0,0,1,0,0);
}
#n_55 {
	fill: rgba(19,10,10,1);
}
.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.599px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_56 {
	fill: rgba(19,10,10,1);
}
.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1,0,0,1,0,0);
}
#n_57 {
	fill: rgba(19,10,10,1);
}
.n_57 {
	overflow: visible;
	position: absolute;
	width: 26.202px;
	height: 38.152px;
	left: 86.599px;
	top: 0.351px;
	transform: matrix(1,0,0,1,0,0);
}
#n_58 {
	fill: rgba(19,10,10,1);
}
.n_58 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_59 {
	fill: rgba(19,10,10,1);
}
.n_59 {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1,0,0,1,0,0);
}
#n_60 {
	fill: rgba(19,10,10,1);
}
.n_60 {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1,0,0,1,0,0);
}
#n_61 {
	fill: rgba(19,10,10,1);
}
.n_61 {
	overflow: visible;
	position: absolute;
	width: 34.252px;
	height: 38.053px;
	left: 208.847px;
	top: 0.25px;
	transform: matrix(1,0,0,1,0,0);
}
#n_62 {
	fill: rgba(19,10,10,1);
}
.n_62 {
	overflow: visible;
	position: absolute;
	width: 29.952px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}