.mediaViewInfo {
	--web-view-name: 生物研究部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 3104.272px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 生物研究部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Component {
	position: absolute;
	width: 1062.992px;
	height: 3104.272px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_67 {
	fill: rgba(243,170,160,1);
}
.n_67 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3104.272px;
	left: 0px;
	top: 0px;
}
#n__ {
	left: 435.119px;
	top: 1526.963px;
	position: absolute;
	overflow: hidden;
	width: 510.735px;
	height: 306.51654052734375px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_75 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_75 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.099px;
	top: 1967.385px;
	transform: matrix(1,0,0,1,0,0);
}
#n_70 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_70 {
	overflow: visible;
	position: absolute;
	width: 615.462px;
	height: 388.729px;
	left: 387.532px;
	top: 1470.27px;
	transform: matrix(1,0,0,1,0,0);
}
#n_76 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_76 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.386px;
	left: 476.959px;
	top: 1853.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_68 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_68 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 463.54px;
	left: 118.616px;
	top: 2017.008px;
}
#n_69 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_69 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 266.593px;
	left: 118.616px;
	top: 2534.529px;
}
#n_70_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_70_ {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.782px;
	top: 2017.008px;
}
#n_71 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_71 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 421.782px;
	top: 2534.529px;
}
#n_71_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_71_ {
	overflow: visible;
	position: absolute;
	width: 917.239px;
	height: 302.411px;
	left: 85.755px;
	top: 1059.523px;
	transform: matrix(1,0,0,1,0,0);
}
#n_77 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_77 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.336px;
	left: 868.027px;
	top: 1356.934px;
	transform: matrix(1,0,0,1,0,0);
}
#Text {
	left: 47.884px;
	top: 691.302px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#Text_ {
	left: 49.143px;
	top: 641.552px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_45 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1026.635px;
	overflow: visible;
}
#n_69_ba {
	fill: rgba(135,128,136,1);
}
.n_69_ba {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_70_bb {
	fill: rgba(255,255,255,1);
}
.n_70_bb {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 73.802px;
	top: 1040.059px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bd {
	left: 144.442px;
	top: 1040.059px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n___be {
	left: 127.158px;
	top: 1116.756px;
	position: absolute;
	overflow: hidden;
	width: 818.696px;
	height: 219.65879821777344px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_46 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1934.497px;
	overflow: visible;
}
#n_71_bg {
	fill: rgba(135,128,136,1);
}
.n_71_bg {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_72 {
	fill: rgba(255,255,255,1);
}
.n_72 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bi {
	left: 73.802px;
	top: 1947.92px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 144.442px;
	top: 1947.92px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bk {
	left: 198.144px;
	top: 2233.979px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 216.144px;
	top: 2577.799px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__bm {
	left: 224.144px;
	top: 2288.173px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__bn {
	left: 201.144px;
	top: 2336.141px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_bo {
	left: 195.245px;
	top: 2376.246px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_78 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_78 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 85.37px;
	top: 2852.815px;
	transform: matrix(1,0,0,1,0,0);
}
#n_47 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 351.831px;
	top: 1437.382px;
	overflow: visible;
}
#n_73 {
	fill: rgba(135,128,136,1);
}
.n_73 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_74 {
	fill: rgba(255,255,255,1);
}
.n_74 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bt {
	left: 375.579px;
	top: 1450.805px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bu {
	left: 446.219px;
	top: 1450.805px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n_48 {
	position: absolute;
	width: 76.96px;
	height: 147.093px;
	left: 216.664px;
	top: 2043.415px;
	overflow: visible;
}
#n_75_bw {
	fill: rgba(46,47,47,1);
}
.n_75_bw {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_72_bx {
	fill: rgba(46,47,47,1);
}
.n_72_bx {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_by {
	left: 672.692px;
	top: 2213.37px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_bz {
	left: 672.692px;
	top: 2263.708px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -6px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_b {
	left: 620.742px;
	top: 2335.991px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_ca {
	left: 684.842px;
	top: 2370.916px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_76_b {
	fill: rgba(46,47,47,1);
}
.n_76_b {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 646.365px;
	top: 2055.999px;
}
#n_49 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.977px;
	top: 2086.511px;
	overflow: visible;
}
#n_73_b {
	fill: rgba(255,255,255,1);
}
.n_73_b {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cb {
	left: 633.838px;
	top: 2589.888px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 653.692px;
	top: 2692.771px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_74_b {
	fill: rgba(46,47,47,1);
}
.n_74_b {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.839px;
	top: 2637.896px;
	transform: matrix(1,0,0,1,0,0);
}
#n_159 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 67px;
	top: 2909.344px;
	overflow: visible;
}
#Text_cd {
	left: 74.322px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_72_ca {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_72_ca {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_50 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_78_cc {
	fill: rgba(46,47,47,1);
}
.n_78_cc {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_75_cd {
	fill: rgba(255,255,255,1);
}
.n_75_cd {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.24px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_160 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 553.894px;
	top: 2909.344px;
	overflow: visible;
}
#Text_cf {
	left: 123.247px;
	top: 41.37px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_73_cg {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_73_cg {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_51 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.263px;
	top: 20.713px;
	overflow: visible;
}
#n_79 {
	fill: rgba(46,47,47,1);
}
.n_79 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_76_cj {
	fill: rgba(255,255,255,1);
}
.n_76_cj {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_77_ck {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_77_ck {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 497.726px;
	top: 2854.568px;
	transform: matrix(1,0,0,1,0,0);
}
#n_79_cl {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_79_cl {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 525.49px;
	top: 2964.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_136 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 150.832px;
	top: 2646.994px;
	overflow: visible;
}
#n_77_cn {
	fill: rgba(46,47,47,1);
}
.n_77_cn {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: bold;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#Text_cp {
	left: 817.973px;
	top: 2419.333px;
	position: absolute;
	overflow: visible;
	width: 7.651px;
	height: 11px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#Text_cq {
	left: 360.954px;
	top: 2309.034px;
	position: absolute;
	overflow: visible;
	width: 6.321px;
	height: 3px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#n_78_cr {
	fill: rgba(255,255,255,1);
}
.n_78_cr {
	overflow: visible;
	position: absolute;
	width: 912.865px;
	height: 126.442px;
	left: 85.188px;
	top: 833.949px;
	transform: matrix(1,0,0,1,0,0);
}
#n_74_cs {
	fill: rgba(46,47,47,1);
}
.n_74_cs {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 808.197px;
}
#News {
	left: 94.604px;
	top: 816.243px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#Text_cu {
	left: 499.247px;
	top: 880.708px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_75_cv {
	fill: rgba(255,255,255,1);
}
.n_75_cv {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 833.638px;
}
#n_76_cw {
	fill: rgba(255,255,255,1);
}
.n_76_cw {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.246px;
	top: 833.072px;
}
#n_80 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_80 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 144.501px;
	top: 931.95px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3 {
	position: absolute;
	width: 699.666px;
	height: 2494.5px;
	left: 110.219px;
	top: 609.771px;
	display: none;
	overflow: visible;
}
#n_81 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_81 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 23.61px;
	top: 2409.461px;
	transform: matrix(1,0,0,1,0,0);
}
#n_82 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_82 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 324.901px;
	top: 449.752px;
	transform: matrix(1,0,0,1,0,0);
}
#n_83 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_83 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 88.797px;
	top: 704.643px;
	transform: matrix(1,0,0,1,0,0);
}
#n_84 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_84 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 690.81px;
	top: 860.499px;
	transform: matrix(1,0,0,1,0,0);
}
#n_85 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_85 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 454.706px;
	top: 1201.708px;
	transform: matrix(1,0,0,1,0,0);
}
#n_86 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_86 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 28.266px;
	top: 2186.351px;
	transform: matrix(1,0,0,1,0,0);
}
#n_87 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_87 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 457.153px;
	top: 350.62px;
	transform: matrix(1,0,0,1,0,0);
}
#n_88 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_88 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 198.425px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_89 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_89 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 699.666px;
	top: 747.163px;
	transform: matrix(1,0,0,1,0,0);
}
#n_90 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_90 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 382.422px;
	top: 1244.228px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -2px;
	top: -0.375px;
	overflow: visible;
}
#n_194 {
	position: absolute;
	width: 91.579px;
	height: 91.578px;
	left: 263.355px;
	top: 2648.699px;
	overflow: visible;
}
#n_22 {
	fill: rgba(46,47,47,1);
}
.n_22 {
	position: absolute;
	overflow: visible;
	width: 91.579px;
	height: 91.578px;
	left: 0px;
	top: 0px;
}
#n_16 {
	position: absolute;
	width: 51.161px;
	height: 51.169px;
	left: 20.209px;
	top: 20.612px;
	overflow: visible;
}
#n_25 {
	fill: rgba(255,255,255,1);
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 51.161px;
	height: 51.169px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26 {
	fill: rgba(255,255,255,1);
}
.n_26 {
	overflow: visible;
	position: absolute;
	width: 26.275px;
	height: 26.283px;
	left: 12.436px;
	top: 12.437px;
	transform: matrix(1,0,0,1,0,0);
}
#n_27 {
	fill: rgba(255,255,255,1);
}
.n_27 {
	overflow: visible;
	position: absolute;
	width: 6.139px;
	height: 6.146px;
	left: 36.165px;
	top: 8.854px;
	transform: matrix(1,0,0,1,0,0);
}