* {
	text-decoration: none;
	color: #000000;
}

*  {
	font-family:fot-tsukuardgothic-std, sans-serif;
	font-style: normal;
	font-weight: bold;
}
.mediaViewInfo {
	--web-view-name: チアリーディング部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4528.43px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: チアリーディング部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group {
	position: absolute;
	width: 1062.992px;
	height: 4528.43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_186 {
	fill: rgba(251,164,159,1);
}
.n_186 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3753.672px;
	left: 0px;
	top: 0px;
}
#n_187 {
	fill: rgba(229,243,48,1);
}
.n_187 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3753.672px;
}
#n_188 {
	fill: rgba(255,255,255,1);
}
.n_188 {
	position: absolute;
	overflow: visible;
	width: 962.925px;
	height: 63.005px;
	left: 49.469px;
	top: 4338.53px;
}
#n_75 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_75 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.01px;
	top: 2467.599px;
	transform: matrix(1,0,0,1,0,0);
}
#n_207 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_207 {
	overflow: visible;
	position: absolute;
	width: 694.493px;
	height: 318.062px;
	left: 290.104px;
	top: 2041.152px;
	transform: matrix(1,0,0,1,0,0);
}
#n_189 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_189 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 463.54px;
	left: 118.526px;
	top: 2517.222px;
}
#n_190 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_190 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 266.593px;
	left: 118.526px;
	top: 3009.1px;
}
#n_191 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_191 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.693px;
	top: 2517.222px;
}
#n_192 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_192 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 421.693px;
	top: 3009.1px;
}
#n_208 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_208 {
	overflow: visible;
	position: absolute;
	width: 899.408px;
	height: 361.225px;
	left: 85.188px;
	top: 1571.541px;
	transform: matrix(1,0,0,1,0,0);
}
#n_209 {
	fill: rgba(255,255,255,1);
}
.n_209 {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.035px;
	left: 85.188px;
	top: 1120.294px;
	transform: matrix(1,0,0,1,0,0);
}
#n_76 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_76 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.386px;
	left: 740.841px;
	top: 1927.766px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_bf {
	position: absolute;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1094.541px;
	overflow: visible;
}
#n_193 {
	fill: rgba(39,31,35,1);
}
.n_193 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 157.874px;
	top: 3333.926px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n__ {
	left: 161.417px;
	top: 3395.122px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_210 {
	fill: rgba(0,0,0,1);
}
.n_210 {
	overflow: visible;
	position: absolute;
	width: 16.25px;
	height: 27.112px;
	left: 963.6px;
	top: 4356.476px;
	transform: matrix(1,0,0,1,0,0);
}
#MENU {
	left: 459.935px;
	top: 3812.336px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Text_bl {
	left: 477.935px;
	top: 3913.128px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bm {
	left: 476.935px;
	top: 3993.512px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bn {
	left: 458.935px;
	top: 4073.895px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bo {
	left: 437.935px;
	top: 4154.278px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bp {
	left: 476.935px;
	top: 4234.661px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n_194 {
	fill: rgba(0,0,0,1);
}
.n_194 {
	position: absolute;
	overflow: visible;
	width: 193.206px;
	height: 6.776px;
	left: 431.76px;
	top: 3865.113px;
}
#Text_br {
	left: 413.935px;
	top: 4354.84px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_148 {
	position: absolute;
	width: 135.048px;
	height: 54.879px;
	left: 474.969px;
	top: 4446.823px;
	overflow: visible;
}
#n_211 {
	fill: rgba(255,255,255,1);
}
.n_211 {
	overflow: visible;
	position: absolute;
	width: 94.563px;
	height: 34.005px;
	left: 40.485px;
	top: 1.14px;
	transform: matrix(1,0,0,1,0,0);
}
#n_212 {
	fill: rgba(255,255,255,1);
}
.n_212 {
	overflow: visible;
	position: absolute;
	width: 42.194px;
	height: 33.391px;
	left: 0px;
	top: 1.002px;
	transform: matrix(1,0,0,1,0,0);
}
#n_213 {
	fill: rgba(255,255,255,1);
}
.n_213 {
	overflow: visible;
	position: absolute;
	width: 9.084px;
	height: 11.014px;
	left: 64.954px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_214 {
	fill: rgba(255,255,255,1);
}
.n_214 {
	overflow: visible;
	position: absolute;
	width: 130.673px;
	height: 12.645px;
	left: 0.651px;
	top: 42.234px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bx {
	left: 47.319px;
	top: 804.689px;
	position: absolute;
	overflow: visible;
	width: 631px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(39,31,35,1);
}
#n_ {
	left: 48.579px;
	top: 913.612px;
	position: absolute;
	overflow: visible;
	width: 631px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#Text_bz {
	left: 48.578px;
	top: 754.94px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_149 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 49.487px;
	top: 1538.653px;
	overflow: visible;
}
#n_133 {
	fill: rgba(139,123,130,1);
}
.n_133 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.114px;
}
#n_134 {
	fill: rgba(255,255,255,1);
}
.n_134 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__b {
	left: 73.224px;
	top: 1552.076px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_b {
	left: 143.864px;
	top: 1552.076px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#News {
	left: 94.593px;
	top: 1102.585px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0231020 {
	left: 142.663px;
	top: 1167.675px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_441 {
	position: absolute;
	width: 156.813px;
	height: 27.113px;
	left: 795.609px;
	top: 1422.07px;
	overflow: visible;
}
#n_215 {
	fill: rgba(39,31,35,1);
}
.n_215 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.545px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ca {
	left: 0px;
	top: 1.055px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#Text_cb {
	left: 143.093px;
	top: 1219.02px;
	position: absolute;
	overflow: visible;
	width: 701px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#n_0230203 {
	left: 142.663px;
	top: 1298.077px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n__cc {
	left: 142.663px;
	top: 1349.737px;
	position: absolute;
	overflow: visible;
	width: 491px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#n_005THUNDERSNo1__ {
	left: 126.592px;
	top: 1642.407px;
	position: absolute;
	overflow: hidden;
	width: 803.686px;
	height: 264.8746337890625px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_150 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 49.964px;
	top: 2434.711px;
	overflow: visible;
}
#n_135 {
	fill: rgba(139,123,130,1);
}
.n_135 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_136 {
	fill: rgba(255,255,255,1);
}
.n_136 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__ch {
	left: 73.701px;
	top: 2448.135px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#DATA {
	left: 144.341px;
	top: 2448.135px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cj {
	left: 198.046px;
	top: 2734.194px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#SNS {
	left: 216.046px;
	top: 3052.372px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_6 {
	left: 213.046px;
	top: 2788.388px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_cm {
	left: 207.146px;
	top: 2832.271px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(39,31,35,1);
}
#n_151 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 254.403px;
	top: 2008.264px;
	overflow: visible;
}
#n_137 {
	fill: rgba(139,123,130,1);
}
.n_137 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_138 {
	fill: rgba(255,255,255,1);
}
.n_138 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__cq {
	left: 278.142px;
	top: 2021.687px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cr {
	left: 348.782px;
	top: 2021.687px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cs {
	left: 331.508px;
	top: 2112.019px;
	position: absolute;
	overflow: visible;
	width: 619.352px;
	height: 221.27435302734375px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_152 {
	position: absolute;
	width: 76.96px;
	height: 147.093px;
	left: 216.575px;
	top: 2543.629px;
	overflow: visible;
}
#n_139 {
	fill: rgba(39,31,35,1);
}
.n_139 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_216 {
	fill: rgba(39,31,35,1);
}
.n_216 {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cw {
	left: 672.594px;
	top: 2734.194px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_0002000_ {
	left: 450.594px;
	top: 2795.388px;
	position: absolute;
	overflow: visible;
	width: 521px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#Text_cy {
	left: 620.594px;
	top: 2849.171px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(39,31,35,1);
}
#n_100000 {
	left: 437.695px;
	top: 2880.975px;
	position: absolute;
	overflow: visible;
	width: 547px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_140 {
	fill: rgba(39,31,35,1);
}
.n_140 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 646.276px;
	top: 2556.213px;
}
#n_153 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.888px;
	top: 2586.726px;
	overflow: visible;
}
#n_217 {
	fill: rgba(255,255,255,1);
}
.n_217 {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_c {
	left: 633.74px;
	top: 3052.371px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_da {
	left: 462.74px;
	top: 3149.24px;
	position: absolute;
	overflow: visible;
	width: 495px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_218 {
	fill: rgba(39,31,35,1);
}
.n_218 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.75px;
	top: 3112.467px;
	transform: matrix(1,0,0,1,0,0);
}
#n_79 {
	fill: transparent;
	stroke: rgba(39,31,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_79 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.092px;
	top: 1269.67px;
	transform: matrix(1,0,0,1,0,0);
}
#n_80 {
	fill: transparent;
	stroke: rgba(39,31,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_80 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.092px;
	top: 1400.364px;
	transform: matrix(1,0,0,1,0,0);
}
#n_197 {
	fill: rgba(255,255,255,1);
}
.n_197 {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1119.982px;
}
#n_198 {
	fill: rgba(255,255,255,1);
}
.n_198 {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.245px;
	top: 1119.416px;
}
#n_159 {
	position: absolute;
	width: 1062.992px;
	height: 597.933px;
	left: 0px;
	top: 115.07px;
	overflow: visible;
}
#n_158 {
	position: absolute;
	width: 1062.992px;
	height: 597.933px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_81 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_81 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.386px;
	left: 433.65px;
	top: 2354.214px;
	transform: matrix(1,0,0,1,0,0);
}
#n_201 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_201 {
	position: absolute;
	overflow: visible;
	width: 884.378px;
	height: 146.732px;
	left: 118.526px;
	top: 3305.543px;
}
#n_160 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: -0.392px;
	overflow: visible;
}
#n_202 {
	fill: rgba(229,243,48,1);
}
.n_202 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#Meiden-XR {
	left: 65.102px;
	top: 33.239px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	line-height: 87.5px;
	margin-top: -18.75px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(19,10,10,1);
}
#n_390 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 260.183px;
	top: 3121.643px;
	overflow: visible;
}
#n_142 {
	fill: rgba(39,31,35,1);
}
.n_142 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#n_156 {
	position: absolute;
	width: 52.863px;
	height: 52.871px;
	left: 20.881px;
	top: 21.298px;
	overflow: visible;
}
#n_220 {
	fill: rgba(255,255,255,1);
}
.n_220 {
	overflow: visible;
	position: absolute;
	width: 52.863px;
	height: 52.871px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_221 {
	fill: rgba(255,255,255,1);
}
.n_221 {
	overflow: visible;
	position: absolute;
	width: 27.151px;
	height: 27.158px;
	left: 12.85px;
	top: 12.85px;
	transform: matrix(1,0,0,1,0,0);
}
#n_222 {
	fill: rgba(255,255,255,1);
}
.n_222 {
	overflow: visible;
	position: absolute;
	width: 6.345px;
	height: 6.349px;
	left: 37.367px;
	top: 9.147px;
	transform: matrix(1,0,0,1,0,0);
}
#n_391 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 155.283px;
	top: 3121.566px;
	overflow: visible;
}
#n_291 {
	fill: rgba(39,31,35,1);
}
.n_291 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 31.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#n_360 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 99.725px;
	top: 3558.745px;
	overflow: visible;
}
#Text_dr {
	left: 172.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#n_244 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_244 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_157 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.639px;
	overflow: visible;
}
#n_143 {
	fill: rgba(39,31,35,1);
}
.n_143 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_223 {
	fill: rgba(255,255,255,1);
}
.n_223 {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.24px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_359 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 586.619px;
	top: 3558.745px;
	overflow: visible;
}
#Text_dx {
	left: 138.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#n_245 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_245 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_158_dz {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.263px;
	top: 20.713px;
	overflow: visible;
}
#n_144 {
	fill: rgba(39,31,35,1);
}
.n_144 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_224 {
	fill: rgba(255,255,255,1);
}
.n_224 {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 26.426px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_453 {
	position: absolute;
	width: 918.261px;
	height: 109.72px;
	left: 99.725px;
	top: 3503.885px;
	overflow: visible;
}
#n_6_d {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_6_d {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 56.168px;
	height: 5px;
	left: 431.367px;
	top: 109.72px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 109.72px;
	left: 459.131px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}