.mediaViewInfo {
	--web-view-name: 情報システム部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 3738.131px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 情報システム部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_165 {
	fill: rgba(243,170,160,1);
}
.n_165 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3738.131px;
	left: 0px;
	top: 0px;
}
#n_231 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_231 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.1px;
	top: 2626.822px;
	transform: matrix(1,0,0,1,0,0);
}
#n_159 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_159 {
	overflow: visible;
	position: absolute;
	width: 800.354px;
	height: 345.376px;
	left: 202.639px;
	top: 2172.737px;
	transform: matrix(1,0,0,1,0,0);
}
#n_232 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_232 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 117.333px;
	left: 434.217px;
	top: 2514.489px;
	transform: matrix(1,0,0,1,0,0);
}
#n_166 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_166 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 118.616px;
	top: 2676.444px;
}
#n_167 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_167 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 118.616px;
	top: 3168.322px;
}
#n_168 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_168 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.782px;
	top: 2676.444px;
}
#n_169 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_169 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 421.782px;
	top: 3168.322px;
}
#n_160 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_160 {
	overflow: visible;
	position: absolute;
	width: 917.238px;
	height: 521.592px;
	left: 85.755px;
	top: 1542.834px;
	transform: matrix(1,0,0,1,0,0);
}
#n_161 {
	fill: rgba(255,255,255,1);
}
.n_161 {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.035px;
	left: 85.755px;
	top: 1092.418px;
	transform: matrix(1,0,0,1,0,0);
}
#n_233 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_233 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.311px;
	left: 741.985px;
	top: 2059.426px;
	transform: matrix(1,0,0,1,0,0);
}
#n_170 {
	fill: rgba(46,47,47,1);
}
.n_170 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1066.665px;
}
#Text {
	left: 47.884px;
	top: 691.302px;
	position: absolute;
	overflow: visible;
	width: 491px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#AIIT__IT {
	left: 49.144px;
	top: 800.224px;
	position: absolute;
	overflow: visible;
	width: 876px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_ {
	left: 49.143px;
	top: 641.552px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_110 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1509.946px;
	overflow: visible;
}
#n_168_bb {
	fill: rgba(135,128,136,1);
}
.n_168_bb {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_169_bc {
	fill: rgba(255,255,255,1);
}
.n_169_bc {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 73.802px;
	top: 1523.369px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_be {
	left: 144.442px;
	top: 1523.369px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 95.171px;
	top: 1074.711px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0231010 {
	left: 143.241px;
	top: 1148.177px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_189 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 796.184px;
	top: 1394.195px;
	overflow: visible;
}
#n_162 {
	fill: rgba(46,47,47,1);
}
.n_162 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bj {
	left: 0px;
	top: 1.057px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bk {
	left: 143.241px;
	top: 1187.146px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_0230821 {
	left: 143.241px;
	top: 1267.893px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bm {
	left: 143.241px;
	top: 1306.863px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#AIWebIT____IT {
	left: 127.158px;
	top: 1599.526px;
	position: absolute;
	overflow: visible;
	width: 818.696px;
	height: 439.3796081542969px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_111 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 2593.933px;
	overflow: visible;
}
#n_170_bp {
	fill: rgba(135,128,136,1);
}
.n_170_bp {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_171 {
	fill: rgba(255,255,255,1);
}
.n_171 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__br {
	left: 73.802px;
	top: 2607.357px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 144.442px;
	top: 2607.357px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bt {
	left: 198.145px;
	top: 2893.416px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 216.145px;
	top: 3211.593px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_3 {
	left: 213.145px;
	top: 2947.61px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__bw {
	left: 201.145px;
	top: 2995.577px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_bx {
	left: 195.245px;
	top: 3035.683px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_234 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_234 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 85.748px;
	top: 3486.735px;
	transform: matrix(1,0,0,1,0,0);
}
#n_112 {
	position: absolute;
	width: 73.574px;
	height: 73.573px;
	left: 166.938px;
	top: 2139.849px;
	overflow: visible;
}
#n_172 {
	fill: rgba(135,128,136,1);
}
.n_172 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_173 {
	fill: rgba(255,255,255,1);
}
.n_173 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__b {
	left: 190.687px;
	top: 2153.272px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_b {
	left: 261.326px;
	top: 2153.272px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n__PC_PC_IT_______ {
	left: 244.043px;
	top: 2229.428px;
	position: absolute;
	overflow: hidden;
	width: 734.055px;
	height: 263.16400146484375px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_113 {
	position: absolute;
	width: 76.96px;
	height: 147.093px;
	left: 216.665px;
	top: 2702.851px;
	overflow: visible;
}
#n_174 {
	fill: rgba(46,47,47,1);
}
.n_174 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_163 {
	fill: rgba(46,47,47,1);
}
.n_163 {
	overflow: visible;
	position: absolute;
	width: 76.959px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ca {
	left: 672.692px;
	top: 2893.416px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cb {
	left: 672.692px;
	top: 2947.61px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 620.692px;
	top: 3008.393px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_000 {
	left: 665.792px;
	top: 3040.198px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_175 {
	fill: rgba(46,47,47,1);
}
.n_175 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 646.365px;
	top: 2715.435px;
}
#n_114 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.977px;
	top: 2745.948px;
	overflow: visible;
}
#n_164 {
	fill: rgba(255,255,255,1);
}
.n_164 {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cf {
	left: 633.838px;
	top: 3223.681px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cg {
	left: 539.692px;
	top: 3326.564px;
	position: absolute;
	overflow: visible;
	width: 343px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_165_ch {
	fill: rgba(46,47,47,1);
}
.n_165_ch {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.839px;
	top: 3271.689px;
	transform: matrix(1,0,0,1,0,0);
}
#n_172_ci {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 67.377px;
	top: 3543.264px;
	overflow: visible;
}
#Text_cj {
	left: 142.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_171_ck {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_171_ck {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_115 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_177 {
	fill: rgba(46,47,47,1);
}
.n_177 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_166_cn {
	fill: rgba(255,255,255,1);
}
.n_166_cn {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_173_co {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 554.271px;
	top: 3543.264px;
	overflow: visible;
}
#Text_cp {
	left: 153.247px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_172_cq {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_172_cq {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_116 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_178 {
	fill: rgba(46,47,47,1);
}
.n_178 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_167_ct {
	fill: rgba(255,255,255,1);
}
.n_167_ct {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_168_cu {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_168_cu {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 498.104px;
	top: 3488.488px;
	transform: matrix(1,0,0,1,0,0);
}
#n_235 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_235 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 525.867px;
	top: 3598.135px;
	transform: matrix(1,0,0,1,0,0);
}
#n_236 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_236 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1241.794px;
	transform: matrix(1,0,0,1,0,0);
}
#n_237 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_237 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1372.488px;
	transform: matrix(1,0,0,1,0,0);
}
#n_173_cy {
	fill: rgba(255,255,255,1);
}
.n_173_cy {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1092.106px;
}
#n_174_cz {
	fill: rgba(255,255,255,1);
}
.n_174_cz {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.813px;
	top: 1091.541px;
}
#n_141 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.933px;
	top: 3280.788px;
	overflow: visible;
}
#n_176 {
	fill: rgba(46,47,47,1);
}
.n_176 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: bold;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#n_3_c {
	position: absolute;
	width: 631.384px;
	height: 2756.505px;
	left: 88.089px;
	top: 981.626px;
	display: none;
	overflow: visible;
}
#n_238 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_238 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 447.918px;
	top: 561.208px;
	transform: matrix(1,0,0,1,0,0);
}
#n_239 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_239 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 211.813px;
	top: 1035.28px;
	transform: matrix(1,0,0,1,0,0);
}
#n_240 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_240 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 558.276px;
	top: 1191.111px;
	transform: matrix(1,0,0,1,0,0);
}
#n_241 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_241 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 322.173px;
	top: 1488.968px;
	transform: matrix(1,0,0,1,0,0);
}
#n_242 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_242 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 149.799px;
	top: 2671.465px;
	transform: matrix(1,0,0,1,0,0);
}
#n_243 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_243 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 154.454px;
	top: 2448.355px;
	transform: matrix(1,0,0,1,0,0);
}
#n_244 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_244 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 326.776px;
	top: 462.679px;
	transform: matrix(1,0,0,1,0,0);
}
#n_245 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_245 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_246 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_246 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 631.384px;
	top: 1077.8px;
	transform: matrix(1,0,0,1,0,0);
}
#n_247 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_247 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 318.962px;
	top: 1531.577px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -1.913px;
	top: 0.204px;
	overflow: visible;
}