*{
	text-decoration: none;
	color: #000000;
  }
.mediaViewInfo {
	--web-view-name: 情報システム部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4626.274px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 情報システム部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_165 {
	fill: rgba(243,170,160,1);
}
.n_165 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3851.516px;
	left: 0px;
	top: 0px;
}
#n_231 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_231 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.1px;
	top: 2740.003px;
	transform: matrix(1,0,0,1,0,0);
}
#n_159 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_159 {
	overflow: visible;
	position: absolute;
	width: 800.354px;
	height: 345.376px;
	left: 202.639px;
	top: 2285.918px;
	transform: matrix(1,0,0,1,0,0);
}
#n_232 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_232 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 117.333px;
	left: 434.217px;
	top: 2627.671px;
	transform: matrix(1,0,0,1,0,0);
}
#n_166 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_166 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 118.616px;
	top: 2789.626px;
}
#n_167 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_167 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 118.616px;
	top: 3281.504px;
}
#n_168 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_168 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.782px;
	top: 2789.626px;
}
#n_169 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_169 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 421.782px;
	top: 3281.504px;
}
#n_160 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_160 {
	overflow: visible;
	position: absolute;
	width: 917.238px;
	height: 521.592px;
	left: 85.755px;
	top: 1656.015px;
	transform: matrix(1,0,0,1,0,0);
}
#n_161 {
	fill: rgba(255,255,255,1);
}
.n_161 {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.035px;
	left: 85.755px;
	top: 1205.6px;
	transform: matrix(1,0,0,1,0,0);
}
#n_233 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_233 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.311px;
	left: 741.985px;
	top: 2172.608px;
	transform: matrix(1,0,0,1,0,0);
}
#n_170 {
	fill: rgba(46,47,47,1);
}
.n_170 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1179.847px;
}
#Text {
	left: 47.884px;
	top: 804.483px;
	position: absolute;
	overflow: visible;
	width: 491px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#AIIT__IT {
	left: 49.144px;
	top: 913.406px;
	position: absolute;
	overflow: visible;
	width: 876px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_ {
	left: 49.143px;
	top: 754.734px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_110 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1623.127px;
	overflow: visible;
}
#n_168_bb {
	fill: rgba(135,128,136,1);
}
.n_168_bb {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_169_bc {
	fill: rgba(255,255,255,1);
}
.n_169_bc {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 73.802px;
	top: 1636.551px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_be {
	left: 144.442px;
	top: 1636.551px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 95.171px;
	top: 1187.893px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0231010 {
	left: 143.241px;
	top: 1261.358px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_189 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 796.184px;
	top: 1507.377px;
	overflow: visible;
}
#n_162 {
	fill: rgba(46,47,47,1);
}
.n_162 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bj {
	left: 0px;
	top: 1.057px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bk {
	left: 143.241px;
	top: 1300.328px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_0230821 {
	left: 143.241px;
	top: 1381.075px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bm {
	left: 143.241px;
	top: 1420.044px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#AIWebIT____IT {
	left: 127.158px;
	top: 1712.708px;
	position: absolute;
	overflow: visible;
	width: 818.696px;
	height: 439.3796081542969px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_111 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 2707.115px;
	overflow: visible;
}
#n_170_bp {
	fill: rgba(135,128,136,1);
}
.n_170_bp {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.114px;
}
#n_171 {
	fill: rgba(255,255,255,1);
}
.n_171 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__br {
	left: 73.802px;
	top: 2720.539px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 144.442px;
	top: 2720.539px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bt {
	left: 198.145px;
	top: 3006.597px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 216.145px;
	top: 3324.774px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_3 {
	left: 213.145px;
	top: 3060.791px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__bw {
	left: 201.145px;
	top: 3108.759px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_bx {
	left: 195.245px;
	top: 3148.864px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_234 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_234 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 85.748px;
	top: 3599.916px;
	transform: matrix(1,0,0,1,0,0);
}
#n_112 {
	position: absolute;
	width: 73.574px;
	height: 73.573px;
	left: 166.938px;
	top: 2253.03px;
	overflow: visible;
}
#n_172 {
	fill: rgba(135,128,136,1);
}
.n_172 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_173 {
	fill: rgba(255,255,255,1);
}
.n_173 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__b {
	left: 190.687px;
	top: 2266.454px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_b {
	left: 261.326px;
	top: 2266.454px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n__PC_PC_IT_______ {
	left: 244.043px;
	top: 2342.61px;
	position: absolute;
	overflow: hidden;
	width: 734.055px;
	height: 263.16400146484375px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_113 {
	position: absolute;
	width: 76.96px;
	height: 147.093px;
	left: 216.665px;
	top: 2816.033px;
	overflow: visible;
}
#n_174 {
	fill: rgba(46,47,47,1);
}
.n_174 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_163 {
	fill: rgba(46,47,47,1);
}
.n_163 {
	overflow: visible;
	position: absolute;
	width: 76.959px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ca {
	left: 672.692px;
	top: 3006.597px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cb {
	left: 672.692px;
	top: 3060.791px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 620.692px;
	top: 3121.574px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_000 {
	left: 665.792px;
	top: 3153.38px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_175 {
	fill: rgba(46,47,47,1);
}
.n_175 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 646.365px;
	top: 2828.616px;
}
#n_114 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.977px;
	top: 2859.13px;
	overflow: visible;
}
#n_164 {
	fill: rgba(255,255,255,1);
}
.n_164 {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cf {
	left: 633.838px;
	top: 3336.863px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cg {
	left: 539.692px;
	top: 3439.746px;
	position: absolute;
	overflow: visible;
	width: 343px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_165_ch {
	fill: rgba(46,47,47,1);
}
.n_165_ch {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.839px;
	top: 3384.871px;
	transform: matrix(1,0,0,1,0,0);
}
#n_172_ci {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 67.377px;
	top: 3656.446px;
	overflow: visible;
}
#Text_cj {
	left: 142.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_171_ck {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_171_ck {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_115 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_177 {
	fill: rgba(46,47,47,1);
}
.n_177 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_166_cn {
	fill: rgba(255,255,255,1);
}
.n_166_cn {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_173_co {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 554.271px;
	top: 3656.446px;
	overflow: visible;
}
#Text_cp {
	left: 153.247px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_172_cq {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_172_cq {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_116 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_178 {
	fill: rgba(46,47,47,1);
}
.n_178 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_167_ct {
	fill: rgba(255,255,255,1);
}
.n_167_ct {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_168_cu {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_168_cu {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 498.104px;
	top: 3601.67px;
	transform: matrix(1,0,0,1,0,0);
}
#n_235 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_235 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 525.867px;
	top: 3711.316px;
	transform: matrix(1,0,0,1,0,0);
}
#n_236 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_236 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1354.976px;
	transform: matrix(1,0,0,1,0,0);
}
#n_237 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_237 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1485.67px;
	transform: matrix(1,0,0,1,0,0);
}
#n_173_cy {
	fill: rgba(255,255,255,1);
}
.n_173_cy {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1205.288px;
}
#n_174_cz {
	fill: rgba(255,255,255,1);
}
.n_174_cz {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.813px;
	top: 1204.723px;
}
#n_141 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.933px;
	top: 3393.969px;
	overflow: visible;
}
#n_176 {
	fill: rgba(46,47,47,1);
}
.n_176 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 32.812px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#n_3_c {
	position: absolute;
	width: 631.384px;
	height: 2756.505px;
	left: 88.089px;
	top: 981.626px;
	display: none;
	overflow: visible;
}
#n_238 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_238 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 447.918px;
	top: 561.208px;
	transform: matrix(1,0,0,1,0,0);
}
#n_239 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_239 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 211.813px;
	top: 1035.28px;
	transform: matrix(1,0,0,1,0,0);
}
#n_240 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_240 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 558.276px;
	top: 1191.111px;
	transform: matrix(1,0,0,1,0,0);
}
#n_241 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_241 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 322.173px;
	top: 1488.968px;
	transform: matrix(1,0,0,1,0,0);
}
#n_242 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_242 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 149.799px;
	top: 2671.465px;
	transform: matrix(1,0,0,1,0,0);
}
#n_243 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_243 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 154.454px;
	top: 2448.355px;
	transform: matrix(1,0,0,1,0,0);
}
#n_244 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_244 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 326.776px;
	top: 462.679px;
	transform: matrix(1,0,0,1,0,0);
}
#n_245 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_245 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_246 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_246 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 631.384px;
	top: 1077.8px;
	transform: matrix(1,0,0,1,0,0);
}
#n_247 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_247 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 318.962px;
	top: 1531.577px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -1.913px;
	top: 113.386px;
	overflow: visible;
}
#n_221 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3851.516px;
	overflow: visible;
}
#n_2 {
	fill: rgba(229,243,48,1);
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}
#n_3_dh {
	fill: rgba(255,255,255,1);
}
.n_3_dh {
	position: absolute;
	overflow: visible;
	width: 963.949px;
	height: 63.005px;
	left: 49.521px;
	top: 584.857px;
}
#n_2_di {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.331px;
	overflow: visible;
}
#n_5 {
	fill: rgba(0,0,0,1);
}
.n_5 {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.532px;
	left: 0px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6 {
	fill: rgba(0,0,0,1);
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 22.802px;
	height: 37.251px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	fill: rgba(0,0,0,1);
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.715px;
	height: 36.627px;
	left: 74.303px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	fill: rgba(0,0,0,1);
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.819px;
	left: 112.028px;
	top: 0.384px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_dn {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.071px;
	overflow: visible;
}
#n_9 {
	fill: rgba(0,0,0,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.203px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_10 {
	fill: rgba(0,0,0,1);
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.562px;
	left: 36.705px;
	top: 9.95px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	fill: rgba(0,0,0,1);
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 24.988px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}
#n_12 {
	fill: rgba(0,0,0,1);
}
.n_12 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13_dt {
	fill: rgba(0,0,0,1);
}
.n_13_dt {
	overflow: visible;
	position: absolute;
	width: 27.526px;
	height: 18.998px;
	left: 39.914px;
	top: 8.085px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14 {
	fill: rgba(0,0,0,1);
}
.n_14 {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.46px;
	left: 72.827px;
	top: 0.071px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_dv {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.533px;
	overflow: visible;
}
#n_15 {
	fill: rgba(0,0,0,1);
}
.n_15 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_16 {
	fill: rgba(0,0,0,1);
}
.n_16 {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.179px;
	left: 34.668px;
	top: 0.036px;
	transform: matrix(1,0,0,1,0,0);
}
#n_17 {
	fill: rgba(0,0,0,1);
}
.n_17 {
	overflow: visible;
	position: absolute;
	width: 33.224px;
	height: 31.317px;
	left: 70.812px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_18 {
	fill: rgba(0,0,0,1);
}
.n_18 {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.991px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6_d {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.972px;
	top: 402.915px;
	overflow: visible;
}
#n_19 {
	fill: rgba(0,0,0,1);
}
.n_19 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.325px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_20 {
	fill: rgba(0,0,0,1);
}
.n_20 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.569px;
	left: 35.352px;
	top: 0.54px;
	transform: matrix(1,0,0,1,0,0);
}
#n_21 {
	fill: rgba(0,0,0,1);
}
.n_21 {
	overflow: visible;
	position: absolute;
	width: 13.569px;
	height: 30.272px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1,0,0,1,0,0);
}
#n_22 {
	fill: rgba(0,0,0,1);
}
.n_22 {
	overflow: visible;
	position: absolute;
	width: 21.009px;
	height: 18.781px;
	left: 110.505px;
	top: 8.396px;
	transform: matrix(1,0,0,1,0,0);
}
#n_23 {
	fill: rgba(0,0,0,1);
}
.n_23 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.564px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1,0,0,1,0,0);
}
#n_24 {
	fill: rgba(0,0,0,1);
}
.n_24 {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.693px;
	left: 179.345px;
	top: 7.524px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_d {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.767px;
	overflow: visible;
}
#n_25 {
	fill: rgba(0,0,0,1);
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.855px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26 {
	fill: rgba(0,0,0,1);
}
.n_26 {
	overflow: visible;
	position: absolute;
	width: 31.892px;
	height: 29.949px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1,0,0,1,0,0);
}
#n_27 {
	fill: rgba(0,0,0,1);
}
.n_27 {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.029px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26_eb {
	fill: rgba(0,0,0,1);
}
.n_26_eb {
	position: absolute;
	overflow: visible;
	width: 193.411px;
	height: 6.776px;
	left: 432.219px;
	top: 111.441px;
}
#n_8_ec {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.603px;
	top: 602.697px;
	overflow: visible;
}
#n_28 {
	fill: rgba(0,0,0,1);
}
.n_28 {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.519px;
	transform: matrix(1,0,0,1,0,0);
}
#n_29 {
	fill: rgba(0,0,0,1);
}
.n_29 {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.205px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1,0,0,1,0,0);
}
#n_30 {
	fill: rgba(0,0,0,1);
}
.n_30 {
	overflow: visible;
	position: absolute;
	width: 20.774px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_31 {
	fill: rgba(0,0,0,1);
}
.n_31 {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.052px;
	transform: matrix(1,0,0,1,0,0);
}
#n_32 {
	fill: rgba(0,0,0,1);
}
.n_32 {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.852px;
	left: 103.74px;
	top: 1.716px;
	transform: matrix(1,0,0,1,0,0);
}
#n_33 {
	fill: rgba(0,0,0,1);
}
.n_33 {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.518px;
	left: 129.714px;
	top: 0.181px;
	transform: matrix(1,0,0,1,0,0);
}
#n_34 {
	fill: rgba(0,0,0,1);
}
.n_34 {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.847px;
	transform: matrix(1,0,0,1,0,0);
}
#n_35 {
	fill: rgba(0,0,0,1);
}
.n_35 {
	overflow: visible;
	position: absolute;
	width: 16.109px;
	height: 20.068px;
	left: 182.831px;
	top: 2.575px;
	transform: matrix(1,0,0,1,0,0);
}
#n_36 {
	fill: rgba(0,0,0,1);
}
.n_36 {
	overflow: visible;
	position: absolute;
	width: 9.999px;
	height: 20.98px;
	left: 215.485px;
	top: 1.807px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_em {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.474px;
	top: 693.151px;
	overflow: visible;
}
#n_37 {
	fill: rgba(255,255,255,1);
}
.n_37 {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.528px;
	top: 1.14px;
	transform: matrix(1,0,0,1,0,0);
}
#n_38 {
	fill: rgba(255,255,255,1);
}
.n_38 {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.392px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_39 {
	fill: rgba(255,255,255,1);
}
.n_39 {
	overflow: visible;
	position: absolute;
	width: 9.094px;
	height: 11.014px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_40 {
	fill: rgba(255,255,255,1);
}
.n_40 {
	overflow: visible;
	position: absolute;
	width: 130.813px;
	height: 12.645px;
	left: 0.651px;
	top: 42.234px;
	transform: matrix(1,0,0,1,0,0);
}
#n_222 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_63 {
	fill: rgba(229,243,48,1);
}
.n_63 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#n_23_et {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}
#n_54 {
	fill: rgba(19,10,10,1);
}
.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1,0,0,1,0,0);
}
#n_55 {
	fill: rgba(19,10,10,1);
}
.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.6px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_56 {
	fill: rgba(19,10,10,1);
}
.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1,0,0,1,0,0);
}
#n_57 {
	fill: rgba(19,10,10,1);
}
.n_57 {
	overflow: visible;
	position: absolute;
	width: 26.201px;
	height: 38.152px;
	left: 86.6px;
	top: 0.351px;
	transform: matrix(1,0,0,1,0,0);
}
#n_58 {
	fill: rgba(19,10,10,1);
}
.n_58 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_59 {
	fill: rgba(19,10,10,1);
}
.n_59 {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1,0,0,1,0,0);
}
#n_60 {
	fill: rgba(19,10,10,1);
}
.n_60 {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1,0,0,1,0,0);
}
#n_61 {
	fill: rgba(19,10,10,1);
}
.n_61 {
	overflow: visible;
	position: absolute;
	width: 34.253px;
	height: 38.053px;
	left: 208.847px;
	top: 0.25px;
	transform: matrix(1,0,0,1,0,0);
}
#n_62 {
	fill: rgba(19,10,10,1);
}
.n_62 {
	overflow: visible;
	position: absolute;
	width: 29.952px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}