*{
	text-decoration: none;
	color: #000000;
  }
  
.mediaViewInfo {
	--web-view-name: 中国研究部;
	--web-view-id: Artboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4375.675px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 中国研究部;
	--web-view-id: Artboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_100 {
	fill: rgba(243,170,160,1);
}
.n_100 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3600.917px;
	left: 0px;
	top: 0px;
}
#n_126 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_126 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.1px;
	top: 2464.405px;
	transform: matrix(1,0,0,1,0,0);
}
#n_99 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_99 {
	overflow: visible;
	position: absolute;
	width: 615.462px;
	height: 257.767px;
	left: 387.532px;
	top: 2098.25px;
	transform: matrix(1,0,0,1,0,0);
}
#n_127 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_127 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 117.557px;
	left: 619.109px;
	top: 2351.017px;
	transform: matrix(1,0,0,1,0,0);
}
#n_101 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_101 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 118.616px;
	top: 2514.028px;
}
#n_102 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_102 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 118.616px;
	top: 3031.549px;
}
#n_103 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_103 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.782px;
	top: 2514.028px;
}
#n_104 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_104 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.593px;
	left: 421.782px;
	top: 3031.549px;
}
#n_100_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_100_ {
	overflow: visible;
	position: absolute;
	width: 917.239px;
	height: 402.396px;
	left: 85.755px;
	top: 1587.375px;
	transform: matrix(1,0,0,1,0,0);
}
#n_101_ {
	fill: rgba(255,255,255,1);
}
.n_101_ {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.035px;
	left: 85.754px;
	top: 1136.347px;
	transform: matrix(1,0,0,1,0,0);
}
#n_128 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_128 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.479px;
	left: 889.802px;
	top: 1984.771px;
	transform: matrix(1,0,0,1,0,0);
}
#n_105 {
	fill: rgba(46,47,47,1);
}
.n_105 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0.031px;
	top: 1110.508px;
}
#Text {
	left: 47.884px;
	top: 805.217px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#n_ {
	left: 49.144px;
	top: 914.14px;
	position: absolute;
	overflow: visible;
	width: 596px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_ {
	left: 49.143px;
	top: 755.467px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_67 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1554.487px;
	overflow: visible;
}
#n_102_bb {
	fill: rgba(135,128,136,1);
}
.n_102_bb {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_103_bc {
	fill: rgba(255,255,255,1);
}
.n_103_bc {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bd {
	left: 73.802px;
	top: 1567.91px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_be {
	left: 144.442px;
	top: 1567.91px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 95.171px;
	top: 1118.64px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0221122 {
	left: 143.241px;
	top: 1192.106px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_191 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 796.184px;
	top: 1438.124px;
	overflow: visible;
}
#n_102_bi {
	fill: rgba(46,47,47,1);
}
.n_102_bi {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bj {
	left: 0px;
	top: 1.056px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bk {
	left: 143.241px;
	top: 1231.075px;
	position: absolute;
	overflow: visible;
	width: 386px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_0161122 {
	left: 143.241px;
	top: 1311.822px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bm {
	left: 143.241px;
	top: 1356.746px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n___ {
	left: 127.159px;
	top: 1656.927px;
	position: absolute;
	overflow: hidden;
	width: 818.696px;
	height: 307.324951171875px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_68 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 2431.517px;
	overflow: visible;
}
#n_104_bp {
	fill: rgba(135,128,136,1);
}
.n_104_bp {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_105_bq {
	fill: rgba(255,255,255,1);
}
.n_105_bq {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__br {
	left: 73.802px;
	top: 2444.94px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 144.442px;
	top: 2444.94px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bt {
	left: 198.145px;
	top: 2730.999px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 216.145px;
	top: 3074.819px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_bv {
	left: 217.145px;
	top: 2785.193px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_bw {
	left: 197.145px;
	top: 2833.161px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_bx {
	left: 195.245px;
	top: 2873.266px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_129 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_129 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 85.371px;
	top: 3349.875px;
	transform: matrix(1,0,0,1,0,0);
}
#n_69 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 351.831px;
	top: 2065.362px;
	overflow: visible;
}
#n_106 {
	fill: rgba(135,128,136,1);
}
.n_106 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_107 {
	fill: rgba(255,255,255,1);
}
.n_107 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__b {
	left: 375.579px;
	top: 2078.785px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_b {
	left: 446.219px;
	top: 2078.785px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n_____ {
	left: 428.936px;
	top: 2154.943px;
	position: absolute;
	overflow: hidden;
	width: 461.867px;
	height: 175.55487060546875px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_70 {
	position: absolute;
	width: 76.96px;
	height: 147.093px;
	left: 216.664px;
	top: 2540.435px;
	overflow: visible;
}
#n_108 {
	fill: rgba(46,47,47,1);
}
.n_108 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_103_b {
	fill: rgba(46,47,47,1);
}
.n_103_b {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ca {
	left: 672.692px;
	top: 2730.999px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cb {
	left: 672.692px;
	top: 2785.193px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 620.692px;
	top: 2845.976px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_000 {
	left: 600.792px;
	top: 2877.782px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_109 {
	fill: rgba(46,47,47,1);
}
.n_109 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 646.366px;
	top: 2553.019px;
}
#n_71 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.977px;
	top: 2583.532px;
	overflow: visible;
}
#n_104_ce {
	fill: rgba(255,255,255,1);
}
.n_104_ce {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cf {
	left: 633.838px;
	top: 3075.236px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cg {
	left: 634.692px;
	top: 3146.101px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_105_ch {
	fill: rgba(46,47,47,1);
}
.n_105_ch {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.839px;
	top: 3134.916px;
	transform: matrix(1,0,0,1,0,0);
}
#n_165 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 67px;
	top: 3406.404px;
	overflow: visible;
}
#Text_cj {
	left: 172.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_106_ck {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_106_ck {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_72 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_111 {
	fill: rgba(46,47,47,1);
}
.n_111 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_106_cn {
	fill: rgba(255,255,255,1);
}
.n_106_cn {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.117px;
	left: 17.239px;
	top: 12.955px;
	transform: matrix(1,0,0,1,0,0);
}
#n_166 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 553.894px;
	top: 3406.404px;
	overflow: visible;
}
#Text_cp {
	left: 63.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 271px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_107_cq {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_107_cq {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_73 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_112 {
	fill: rgba(46,47,47,1);
}
.n_112 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_107_ct {
	fill: rgba(255,255,255,1);
}
.n_107_ct {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.117px;
	left: 26.427px;
	top: 12.955px;
	transform: matrix(1,0,0,1,0,0);
}
#n_108_cu {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_108_cu {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.647px;
	left: 497.726px;
	top: 3351.628px;
	transform: matrix(1,0,0,1,0,0);
}
#n_130 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_130 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 525.49px;
	top: 3461.275px;
	transform: matrix(1,0,0,1,0,0);
}
#n_131 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_131 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1285.723px;
	transform: matrix(1,0,0,1,0,0);
}
#n_132 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_132 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1416.417px;
	transform: matrix(1,0,0,1,0,0);
}
#n_108_cy {
	fill: rgba(255,255,255,1);
}
.n_108_cy {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0.031px;
	top: 1135.949px;
}
#n_109_cz {
	fill: rgba(255,255,255,1);
}
.n_109_cz {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.812px;
	top: 1135.47px;
}
#n_139 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.933px;
	top: 3144.014px;
	overflow: visible;
}
#n_110 {
	fill: rgba(46,47,47,1);
}
.n_110 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.712px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#Text_c {
	left: 817.974px;
	top: 2916.353px;
	position: absolute;
	overflow: visible;
	width: 7.651px;
	height: 11px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#n_74 {
	position: absolute;
	width: 424.889px;
	height: 54.656px;
	left: 506.26px;
	top: 3212.311px;
	overflow: visible;
}
#n_110_c {
	fill: rgba(255,255,255,1);
}
.n_110_c {
	position: absolute;
	overflow: visible;
	width: 424.889px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_109_c {
	fill: rgba(46,47,47,1);
}
.n_109_c {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 384.306px;
	top: 13.392px;
	transform: matrix(1,0,0,1,0,0);
}
#VR {
	left: 117.729px;
	top: 12.349px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_3 {
	position: absolute;
	width: 786.733px;
	height: 2575.823px;
	left: 75.077px;
	top: 911.708px;
	display: none;
	overflow: visible;
}
#n_133 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_133 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 516.972px;
	top: 561.907px;
	transform: matrix(1,0,0,1,0,0);
}
#n_134 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_134 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 280.868px;
	top: 916.783px;
	transform: matrix(1,0,0,1,0,0);
}
#n_135 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_135 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 721.106px;
	top: 1072.781px;
	transform: matrix(1,0,0,1,0,0);
}
#n_136 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_136 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 485.002px;
	top: 1283.029px;
	transform: matrix(1,0,0,1,0,0);
}
#n_137 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_137 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 270.688px;
	top: 2490.784px;
	transform: matrix(1,0,0,1,0,0);
}
#n_138 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_138 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 275.344px;
	top: 2267.674px;
	transform: matrix(1,0,0,1,0,0);
}
#n_139_df {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_139_df {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 353.858px;
	top: 462.742px;
	transform: matrix(1,0,0,1,0,0);
}
#n_140 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_140 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_141 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_141 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 786.733px;
	top: 959.303px;
	transform: matrix(1,0,0,1,0,0);
}
#n_142 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_142 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 520.912px;
	top: 1325.549px;
	transform: matrix(1,0,0,1,0,0);
}
#n_10 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -1.7px;
	top: 113.386px;
	overflow: visible;
}
#n_215 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3600.917px;
	overflow: visible;
}
#n_2 {
	fill: rgba(229,243,48,1);
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}
#n_3_dm {
	fill: rgba(255,255,255,1);
}
.n_3_dm {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 49.521px;
	top: 584.858px;
}
#n_2_dn {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.331px;
	overflow: visible;
}
#n_5 {
	fill: rgba(0,0,0,1);
}
.n_5 {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.532px;
	left: 0px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6 {
	fill: rgba(0,0,0,1);
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 22.802px;
	height: 37.251px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	fill: rgba(0,0,0,1);
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.714px;
	height: 36.627px;
	left: 74.303px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	fill: rgba(0,0,0,1);
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.819px;
	left: 112.028px;
	top: 0.384px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_ds {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.071px;
	overflow: visible;
}
#n_9 {
	fill: rgba(0,0,0,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.203px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_10_du {
	fill: rgba(0,0,0,1);
}
.n_10_du {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.562px;
	left: 36.705px;
	top: 9.95px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	fill: rgba(0,0,0,1);
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 24.989px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}
#n_12 {
	fill: rgba(0,0,0,1);
}
.n_12 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	fill: rgba(0,0,0,1);
}
.n_13 {
	overflow: visible;
	position: absolute;
	width: 27.527px;
	height: 18.998px;
	left: 39.914px;
	top: 8.085px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14 {
	fill: rgba(0,0,0,1);
}
.n_14 {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.46px;
	left: 72.827px;
	top: 0.071px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_d {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.533px;
	overflow: visible;
}
#n_15 {
	fill: rgba(0,0,0,1);
}
.n_15 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_16 {
	fill: rgba(0,0,0,1);
}
.n_16 {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.179px;
	left: 34.668px;
	top: 0.036px;
	transform: matrix(1,0,0,1,0,0);
}
#n_17 {
	fill: rgba(0,0,0,1);
}
.n_17 {
	overflow: visible;
	position: absolute;
	width: 33.223px;
	height: 31.317px;
	left: 70.812px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_18 {
	fill: rgba(0,0,0,1);
}
.n_18 {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.991px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6_d {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.971px;
	top: 402.915px;
	overflow: visible;
}
#n_19 {
	fill: rgba(0,0,0,1);
}
.n_19 {
	overflow: visible;
	position: absolute;
	width: 31.532px;
	height: 32.325px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_20 {
	fill: rgba(0,0,0,1);
}
.n_20 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.569px;
	left: 35.352px;
	top: 0.54px;
	transform: matrix(1,0,0,1,0,0);
}
#n_21 {
	fill: rgba(0,0,0,1);
}
.n_21 {
	overflow: visible;
	position: absolute;
	width: 13.57px;
	height: 30.272px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1,0,0,1,0,0);
}
#n_22 {
	fill: rgba(0,0,0,1);
}
.n_22 {
	overflow: visible;
	position: absolute;
	width: 21.008px;
	height: 18.781px;
	left: 110.506px;
	top: 8.396px;
	transform: matrix(1,0,0,1,0,0);
}
#n_23 {
	fill: rgba(0,0,0,1);
}
.n_23 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.564px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1,0,0,1,0,0);
}
#n_24 {
	fill: rgba(0,0,0,1);
}
.n_24 {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.693px;
	left: 179.346px;
	top: 7.524px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_ec {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.767px;
	overflow: visible;
}
#n_25 {
	fill: rgba(0,0,0,1);
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.855px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26 {
	fill: rgba(0,0,0,1);
}
.n_26 {
	overflow: visible;
	position: absolute;
	width: 31.892px;
	height: 29.948px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1,0,0,1,0,0);
}
#n_27 {
	fill: rgba(0,0,0,1);
}
.n_27 {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.029px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26_eg {
	fill: rgba(0,0,0,1);
}
.n_26_eg {
	position: absolute;
	overflow: visible;
	width: 193.412px;
	height: 6.776px;
	left: 432.219px;
	top: 111.441px;
}
#n_8_eh {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.603px;
	top: 602.697px;
	overflow: visible;
}
#n_28 {
	fill: rgba(0,0,0,1);
}
.n_28 {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.519px;
	transform: matrix(1,0,0,1,0,0);
}
#n_29 {
	fill: rgba(0,0,0,1);
}
.n_29 {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.204px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1,0,0,1,0,0);
}
#n_30 {
	fill: rgba(0,0,0,1);
}
.n_30 {
	overflow: visible;
	position: absolute;
	width: 20.775px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_31 {
	fill: rgba(0,0,0,1);
}
.n_31 {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.052px;
	transform: matrix(1,0,0,1,0,0);
}
#n_32 {
	fill: rgba(0,0,0,1);
}
.n_32 {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.853px;
	left: 103.74px;
	top: 1.716px;
	transform: matrix(1,0,0,1,0,0);
}
#n_33 {
	fill: rgba(0,0,0,1);
}
.n_33 {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.519px;
	left: 129.714px;
	top: 0.181px;
	transform: matrix(1,0,0,1,0,0);
}
#n_34 {
	fill: rgba(0,0,0,1);
}
.n_34 {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.847px;
	transform: matrix(1,0,0,1,0,0);
}
#n_35 {
	fill: rgba(0,0,0,1);
}
.n_35 {
	overflow: visible;
	position: absolute;
	width: 16.11px;
	height: 20.068px;
	left: 182.831px;
	top: 2.574px;
	transform: matrix(1,0,0,1,0,0);
}
#n_36 {
	fill: rgba(0,0,0,1);
}
.n_36 {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 20.98px;
	left: 215.485px;
	top: 1.807px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_er {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.473px;
	top: 693.151px;
	overflow: visible;
}
#n_37 {
	fill: rgba(255,255,255,1);
}
.n_37 {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.529px;
	top: 1.14px;
	transform: matrix(1,0,0,1,0,0);
}
#n_38 {
	fill: rgba(255,255,255,1);
}
.n_38 {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.392px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_39 {
	fill: rgba(255,255,255,1);
}
.n_39 {
	overflow: visible;
	position: absolute;
	width: 9.095px;
	height: 11.014px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_40 {
	fill: rgba(255,255,255,1);
}
.n_40 {
	overflow: visible;
	position: absolute;
	width: 130.812px;
	height: 12.646px;
	left: 0.652px;
	top: 42.233px;
	transform: matrix(1,0,0,1,0,0);
}
#n_216 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_63 {
	fill: rgba(229,243,48,1);
}
.n_63 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#n_23_ey {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}
#n_54 {
	fill: rgba(19,10,10,1);
}
.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1,0,0,1,0,0);
}
#n_55 {
	fill: rgba(19,10,10,1);
}
.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.599px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_56 {
	fill: rgba(19,10,10,1);
}
.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1,0,0,1,0,0);
}
#n_57 {
	fill: rgba(19,10,10,1);
}
.n_57 {
	overflow: visible;
	position: absolute;
	width: 26.202px;
	height: 38.152px;
	left: 86.599px;
	top: 0.351px;
	transform: matrix(1,0,0,1,0,0);
}
#n_58 {
	fill: rgba(19,10,10,1);
}
.n_58 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_59 {
	fill: rgba(19,10,10,1);
}
.n_59 {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1,0,0,1,0,0);
}
#n_60 {
	fill: rgba(19,10,10,1);
}
.n_60 {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1,0,0,1,0,0);
}
#n_61 {
	fill: rgba(19,10,10,1);
}
.n_61 {
	overflow: visible;
	position: absolute;
	width: 34.252px;
	height: 38.053px;
	left: 208.847px;
	top: 0.25px;
	transform: matrix(1,0,0,1,0,0);
}
#n_62 {
	fill: rgba(19,10,10,1);
}
.n_62 {
	overflow: visible;
	position: absolute;
	width: 29.952px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}