✴︎ {
	text-decoration: none;
	color: #000000;
}

.mediaViewInfo {
	--web-view-name: 情報デザイン;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

:root {
	--web-view-ids: Artboard;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4504.085px;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
	--web-view-name: 情報デザイン;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#n_148 {
	position: absolute;
	width: 1062.992px;
	height: 3729.712px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#n_147 {
	position: absolute;
	width: 1062.992px;
	height: 3729.712px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#n_13 {
	fill: rgba(243, 170, 160, 1);
}

.n_13 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3729.712px;
	left: 0px;
	top: 0px;
}

#n_8 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_8 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 288.533px;
	top: 2621.618px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_16 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_16 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 444.37px;
	left: 288.533px;
	top: 2070.85px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_9 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_9 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 111.7px;
	left: 433.65px;
	top: 2515.726px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_15 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_15 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 463.54px;
	left: 118.049px;
	top: 2671.241px;
}

#n_16_ {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_16_ {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 266.593px;
	left: 118.049px;
	top: 3163.118px;
}

#n_17 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_17 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.216px;
	top: 2671.241px;
}

#n_18 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_18 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 421.216px;
	top: 3163.118px;
}

#n_17_ {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_17_ {
	overflow: visible;
	position: absolute;
	width: 719.531px;
	height: 358.598px;
	left: 85.188px;
	top: 1610.552px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_18_ {
	fill: rgba(255, 255, 255, 1);
}

.n_18_ {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.034px;
	left: 85.188px;
	top: 1168.541px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_10 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_10 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 111.7px;
	left: 741.419px;
	top: 1964.149px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_19 {
	fill: rgba(46, 47, 47, 1);
}

.n_19 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1142.788px;
}

#n_19_ {
	fill: rgba(46, 47, 47, 1);
}

.n_19_ {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 877.728px;
	top: 3354.368px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_182 {
	position: absolute;
	width: 424.889px;
	height: 54.656px;
	left: 493.422px;
	top: 3340.597px;
	overflow: visible;
}

#n_14 {
	fill: rgba(255, 255, 255, 1);
}

.n_14 {
	position: absolute;
	overflow: visible;
	width: 424.889px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}

#VR {
	left: 117.727px;
	top: 12.729px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#Text {
	left: 47.317px;
	top: 803.268px;
	position: absolute;
	overflow: visible;
	width: 491px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46, 47, 47, 1);
}

#n__ {
	left: 48.577px;
	top: 912.19px;
	position: absolute;
	overflow: visible;
	width: 631px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#Text_bf {
	left: 48.577px;
	top: 753.519px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#n_10_bg {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 49.487px;
	top: 1577.664px;
	overflow: visible;
}

#n_13_bh {
	fill: rgba(135, 128, 136, 1);
}

.n_13_bh {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 4.115px;
	top: 4.114px;
}

#n_14_bi {
	fill: rgba(255, 255, 255, 1);
}

.n_14_bi {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 0px;
	top: 0px;
}

#n_ {
	left: 73.236px;
	top: 1591.087px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bk {
	left: 143.875px;
	top: 1591.087px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#News {
	left: 94.605px;
	top: 1150.834px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255, 255, 255, 1);
}

#n_0230714 {
	left: 142.675px;
	top: 1224.299px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_185 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 795.617px;
	top: 1470.317px;
	overflow: visible;
}

#n_20 {
	fill: rgba(46, 47, 47, 1);
}

.n_20 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_bp {
	left: 0px;
	top: 1.056px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n__bq {
	left: 142.675px;
	top: 1263.269px;
	position: absolute;
	overflow: visible;
	width: 394px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#n_0221028 {
	left: 142.675px;
	top: 1344.016px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n__bs {
	left: 142.675px;
	top: 1382.985px;
	position: absolute;
	overflow: visible;
	width: 394px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#PC {
	left: 126.592px;
	top: 1680.103px;
	position: absolute;
	overflow: visible;
	width: 619.352px;
	height: 272.7289123535156px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_11 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 49.487px;
	top: 2588.729px;
	overflow: visible;
}

#n_15_bv {
	fill: rgba(135, 128, 136, 1);
}

.n_15_bv {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}

#n_16_bw {
	fill: rgba(255, 255, 255, 1);
}

.n_16_bw {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}

#n__bx {
	left: 73.236px;
	top: 2602.153px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#DATA {
	left: 143.875px;
	top: 2602.153px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bz {
	left: 197.579px;
	top: 2888.212px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#SNS {
	left: 215.579px;
	top: 3206.389px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_6 {
	left: 212.579px;
	top: 2942.405px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_9_b {
	left: 194.579px;
	top: 2990.374px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#Text_b {
	left: 206.679px;
	top: 3030.479px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#n_11_b {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_11_b {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 84.804px;
	top: 3475.3px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_12 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 252.832px;
	top: 2037.961px;
	overflow: visible;
}

#n_17_b {
	fill: rgba(135, 128, 136, 1);
}

.n_17_b {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 4.115px;
	top: 4.114px;
}

#n_18_b {
	fill: rgba(255, 255, 255, 1);
}

.n_18_b {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.458px;
	left: 0px;
	top: 0px;
}

#n__b {
	left: 276.58px;
	top: 2051.384px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_ca {
	left: 347.221px;
	top: 2051.384px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#n_______ {
	left: 329.937px;
	top: 2140.399px;
	position: absolute;
	overflow: visible;
	width: 619.352px;
	height: 359.724365234375px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_13_cb {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 216.098px;
	top: 2697.647px;
	overflow: visible;
}

#n_19_cc {
	fill: rgba(46, 47, 47, 1);
}

.n_19_cc {
	position: absolute;
	overflow: visible;
	width: 76.959px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}

#n_21 {
	fill: rgba(46, 47, 47, 1);
}

.n_21 {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.131px;
	left: 0px;
	top: 76.961px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_ce {
	left: 672.126px;
	top: 2888.212px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_cf {
	left: 672.126px;
	top: 2942.405px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_cg {
	left: 620.126px;
	top: 3003.188px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#Text_ch {
	left: 684.227px;
	top: 3034.994px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#n_20_ci {
	fill: rgba(46, 47, 47, 1);
}

.n_20_ci {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 645.799px;
	top: 2710.231px;
}

#n_14_cj {
	position: absolute;
	width: 55.533px;
	height: 71.123px;
	left: 682.411px;
	top: 2740.743px;
	overflow: visible;
}

#n_22 {
	fill: rgba(255, 255, 255, 1);
}

.n_22 {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.123px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_cl {
	left: 633.271px;
	top: 3206.389px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_cm {
	left: 576.271px;
	top: 3274.603px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_23 {
	fill: rgba(46, 47, 47, 1);
}

.n_23 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.272px;
	top: 3266.485px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_131 {
	position: absolute;
	width: 64.281px;
	height: 64.281px;
	left: 143.979px;
	top: 3276.315px;
	overflow: visible;
}

#n_21_cp {
	fill: rgba(46, 47, 47, 1);
}

.n_21_cp {
	position: absolute;
	overflow: visible;
	width: 64.281px;
	height: 64.281px;
	left: 0px;
	top: 0px;
}

#n_15_cq {
	position: absolute;
	width: 31.636px;
	height: 32.369px;
	left: 16.339px;
	top: 15.956px;
	overflow: visible;
}

#n_24 {
	fill: rgba(255, 255, 255, 1);
}

.n_24 {
	overflow: visible;
	position: absolute;
	width: 31.636px;
	height: 32.369px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_130 {
	position: absolute;
	width: 64.281px;
	height: 64.281px;
	left: 222.439px;
	top: 3276.315px;
	overflow: visible;
}

#n_22_ct {
	fill: rgba(46, 47, 47, 1);
}

.n_22_ct {
	position: absolute;
	overflow: visible;
	width: 64.281px;
	height: 64.281px;
	left: 0px;
	top: 0px;
}

#n_16_cu {
	position: absolute;
	width: 35.911px;
	height: 35.917px;
	left: 14.185px;
	top: 14.469px;
	overflow: visible;
}

#n_25 {
	fill: rgba(255, 255, 255, 1);
}

.n_25 {
	overflow: visible;
	position: absolute;
	width: 35.911px;
	height: 35.916px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26 {
	fill: rgba(255, 255, 255, 1);
}

.n_26 {
	overflow: visible;
	position: absolute;
	width: 18.444px;
	height: 18.448px;
	left: 8.729px;
	top: 8.729px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_27 {
	fill: rgba(255, 255, 255, 1);
}

.n_27 {
	overflow: visible;
	position: absolute;
	width: 4.309px;
	height: 4.313px;
	left: 25.385px;
	top: 6.215px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_150 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 85.444px;
	top: 3530.075px;
	overflow: visible;
}

#Text_cz {
	left: 187.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#n_21_c {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_21_c {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}

#n_17_c {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}

#n_23_c {
	fill: rgba(46, 47, 47, 1);
}

.n_23_c {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}

#n_28 {
	fill: rgba(255, 255, 255, 1);
}

.n_28 {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.24px;
	top: 12.956px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_149 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 572.339px;
	top: 3530.075px;
	overflow: visible;
}

#Text_c {
	left: 138.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#n_22_c {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_22_c {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}

#n_18_c {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}

#n_24_c {
	fill: rgba(46, 47, 47, 1);
}

.n_24_c {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}

#n_29 {
	fill: rgba(255, 255, 255, 1);
}

.n_29 {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_30 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_30 {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 516.171px;
	top: 3475.3px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_12_db {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_12_db {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 543.935px;
	top: 3584.946px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_13_dc {
	fill: transparent;
	stroke: rgba(46, 47, 47, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_13_dc {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.092px;
	top: 1317.917px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_14_dd {
	fill: transparent;
	stroke: rgba(46, 47, 47, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_14_dd {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.092px;
	top: 1448.611px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_23_de {
	fill: rgba(255, 255, 255, 1);
}

.n_23_de {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1168.229px;
}

#n_24_df {
	fill: rgba(255, 255, 255, 1);
}

.n_24_df {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.246px;
	top: 1167.663px;
}

#n_1 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -2.12px;
	top: 113.386px;
	overflow: visible;
}

#n_146 {
	position: absolute;
	width: 64.281px;
	height: 64.281px;
	left: 300.898px;
	top: 3275.721px;
	overflow: visible;
}

#n_33 {
	fill: rgba(46, 47, 47, 1);
}

.n_33 {
	position: absolute;
	overflow: visible;
	width: 64.281px;
	height: 64.281px;
	left: -0.001px;
	top: -0.001px;
}

#HP {
	left: 16.855px;
	top: 21.855px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -7px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
}

#n_197 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3729.712px;
	overflow: visible;
}

#n_2 {
	fill: rgba(229, 243, 48, 1);
}

.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}

#n_3 {
	fill: rgba(255, 255, 255, 1);
}

.n_3 {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 49.521px;
	top: 584.857px;
}

#n_2_dn {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.331px;
	overflow: visible;
}

#n_5 {
	fill: rgba(0, 0, 0, 1);
}

.n_5 {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.531px;
	left: 0px;
	top: 0.288px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6_dp {
	fill: rgba(0, 0, 0, 1);
}

.n_6_dp {
	overflow: visible;
	position: absolute;
	width: 22.802px;
	height: 37.251px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_7 {
	fill: rgba(0, 0, 0, 1);
}

.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.715px;
	height: 36.627px;
	left: 74.303px;
	top: 0.288px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_8_dr {
	fill: rgba(0, 0, 0, 1);
}

.n_8_dr {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.819px;
	left: 112.028px;
	top: 0.384px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_3_ds {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.071px;
	overflow: visible;
}

#n_9_dt {
	fill: rgba(0, 0, 0, 1);
}

.n_9_dt {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.202px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_10_du {
	fill: rgba(0, 0, 0, 1);
}

.n_10_du {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.562px;
	left: 36.705px;
	top: 9.95px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_11_dv {
	fill: rgba(0, 0, 0, 1);
}

.n_11_dv {
	overflow: visible;
	position: absolute;
	width: 24.988px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}

#n_12_dx {
	fill: rgba(0, 0, 0, 1);
}

.n_12_dx {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_13_dy {
	fill: rgba(0, 0, 0, 1);
}

.n_13_dy {
	overflow: visible;
	position: absolute;
	width: 27.526px;
	height: 18.997px;
	left: 39.914px;
	top: 8.085px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_14_dz {
	fill: rgba(0, 0, 0, 1);
}

.n_14_dz {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.46px;
	left: 72.827px;
	top: 0.071px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_5_d {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.533px;
	overflow: visible;
}

#n_15_d {
	fill: rgba(0, 0, 0, 1);
}

.n_15_d {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_16_d {
	fill: rgba(0, 0, 0, 1);
}

.n_16_d {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.18px;
	left: 34.668px;
	top: 0.035px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_17_d {
	fill: rgba(0, 0, 0, 1);
}

.n_17_d {
	overflow: visible;
	position: absolute;
	width: 33.224px;
	height: 31.316px;
	left: 70.812px;
	top: 0.215px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_18_d {
	fill: rgba(0, 0, 0, 1);
}

.n_18_d {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.99px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6_d {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.972px;
	top: 402.915px;
	overflow: visible;
}

#n_19_d {
	fill: rgba(0, 0, 0, 1);
}

.n_19_d {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.325px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_20_d {
	fill: rgba(0, 0, 0, 1);
}

.n_20_d {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.568px;
	left: 35.352px;
	top: 0.54px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_21_d {
	fill: rgba(0, 0, 0, 1);
}

.n_21_d {
	overflow: visible;
	position: absolute;
	width: 13.569px;
	height: 30.271px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_22_d {
	fill: rgba(0, 0, 0, 1);
}

.n_22_d {
	overflow: visible;
	position: absolute;
	width: 21.009px;
	height: 18.781px;
	left: 110.505px;
	top: 8.396px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_23_ea {
	fill: rgba(0, 0, 0, 1);
}

.n_23_ea {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.563px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_24_eb {
	fill: rgba(0, 0, 0, 1);
}

.n_24_eb {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.692px;
	left: 179.345px;
	top: 7.524px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_7_ec {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.768px;
	overflow: visible;
}

#n_25_ed {
	fill: rgba(0, 0, 0, 1);
}

.n_25_ed {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.854px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_ee {
	fill: rgba(0, 0, 0, 1);
}

.n_26_ee {
	overflow: visible;
	position: absolute;
	width: 31.892px;
	height: 29.948px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_27_ef {
	fill: rgba(0, 0, 0, 1);
}

.n_27_ef {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.028px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_eg {
	fill: rgba(0, 0, 0, 1);
}

.n_26_eg {
	position: absolute;
	overflow: visible;
	width: 193.411px;
	height: 6.776px;
	left: 432.219px;
	top: 111.441px;
}

#n_8_eh {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.603px;
	top: 602.697px;
	overflow: visible;
}

#n_28_ei {
	fill: rgba(0, 0, 0, 1);
}

.n_28_ei {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.519px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_29_ej {
	fill: rgba(0, 0, 0, 1);
}

.n_29_ej {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.204px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_30_ek {
	fill: rgba(0, 0, 0, 1);
}

.n_30_ek {
	overflow: visible;
	position: absolute;
	width: 20.774px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_31 {
	fill: rgba(0, 0, 0, 1);
}

.n_31 {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.052px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_32 {
	fill: rgba(0, 0, 0, 1);
}

.n_32 {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.853px;
	left: 103.74px;
	top: 1.716px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_33_en {
	fill: rgba(0, 0, 0, 1);
}

.n_33_en {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.519px;
	left: 129.714px;
	top: 0.181px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_34 {
	fill: rgba(0, 0, 0, 1);
}

.n_34 {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.846px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_35 {
	fill: rgba(0, 0, 0, 1);
}

.n_35 {
	overflow: visible;
	position: absolute;
	width: 16.109px;
	height: 20.068px;
	left: 182.831px;
	top: 2.574px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_36 {
	fill: rgba(0, 0, 0, 1);
}

.n_36 {
	overflow: visible;
	position: absolute;
	width: 9.999px;
	height: 20.98px;
	left: 215.485px;
	top: 1.807px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_9_er {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.474px;
	top: 693.15px;
	overflow: visible;
}

#n_37 {
	fill: rgba(255, 255, 255, 1);
}

.n_37 {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.528px;
	top: 1.141px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_38 {
	fill: rgba(255, 255, 255, 1);
}

.n_38 {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.392px;
	left: 0px;
	top: 1.002px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_39 {
	fill: rgba(255, 255, 255, 1);
}

.n_39 {
	overflow: visible;
	position: absolute;
	width: 9.094px;
	height: 11.015px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_40 {
	fill: rgba(255, 255, 255, 1);
}

.n_40 {
	overflow: visible;
	position: absolute;
	width: 130.813px;
	height: 12.645px;
	left: 0.651px;
	top: 42.234px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_198 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#n_63 {
	fill: rgba(229, 243, 48, 1);
}

.n_63 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}

#n_23_ey {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}

#n_54 {
	fill: rgba(19, 10, 10, 1);
}

.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_55 {
	fill: rgba(19, 10, 10, 1);
}

.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.599px;
	top: 13.201px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_56 {
	fill: rgba(19, 10, 10, 1);
}

.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_57 {
	fill: rgba(19, 10, 10, 1);
}

.n_57 {
	overflow: visible;
	position: absolute;
	width: 26.202px;
	height: 38.152px;
	left: 86.599px;
	top: 0.351px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_58 {
	fill: rgba(19, 10, 10, 1);
}

.n_58 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_59 {
	fill: rgba(19, 10, 10, 1);
}

.n_59 {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_60 {
	fill: rgba(19, 10, 10, 1);
}

.n_60 {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_61 {
	fill: rgba(19, 10, 10, 1);
}

.n_61 {
	overflow: visible;
	position: absolute;
	width: 34.252px;
	height: 38.053px;
	left: 208.847px;
	top: 0.25px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_62 {
	fill: rgba(19, 10, 10, 1);
}

.n_62 {
	overflow: visible;
	position: absolute;
	width: 29.952px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}