*{
	text-decoration: none;
	color: #000000;
  }
.mediaViewInfo {
	--web-view-name: 競技かるた部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4147.286px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 競技かるた部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_175 {
	fill: rgba(243,170,160,1);
}
.n_175 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3372.527px;
	left: 0px;
	top: 0px;
}
#n_248 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_248 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 290.029px;
	top: 2265.659px;
	transform: matrix(1,0,0,1,0,0);
}
#n_169 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_169 {
	overflow: visible;
	position: absolute;
	width: 548.372px;
	height: 345.615px;
	left: 455.368px;
	top: 1811.72px;
	transform: matrix(1,0,0,1,0,0);
}
#n_249 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_249 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.762px;
	left: 727.054px;
	top: 2152.591px;
	transform: matrix(1,0,0,1,0,0);
}
#n_176 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_176 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 119.545px;
	top: 2315.282px;
}
#n_177 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_177 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 119.545px;
	top: 2807.159px;
}
#n_178 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_178 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 422.711px;
	top: 2315.282px;
}
#n_179 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_179 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 422.687px;
	top: 2807.159px;
}
#n_170 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_170 {
	overflow: visible;
	position: absolute;
	width: 779.6px;
	height: 388.813px;
	left: 224.324px;
	top: 1313.762px;
	transform: matrix(1,0,0,1,0,0);
}
#n_171 {
	fill: rgba(255,255,255,1);
}
.n_171 {
	overflow: visible;
	position: absolute;
	width: 912.865px;
	height: 126.441px;
	left: 86.058px;
	top: 1088.311px;
	transform: matrix(1,0,0,1,0,0);
}
#n_250 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_250 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.369px;
	left: 939.737px;
	top: 1697.811px;
	transform: matrix(1,0,0,1,0,0);
}
#n_180 {
	fill: rgba(46,47,47,1);
}
.n_180 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1062.558px;
}
#Text {
	left: 48.188px;
	top: 806.483px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#Text_ {
	left: 49.448px;
	top: 915.406px;
	position: absolute;
	overflow: visible;
	width: 806px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_ba {
	left: 49.447px;
	top: 756.734px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_117 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 188.623px;
	top: 1280.874px;
	overflow: visible;
}
#n_179_bb {
	fill: rgba(135,128,136,1);
}
.n_179_bb {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_180_bc {
	fill: rgba(255,255,255,1);
}
.n_180_bc {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 212.371px;
	top: 1294.298px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_be {
	left: 283.011px;
	top: 1294.298px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 95.475px;
	top: 1070.604px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#Text_bg {
	left: 500.118px;
	top: 1135.069px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n____ {
	left: 265.728px;
	top: 1370.456px;
	position: absolute;
	overflow: hidden;
	width: 681.321px;
	height: 306.6002197265625px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_118 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.983px;
	top: 2232.771px;
	overflow: visible;
}
#n_181 {
	fill: rgba(135,128,136,1);
}
.n_181 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_182 {
	fill: rgba(255,255,255,1);
}
.n_182 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bl {
	left: 74.731px;
	top: 2246.194px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 145.372px;
	top: 2246.194px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bn {
	left: 199.074px;
	top: 2532.253px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 217.074px;
	top: 2850.43px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_5 {
	left: 214.074px;
	top: 2586.447px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_0 {
	left: 196.074px;
	top: 2634.415px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_br {
	left: 202.175px;
	top: 2674.52px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_251 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_251 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 86.3px;
	top: 3125.439px;
	transform: matrix(1,0,0,1,0,0);
}
#n_119 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 418.582px;
	top: 1778.832px;
	overflow: visible;
}
#n_183 {
	fill: rgba(135,128,136,1);
}
.n_183 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_184 {
	fill: rgba(255,255,255,1);
}
.n_184 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bw {
	left: 442.33px;
	top: 1792.255px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bx {
	left: 524.141px;
	top: 1792.255px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n_____ {
	left: 504.139px;
	top: 1868.413px;
	position: absolute;
	overflow: visible;
	width: 460.352px;
	height: 263.53082275390625px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_120 {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 217.594px;
	top: 2341.688px;
	overflow: visible;
}
#n_185 {
	fill: rgba(46,47,47,1);
}
.n_185 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_172 {
	fill: rgba(46,47,47,1);
}
.n_172 {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_b {
	left: 673.622px;
	top: 2532.253px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_000 {
	left: 613.622px;
	top: 2586.447px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_ca {
	left: 621.622px;
	top: 2647.23px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_0000 {
	left: 537.722px;
	top: 2679.035px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_186 {
	fill: rgba(46,47,47,1);
}
.n_186 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 647.295px;
	top: 2354.272px;
}
#n_121 {
	position: absolute;
	width: 55.534px;
	height: 71.122px;
	left: 683.906px;
	top: 2384.785px;
	overflow: visible;
}
#n_173 {
	fill: rgba(255,255,255,1);
}
.n_173 {
	overflow: visible;
	position: absolute;
	width: 55.534px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cb {
	left: 634.768px;
	top: 2882.802px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 596.792px;
	top: 2967.297px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_174 {
	fill: rgba(46,47,47,1);
}
.n_174 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 926.769px;
	top: 2910.527px;
	transform: matrix(1,0,0,1,0,0);
}
#n_170_cc {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 72.496px;
	top: 3182.212px;
	overflow: visible;
}
#Text_cd {
	left: 142.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_181_ce {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_181_ce {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_122 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_187 {
	fill: rgba(46,47,47,1);
}
.n_187 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_175_ch {
	fill: rgba(255,255,255,1);
}
.n_175_ch {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_171_ci {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 559.39px;
	top: 3182.212px;
	overflow: visible;
}
#Text_cj {
	left: 93.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_182_ck {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_182_ck {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_123 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_188 {
	fill: rgba(46,47,47,1);
}
.n_188 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_176_cn {
	fill: rgba(255,255,255,1);
}
.n_176_cn {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_177_co {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_177_co {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 503.222px;
	top: 3127.436px;
	transform: matrix(1,0,0,1,0,0);
}
#n_252 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_252 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 530.986px;
	top: 3237.082px;
	transform: matrix(1,0,0,1,0,0);
}
#n_183_cq {
	fill: rgba(255,255,255,1);
}
.n_183_cq {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1087.999px;
}
#n_184_cr {
	fill: rgba(255,255,255,1);
}
.n_184_cr {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 224.116px;
	top: 1087.433px;
}
#n_253 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_253 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 145.372px;
	top: 1186.311px;
	transform: matrix(1,0,0,1,0,0);
}
#n_125 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 208.762px;
	top: 2919.564px;
	overflow: visible;
}
#n_189 {
	fill: rgba(46,47,47,1);
}
.n_189 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#n_124 {
	position: absolute;
	width: 47.296px;
	height: 25.495px;
	left: 23.665px;
	top: 34.565px;
	overflow: visible;
}
#n_178_cw {
	fill: rgba(255,255,255,1);
}
.n_178_cw {
	overflow: visible;
	position: absolute;
	width: 22.931px;
	height: 25.403px;
	left: 0px;
	top: 0.092px;
	transform: matrix(1,0,0,1,0,0);
}
#n_179_cx {
	fill: rgba(255,255,255,1);
}
.n_179_cx {
	overflow: visible;
	position: absolute;
	width: 20.549px;
	height: 25.495px;
	left: 26.747px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cy {
	left: 713.603px;
	top: 1626.442px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#n_3 {
	position: absolute;
	width: 766.83px;
	height: 2399.384px;
	left: 143.372px;
	top: 859.758px;
	display: none;
	overflow: visible;
}
#n_254 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_254 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 424.978px;
	top: 336.7px;
	transform: matrix(1,0,0,1,0,0);
}
#n_255 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_255 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 188.874px;
	top: 677.537px;
	transform: matrix(1,0,0,1,0,0);
}
#n_256 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_256 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 751.533px;
	top: 834.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_257 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_257 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 498.802px;
	top: 1132.425px;
	transform: matrix(1,0,0,1,0,0);
}
#n_258 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_258 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 108.731px;
	top: 2314.345px;
	transform: matrix(1,0,0,1,0,0);
}
#n_259 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_259 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 113.387px;
	top: 2091.234px;
	transform: matrix(1,0,0,1,0,0);
}
#n_260 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_260 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 507.833px;
	top: 237.234px;
	transform: matrix(1,0,0,1,0,0);
}
#n_261 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_261 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_262 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_262 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 766.83px;
	top: 720.907px;
	transform: matrix(1,0,0,1,0,0);
}
#n_263 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_263 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 523.41px;
	top: 1175.073px;
	transform: matrix(1,0,0,1,0,0);
}
#n_12 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -0.113px;
	top: 113.386px;
	overflow: visible;
}
#n_219 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3372.527px;
	overflow: visible;
}
#n_2 {
	fill: rgba(229,243,48,1);
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}
#n_3_dd {
	fill: rgba(255,255,255,1);
}
.n_3_dd {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 49.521px;
	top: 584.857px;
}
#n_2_de {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.331px;
	overflow: visible;
}
#n_5_df {
	fill: rgba(0,0,0,1);
}
.n_5_df {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.532px;
	left: 0px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6 {
	fill: rgba(0,0,0,1);
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 22.802px;
	height: 37.251px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	fill: rgba(0,0,0,1);
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.714px;
	height: 36.627px;
	left: 74.303px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	fill: rgba(0,0,0,1);
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.819px;
	left: 112.028px;
	top: 0.384px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_dj {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.071px;
	overflow: visible;
}
#n_9 {
	fill: rgba(0,0,0,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.203px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_10 {
	fill: rgba(0,0,0,1);
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.562px;
	left: 36.705px;
	top: 9.95px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	fill: rgba(0,0,0,1);
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 24.989px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}
#n_12_do {
	fill: rgba(0,0,0,1);
}
.n_12_do {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	fill: rgba(0,0,0,1);
}
.n_13 {
	overflow: visible;
	position: absolute;
	width: 27.527px;
	height: 18.998px;
	left: 39.914px;
	top: 8.085px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14 {
	fill: rgba(0,0,0,1);
}
.n_14 {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.46px;
	left: 72.827px;
	top: 0.071px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_dr {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.533px;
	overflow: visible;
}
#n_15 {
	fill: rgba(0,0,0,1);
}
.n_15 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_16 {
	fill: rgba(0,0,0,1);
}
.n_16 {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.179px;
	left: 34.668px;
	top: 0.036px;
	transform: matrix(1,0,0,1,0,0);
}
#n_17 {
	fill: rgba(0,0,0,1);
}
.n_17 {
	overflow: visible;
	position: absolute;
	width: 33.223px;
	height: 31.317px;
	left: 70.812px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_18 {
	fill: rgba(0,0,0,1);
}
.n_18 {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.991px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6_dw {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.971px;
	top: 402.915px;
	overflow: visible;
}
#n_19 {
	fill: rgba(0,0,0,1);
}
.n_19 {
	overflow: visible;
	position: absolute;
	width: 31.532px;
	height: 32.325px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_20 {
	fill: rgba(0,0,0,1);
}
.n_20 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.569px;
	left: 35.352px;
	top: 0.54px;
	transform: matrix(1,0,0,1,0,0);
}
#n_21 {
	fill: rgba(0,0,0,1);
}
.n_21 {
	overflow: visible;
	position: absolute;
	width: 13.57px;
	height: 30.272px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1,0,0,1,0,0);
}
#n_22 {
	fill: rgba(0,0,0,1);
}
.n_22 {
	overflow: visible;
	position: absolute;
	width: 21.008px;
	height: 18.781px;
	left: 110.505px;
	top: 8.396px;
	transform: matrix(1,0,0,1,0,0);
}
#n_23 {
	fill: rgba(0,0,0,1);
}
.n_23 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.564px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1,0,0,1,0,0);
}
#n_24 {
	fill: rgba(0,0,0,1);
}
.n_24 {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.693px;
	left: 179.346px;
	top: 7.524px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_d {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.767px;
	overflow: visible;
}
#n_25 {
	fill: rgba(0,0,0,1);
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.855px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26 {
	fill: rgba(0,0,0,1);
}
.n_26 {
	overflow: visible;
	position: absolute;
	width: 31.892px;
	height: 29.949px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1,0,0,1,0,0);
}
#n_27 {
	fill: rgba(0,0,0,1);
}
.n_27 {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.029px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26_d {
	fill: rgba(0,0,0,1);
}
.n_26_d {
	position: absolute;
	overflow: visible;
	width: 193.411px;
	height: 6.776px;
	left: 432.219px;
	top: 111.441px;
}
#n_8_d {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.603px;
	top: 602.697px;
	overflow: visible;
}
#n_28 {
	fill: rgba(0,0,0,1);
}
.n_28 {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.519px;
	transform: matrix(1,0,0,1,0,0);
}
#n_29 {
	fill: rgba(0,0,0,1);
}
.n_29 {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.205px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1,0,0,1,0,0);
}
#n_30 {
	fill: rgba(0,0,0,1);
}
.n_30 {
	overflow: visible;
	position: absolute;
	width: 20.775px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_31 {
	fill: rgba(0,0,0,1);
}
.n_31 {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.052px;
	transform: matrix(1,0,0,1,0,0);
}
#n_32 {
	fill: rgba(0,0,0,1);
}
.n_32 {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.852px;
	left: 103.74px;
	top: 1.716px;
	transform: matrix(1,0,0,1,0,0);
}
#n_33 {
	fill: rgba(0,0,0,1);
}
.n_33 {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.518px;
	left: 129.714px;
	top: 0.181px;
	transform: matrix(1,0,0,1,0,0);
}
#n_34 {
	fill: rgba(0,0,0,1);
}
.n_34 {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.847px;
	transform: matrix(1,0,0,1,0,0);
}
#n_35 {
	fill: rgba(0,0,0,1);
}
.n_35 {
	overflow: visible;
	position: absolute;
	width: 16.11px;
	height: 20.068px;
	left: 182.831px;
	top: 2.575px;
	transform: matrix(1,0,0,1,0,0);
}
#n_36 {
	fill: rgba(0,0,0,1);
}
.n_36 {
	overflow: visible;
	position: absolute;
	width: 9.999px;
	height: 20.98px;
	left: 215.485px;
	top: 1.807px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_ei {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.473px;
	top: 693.151px;
	overflow: visible;
}
#n_37 {
	fill: rgba(255,255,255,1);
}
.n_37 {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.529px;
	top: 1.14px;
	transform: matrix(1,0,0,1,0,0);
}
#n_38 {
	fill: rgba(255,255,255,1);
}
.n_38 {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.392px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_39 {
	fill: rgba(255,255,255,1);
}
.n_39 {
	overflow: visible;
	position: absolute;
	width: 9.095px;
	height: 11.014px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_40 {
	fill: rgba(255,255,255,1);
}
.n_40 {
	overflow: visible;
	position: absolute;
	width: 130.812px;
	height: 12.645px;
	left: 0.652px;
	top: 42.234px;
	transform: matrix(1,0,0,1,0,0);
}
#n_220 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_63 {
	fill: rgba(229,243,48,1);
}
.n_63 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#n_23_ep {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}
#n_54 {
	fill: rgba(19,10,10,1);
}
.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1,0,0,1,0,0);
}
#n_55 {
	fill: rgba(19,10,10,1);
}
.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.599px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_56 {
	fill: rgba(19,10,10,1);
}
.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1,0,0,1,0,0);
}
#n_57 {
	fill: rgba(19,10,10,1);
}
.n_57 {
	overflow: visible;
	position: absolute;
	width: 26.202px;
	height: 38.152px;
	left: 86.599px;
	top: 0.351px;
	transform: matrix(1,0,0,1,0,0);
}
#n_58 {
	fill: rgba(19,10,10,1);
}
.n_58 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_59 {
	fill: rgba(19,10,10,1);
}
.n_59 {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1,0,0,1,0,0);
}
#n_60 {
	fill: rgba(19,10,10,1);
}
.n_60 {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1,0,0,1,0,0);
}
#n_61 {
	fill: rgba(19,10,10,1);
}
.n_61 {
	overflow: visible;
	position: absolute;
	width: 34.252px;
	height: 38.053px;
	left: 208.847px;
	top: 0.25px;
	transform: matrix(1,0,0,1,0,0);
}
#n_62 {
	fill: rgba(19,10,10,1);
}
.n_62 {
	overflow: visible;
	position: absolute;
	width: 29.952px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}