.mediaViewInfo {
	--web-view-name: 競技かるた部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 3259.142px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 競技かるた部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_175 {
	fill: rgba(243,170,160,1);
}
.n_175 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3259.142px;
	left: 0px;
	top: 0px;
}
#n_248 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_248 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 290.029px;
	top: 2151.898px;
	transform: matrix(1,0,0,1,0,0);
}
#n_169 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_169 {
	overflow: visible;
	position: absolute;
	width: 548.372px;
	height: 345.616px;
	left: 455.368px;
	top: 1697.959px;
	transform: matrix(1,0,0,1,0,0);
}
#n_249 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_249 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.762px;
	left: 727.054px;
	top: 2038.831px;
	transform: matrix(1,0,0,1,0,0);
}
#n_176 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_176 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 119.545px;
	top: 2201.521px;
}
#n_177 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_177 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 119.545px;
	top: 2693.399px;
}
#n_178 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_178 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 422.711px;
	top: 2201.521px;
}
#n_179 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_179 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 422.687px;
	top: 2693.399px;
}
#n_170 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_170 {
	overflow: visible;
	position: absolute;
	width: 779.6px;
	height: 388.813px;
	left: 224.324px;
	top: 1200.002px;
	transform: matrix(1,0,0,1,0,0);
}
#n_171 {
	fill: rgba(255,255,255,1);
}
.n_171 {
	overflow: visible;
	position: absolute;
	width: 912.865px;
	height: 126.441px;
	left: 86.058px;
	top: 974.55px;
	transform: matrix(1,0,0,1,0,0);
}
#n_250 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_250 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.369px;
	left: 939.737px;
	top: 1584.05px;
	transform: matrix(1,0,0,1,0,0);
}
#n_180 {
	fill: rgba(46,47,47,1);
}
.n_180 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 948.797px;
}
#Text {
	left: 48.188px;
	top: 692.723px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#Text_ {
	left: 49.448px;
	top: 801.645px;
	position: absolute;
	overflow: visible;
	width: 806px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_ba {
	left: 49.447px;
	top: 642.973px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_117 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 188.623px;
	top: 1167.114px;
	overflow: visible;
}
#n_179_bb {
	fill: rgba(135,128,136,1);
}
.n_179_bb {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_180_bc {
	fill: rgba(255,255,255,1);
}
.n_180_bc {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 212.371px;
	top: 1180.537px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_be {
	left: 283.011px;
	top: 1180.537px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 95.475px;
	top: 956.843px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#Text_bg {
	left: 500.118px;
	top: 1021.309px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n____ {
	left: 265.728px;
	top: 1256.695px;
	position: absolute;
	overflow: hidden;
	width: 681.321px;
	height: 306.6002197265625px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_118 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.983px;
	top: 2119.01px;
	overflow: visible;
}
#n_181 {
	fill: rgba(135,128,136,1);
}
.n_181 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_182 {
	fill: rgba(255,255,255,1);
}
.n_182 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bl {
	left: 74.731px;
	top: 2132.434px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 145.372px;
	top: 2132.434px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bn {
	left: 199.074px;
	top: 2418.493px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 217.074px;
	top: 2736.67px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_5 {
	left: 214.074px;
	top: 2472.687px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_0 {
	left: 196.074px;
	top: 2520.654px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_br {
	left: 202.175px;
	top: 2560.76px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_251 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_251 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 86.3px;
	top: 3011.679px;
	transform: matrix(1,0,0,1,0,0);
}
#n_119 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 418.582px;
	top: 1665.071px;
	overflow: visible;
}
#n_183 {
	fill: rgba(135,128,136,1);
}
.n_183 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_184 {
	fill: rgba(255,255,255,1);
}
.n_184 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bw {
	left: 442.33px;
	top: 1678.495px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bx {
	left: 524.141px;
	top: 1678.495px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n_____ {
	left: 504.139px;
	top: 1754.652px;
	position: absolute;
	overflow: visible;
	width: 460.352px;
	height: 263.53082275390625px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_120 {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 217.594px;
	top: 2227.928px;
	overflow: visible;
}
#n_185 {
	fill: rgba(46,47,47,1);
}
.n_185 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_172 {
	fill: rgba(46,47,47,1);
}
.n_172 {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_b {
	left: 673.622px;
	top: 2418.493px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_000 {
	left: 613.622px;
	top: 2472.687px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_ca {
	left: 621.622px;
	top: 2533.47px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_0000 {
	left: 537.722px;
	top: 2565.275px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_186 {
	fill: rgba(46,47,47,1);
}
.n_186 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 647.295px;
	top: 2240.512px;
}
#n_121 {
	position: absolute;
	width: 55.534px;
	height: 71.122px;
	left: 683.906px;
	top: 2271.024px;
	overflow: visible;
}
#n_173 {
	fill: rgba(255,255,255,1);
}
.n_173 {
	overflow: visible;
	position: absolute;
	width: 55.534px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cb {
	left: 634.768px;
	top: 2769.042px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 596.792px;
	top: 2853.537px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_174 {
	fill: rgba(46,47,47,1);
}
.n_174 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 926.769px;
	top: 2796.767px;
	transform: matrix(1,0,0,1,0,0);
}
#n_170_cc {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 72.496px;
	top: 3068.452px;
	overflow: visible;
}
#Text_cd {
	left: 142.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_181_ce {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_181_ce {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_122 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_187 {
	fill: rgba(46,47,47,1);
}
.n_187 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_175_ch {
	fill: rgba(255,255,255,1);
}
.n_175_ch {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_171_ci {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 559.39px;
	top: 3068.452px;
	overflow: visible;
}
#Text_cj {
	left: 93.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_182_ck {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_182_ck {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_123 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_188 {
	fill: rgba(46,47,47,1);
}
.n_188 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_176_cn {
	fill: rgba(255,255,255,1);
}
.n_176_cn {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_177_co {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_177_co {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 503.222px;
	top: 3013.675px;
	transform: matrix(1,0,0,1,0,0);
}
#n_252 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_252 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 530.986px;
	top: 3123.322px;
	transform: matrix(1,0,0,1,0,0);
}
#n_183_cq {
	fill: rgba(255,255,255,1);
}
.n_183_cq {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 974.238px;
}
#n_184_cr {
	fill: rgba(255,255,255,1);
}
.n_184_cr {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 224.116px;
	top: 973.673px;
}
#n_253 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_253 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 145.372px;
	top: 1072.551px;
	transform: matrix(1,0,0,1,0,0);
}
#n_125 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 208.762px;
	top: 2805.804px;
	overflow: visible;
}
#n_189 {
	fill: rgba(46,47,47,1);
}
.n_189 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#n_124 {
	position: absolute;
	width: 47.296px;
	height: 25.495px;
	left: 23.665px;
	top: 34.565px;
	overflow: visible;
}
#n_178_cw {
	fill: rgba(255,255,255,1);
}
.n_178_cw {
	overflow: visible;
	position: absolute;
	width: 22.931px;
	height: 25.403px;
	left: 0px;
	top: 0.092px;
	transform: matrix(1,0,0,1,0,0);
}
#n_179_cx {
	fill: rgba(255,255,255,1);
}
.n_179_cx {
	overflow: visible;
	position: absolute;
	width: 20.549px;
	height: 25.495px;
	left: 26.747px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cy {
	left: 713.603px;
	top: 1512.682px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#n_3 {
	position: absolute;
	width: 766.83px;
	height: 2399.384px;
	left: 143.372px;
	top: 859.758px;
	display: none;
	overflow: visible;
}
#n_254 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_254 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 424.978px;
	top: 336.7px;
	transform: matrix(1,0,0,1,0,0);
}
#n_255 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_255 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 188.874px;
	top: 677.537px;
	transform: matrix(1,0,0,1,0,0);
}
#n_256 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_256 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 751.533px;
	top: 834.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_257 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_257 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 498.802px;
	top: 1132.425px;
	transform: matrix(1,0,0,1,0,0);
}
#n_258 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_258 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 108.731px;
	top: 2314.345px;
	transform: matrix(1,0,0,1,0,0);
}
#n_259 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_259 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 113.387px;
	top: 2091.234px;
	transform: matrix(1,0,0,1,0,0);
}
#n_260 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_260 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 507.833px;
	top: 237.234px;
	transform: matrix(1,0,0,1,0,0);
}
#n_261 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_261 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_262 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_262 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 766.83px;
	top: 720.907px;
	transform: matrix(1,0,0,1,0,0);
}
#n_263 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_263 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 523.41px;
	top: 1175.073px;
	transform: matrix(1,0,0,1,0,0);
}
#n_12 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -0.113px;
	top: -0.375px;
	overflow: visible;
}