* {
	text-decoration: none;
	color: #000000;
}

.mediaViewInfo {
	--web-view-name: 建築同好会;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

:root {
	--web-view-ids: Artboard;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 3752.472px;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
	--web-view-name: 建築同好会;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#Group {
	position: absolute;
	width: 1062.992px;
	height: 2977.714px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#n_35 {
	fill: rgba(243, 170, 160, 1);
}

.n_35 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 2977.714px;
	left: 0px;
	top: 0px;
}

#n_32 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_32 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.1px;
	top: 1630.038px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_41 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.n_41 {
	overflow: visible;
	position: absolute;
	width: 615.462px;
	height: 137.505px;
	left: 387.532px;
	top: 1411.57px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_33 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_33 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 90.962px;
	left: 476.959px;
	top: 1544.076px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_36 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_36 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 118.616px;
	top: 1679.661px;
}

#n_37 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_37 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.592px;
	left: 118.616px;
	top: 2197.182px;
}

#n_38 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_38 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.782px;
	top: 1679.661px;
}

#n_39 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_39 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.592px;
	left: 421.782px;
	top: 2197.182px;
}

#n_42 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.n_42 {
	overflow: visible;
	position: absolute;
	width: 917.239px;
	height: 134.548px;
	left: 85.755px;
	top: 1173.938px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_34 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_34 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 113.085px;
	left: 868.027px;
	top: 1303.485px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text {
	left: 47.884px;
	top: 808.459px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46, 47, 47, 1);
}

#Text_ {
	left: 49.143px;
	top: 758.709px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#n_25 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1141.049px;
	overflow: visible;
}

#n_36_ {
	fill: rgba(135, 128, 136, 1);
}

.n_36_ {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 4.114px;
	top: 4.114px;
}

#n_37_ba {
	fill: rgba(255, 255, 255, 1);
}

.n_37_ba {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 0px;
	top: 0px;
}

#n_ {
	left: 73.802px;
	top: 1154.473px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bc {
	left: 144.442px;
	top: 1154.473px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bd {
	left: 127.159px;
	top: 1243.488px;
	position: absolute;
	overflow: visible;
	width: 799.681px;
	height: 62.78321075439453px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_26 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1597.15px;
	overflow: visible;
}

#n_38_bf {
	fill: rgba(135, 128, 136, 1);
}

.n_38_bf {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 4.114px;
	top: 4.115px;
}

#n_39_bg {
	fill: rgba(255, 255, 255, 1);
}

.n_39_bg {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 0px;
	top: 0px;
}

#n__bh {
	left: 73.802px;
	top: 1610.574px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#DATA {
	left: 144.442px;
	top: 1610.574px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bj {
	left: 198.145px;
	top: 1896.632px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#SNS {
	left: 216.145px;
	top: 2240.452px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_3 {
	left: 213.145px;
	top: 1950.826px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n__bm {
	left: 201.145px;
	top: 1998.794px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#Text_bn {
	left: 195.245px;
	top: 2038.899px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#n_35_bo {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_35_bo {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 85.37px;
	top: 2725.929px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_40 {
	fill: rgba(135, 128, 136, 1);
}

.n_40 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 355.945px;
	top: 1382.797px;
}

#n_41_bq {
	fill: rgba(255, 255, 255, 1);
}

.n_41_bq {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 351.831px;
	top: 1378.682px;
}

#n__br {
	left: 375.579px;
	top: 1392.106px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bs {
	left: 446.219px;
	top: 1392.106px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#n_27 {
	position: absolute;
	width: 76.96px;
	height: 147.093px;
	left: 216.665px;
	top: 1706.068px;
	overflow: visible;
}

#n_42_bu {
	fill: rgba(46, 47, 47, 1);
}

.n_42_bu {
	position: absolute;
	overflow: visible;
	width: 76.959px;
	height: 76.959px;
	left: 0px;
	top: 0px;
}

#n_43 {
	fill: rgba(46, 47, 47, 1);
}

.n_43 {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_bw {
	left: 672.692px;
	top: 1874.095px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_bx {
	left: 672.692px;
	top: 1928.289px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -6px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_by {
	left: 620.692px;
	top: 2020.454px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#Text_bz {
	left: 684.792px;
	top: 2055.378px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#n_43_b {
	fill: rgba(46, 47, 47, 1);
}

.n_43_b {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 646.365px;
	top: 1718.651px;
}

#n_28 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.977px;
	top: 1749.165px;
	overflow: visible;
}

#n_44 {
	fill: rgba(255, 255, 255, 1);
}

.n_44 {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_b {
	left: 633.838px;
	top: 2252.541px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n__b {
	left: 508.692px;
	top: 2355.423px;
	position: absolute;
	overflow: visible;
	width: 405px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_45 {
	fill: rgba(46, 47, 47, 1);
}

.n_45 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.84px;
	top: 2300.549px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_153 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 67px;
	top: 2782.458px;
	overflow: visible;
}

#Text_ca {
	left: 157.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#n_40_b {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_40_b {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}

#n_29 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}

#n_45_ca {
	fill: rgba(46, 47, 47, 1);
}

.n_45_ca {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}

#n_46 {
	fill: rgba(255, 255, 255, 1);
}

.n_46 {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.117px;
	left: 17.24px;
	top: 12.955px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_154 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 553.894px;
	top: 2782.458px;
	overflow: visible;
}

#Text_cd {
	left: 25.981px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#n_41_ce {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_41_ce {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}

#n_30 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}

#n_46_cg {
	fill: rgba(46, 47, 47, 1);
}

.n_46_cg {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}

#n_47 {
	fill: rgba(255, 255, 255, 1);
}

.n_47 {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.117px;
	left: 26.426px;
	top: 12.955px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_48 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_48 {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 497.726px;
	top: 2727.683px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_36_cj {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_36_cj {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 525.49px;
	top: 2837.329px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_133 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.933px;
	top: 2309.647px;
	overflow: visible;
}

#n_44_cl {
	fill: rgba(46, 47, 47, 1);
}

.n_44_cl {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}

#HP {
	left: 24.813px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255, 255, 255, 1);
}

#Text_cn {
	left: 817.974px;
	top: 2081.986px;
	position: absolute;
	overflow: visible;
	width: 7.651px;
	height: 11px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}

#n_42_co {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_42_co {
	position: absolute;
	overflow: visible;
	width: 878.776px;
	height: 158.784px;
	left: 117.006px;
	top: 2515.468px;
}

#Text_cp {
	left: 155.74px;
	top: 2543.85px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_cq {
	left: 161.136px;
	top: 2605.044px;
	position: absolute;
	overflow: visible;
	width: 469px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#Text_cr {
	left: 436.953px;
	top: 1482.507px;
	position: absolute;
	overflow: visible;
	width: 512.619px;
	height: 65.85920715332031px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_49 {
	fill: rgba(255, 255, 255, 1);
}

.n_49 {
	overflow: visible;
	position: absolute;
	width: 912.864px;
	height: 126.442px;
	left: 85.188px;
	top: 948.752px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_43_ct {
	fill: rgba(46, 47, 47, 1);
}

.n_43_ct {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 922.999px;
}

#News {
	left: 94.604px;
	top: 931.045px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255, 255, 255, 1);
}

#Text_cv {
	left: 499.247px;
	top: 995.51px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#n_44_cw {
	fill: rgba(255, 255, 255, 1);
}

.n_44_cw {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 948.44px;
}

#n_45_cx {
	fill: rgba(255, 255, 255, 1);
}

.n_45_cx {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.246px;
	top: 947.874px;
}

#n_37_cy {
	fill: transparent;
	stroke: rgba(46, 47, 47, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_37_cy {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 144.501px;
	top: 1046.752px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_3_cz {
	position: absolute;
	width: 324.875px;
	height: 2250.321px;
	left: 241.101px;
	top: 614.007px;
	display: none;
	overflow: visible;
}

#n_38_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_38_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 35.232px;
	top: 2165.281px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_39_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_39_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 39.888px;
	top: 1942.172px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_40_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_40_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.212px;
	left: 324.875px;
	top: 347.834px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_41_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_41_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 198.425px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_42_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_42_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 6.232px;
	top: 1731.846px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_3_c {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: 0.388px;
	top: 113.386px;
	overflow: visible;
}

#n_201 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 2977.714px;
	overflow: visible;
}

#n_2 {
	fill: rgba(229, 243, 48, 1);
}

.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}

#n_3_da {
	fill: rgba(255, 255, 255, 1);
}

.n_3_da {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 49.521px;
	top: 584.857px;
}

#n_2_c {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.331px;
	overflow: visible;
}

#n_5 {
	fill: rgba(0, 0, 0, 1);
}

.n_5 {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.531px;
	left: 0px;
	top: 0.288px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6 {
	fill: rgba(0, 0, 0, 1);
}

.n_6 {
	overflow: visible;
	position: absolute;
	width: 22.802px;
	height: 37.251px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_7 {
	fill: rgba(0, 0, 0, 1);
}

.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.714px;
	height: 36.627px;
	left: 74.303px;
	top: 0.288px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_8 {
	fill: rgba(0, 0, 0, 1);
}

.n_8 {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.819px;
	left: 112.028px;
	top: 0.384px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_3_de {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.071px;
	overflow: visible;
}

#n_9 {
	fill: rgba(0, 0, 0, 1);
}

.n_9 {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.202px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_10 {
	fill: rgba(0, 0, 0, 1);
}

.n_10 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.562px;
	left: 36.705px;
	top: 9.95px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_11 {
	fill: rgba(0, 0, 0, 1);
}

.n_11 {
	overflow: visible;
	position: absolute;
	width: 24.989px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}

#n_12 {
	fill: rgba(0, 0, 0, 1);
}

.n_12 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_13 {
	fill: rgba(0, 0, 0, 1);
}

.n_13 {
	overflow: visible;
	position: absolute;
	width: 27.527px;
	height: 18.997px;
	left: 39.914px;
	top: 8.085px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_14 {
	fill: rgba(0, 0, 0, 1);
}

.n_14 {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.46px;
	left: 72.827px;
	top: 0.071px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_5_dm {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.533px;
	overflow: visible;
}

#n_15 {
	fill: rgba(0, 0, 0, 1);
}

.n_15 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_16 {
	fill: rgba(0, 0, 0, 1);
}

.n_16 {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.18px;
	left: 34.668px;
	top: 0.035px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_17 {
	fill: rgba(0, 0, 0, 1);
}

.n_17 {
	overflow: visible;
	position: absolute;
	width: 33.223px;
	height: 31.316px;
	left: 70.812px;
	top: 0.215px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_18 {
	fill: rgba(0, 0, 0, 1);
}

.n_18 {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.99px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6_dr {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.971px;
	top: 402.915px;
	overflow: visible;
}

#n_19 {
	fill: rgba(0, 0, 0, 1);
}

.n_19 {
	overflow: visible;
	position: absolute;
	width: 31.532px;
	height: 32.325px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_20 {
	fill: rgba(0, 0, 0, 1);
}

.n_20 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.568px;
	left: 35.352px;
	top: 0.54px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_21 {
	fill: rgba(0, 0, 0, 1);
}

.n_21 {
	overflow: visible;
	position: absolute;
	width: 13.57px;
	height: 30.271px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_22 {
	fill: rgba(0, 0, 0, 1);
}

.n_22 {
	overflow: visible;
	position: absolute;
	width: 21.008px;
	height: 18.781px;
	left: 110.505px;
	top: 8.396px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_23 {
	fill: rgba(0, 0, 0, 1);
}

.n_23 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.563px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_24 {
	fill: rgba(0, 0, 0, 1);
}

.n_24 {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.692px;
	left: 179.346px;
	top: 7.524px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_7_dy {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.768px;
	overflow: visible;
}

#n_25_dz {
	fill: rgba(0, 0, 0, 1);
}

.n_25_dz {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.854px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_d {
	fill: rgba(0, 0, 0, 1);
}

.n_26_d {
	overflow: visible;
	position: absolute;
	width: 31.892px;
	height: 29.948px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_27_d {
	fill: rgba(0, 0, 0, 1);
}

.n_27_d {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.028px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_ea {
	fill: rgba(0, 0, 0, 1);
}

.n_26_ea {
	position: absolute;
	overflow: visible;
	width: 193.411px;
	height: 6.776px;
	left: 432.219px;
	top: 111.441px;
}

#n_8_d {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.603px;
	top: 602.697px;
	overflow: visible;
}

#n_28_d {
	fill: rgba(0, 0, 0, 1);
}

.n_28_d {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.519px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_29_d {
	fill: rgba(0, 0, 0, 1);
}

.n_29_d {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.204px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_30_d {
	fill: rgba(0, 0, 0, 1);
}

.n_30_d {
	overflow: visible;
	position: absolute;
	width: 20.775px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_31 {
	fill: rgba(0, 0, 0, 1);
}

.n_31 {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.052px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_32_d {
	fill: rgba(0, 0, 0, 1);
}

.n_32_d {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.853px;
	left: 103.74px;
	top: 1.716px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_33_d {
	fill: rgba(0, 0, 0, 1);
}

.n_33_d {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.519px;
	left: 129.714px;
	top: 0.181px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_34_ea {
	fill: rgba(0, 0, 0, 1);
}

.n_34_ea {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.846px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_35_eb {
	fill: rgba(0, 0, 0, 1);
}

.n_35_eb {
	overflow: visible;
	position: absolute;
	width: 16.11px;
	height: 20.068px;
	left: 182.831px;
	top: 2.574px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_36_ec {
	fill: rgba(0, 0, 0, 1);
}

.n_36_ec {
	overflow: visible;
	position: absolute;
	width: 9.999px;
	height: 20.98px;
	left: 215.485px;
	top: 1.807px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_9_ed {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.473px;
	top: 693.15px;
	overflow: visible;
}

#n_37_ee {
	fill: rgba(255, 255, 255, 1);
}

.n_37_ee {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.529px;
	top: 1.141px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_38_ef {
	fill: rgba(255, 255, 255, 1);
}

.n_38_ef {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.392px;
	left: 0px;
	top: 1.002px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_39_eg {
	fill: rgba(255, 255, 255, 1);
}

.n_39_eg {
	overflow: visible;
	position: absolute;
	width: 9.095px;
	height: 11.015px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_40_eh {
	fill: rgba(255, 255, 255, 1);
}

.n_40_eh {
	overflow: visible;
	position: absolute;
	width: 130.812px;
	height: 12.645px;
	left: 0.652px;
	top: 42.234px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_202 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#n_63 {
	fill: rgba(229, 243, 48, 1);
}

.n_63 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}

#n_23_ek {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}

#n_54 {
	fill: rgba(19, 10, 10, 1);
}

.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_55 {
	fill: rgba(19, 10, 10, 1);
}

.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.599px;
	top: 13.201px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_56 {
	fill: rgba(19, 10, 10, 1);
}

.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_57 {
	fill: rgba(19, 10, 10, 1);
}

.n_57 {
	overflow: visible;
	position: absolute;
	width: 26.202px;
	height: 38.152px;
	left: 86.599px;
	top: 0.351px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_58 {
	fill: rgba(19, 10, 10, 1);
}

.n_58 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_59 {
	fill: rgba(19, 10, 10, 1);
}

.n_59 {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_60 {
	fill: rgba(19, 10, 10, 1);
}

.n_60 {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_61 {
	fill: rgba(19, 10, 10, 1);
}

.n_61 {
	overflow: visible;
	position: absolute;
	width: 34.252px;
	height: 38.053px;
	left: 208.847px;
	top: 0.25px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_62 {
	fill: rgba(19, 10, 10, 1);
}

.n_62 {
	overflow: visible;
	position: absolute;
	width: 29.952px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}