* {
	text-decoration: none;
	color: #000000;
}

*  {
	font-family:fot-tsukuardgothic-std, sans-serif;
	font-style: normal;
	font-weight: bold;
}
.mediaViewInfo {
	--web-view-name: バドミントン（女子）部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4538.812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: バドミントン（女子）部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group {
	position: absolute;
	width: 1062.992px;
	height: 4538.811px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_100 {
	fill: rgba(251,164,159,1);
}
.n_100 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3764.686px;
	left: 0px;
	top: 0px;
}
#n_101 {
	fill: rgba(229,243,48,1);
}
.n_101 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3764.053px;
}
#n_102 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_102 {
	position: absolute;
	overflow: visible;
	width: 884.378px;
	height: 201.804px;
	left: 118.049px;
	top: 3261.485px;
}
#n_103 {
	fill: rgba(255,255,255,1);
}
.n_103 {
	position: absolute;
	overflow: visible;
	width: 962.925px;
	height: 63.005px;
	left: 49.468px;
	top: 4348.912px;
}
#n_41 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_41 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 288.532px;
	top: 2423.837px;
	transform: matrix(1,0,0,1,0,0);
}
#n_113 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_113 {
	overflow: visible;
	position: absolute;
	width: 545.771px;
	height: 274.025px;
	left: 334.185px;
	top: 2041.599px;
	transform: matrix(1,0,0,1,0,0);
}
#n_104 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_104 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 118.049px;
	top: 2473.459px;
}
#n_105 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_105 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 118.049px;
	top: 2965.337px;
}
#n_106 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_106 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.215px;
	top: 2473.459px;
}
#n_107 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_107 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.593px;
	left: 421.215px;
	top: 2965.337px;
}
#n_114 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_114 {
	overflow: visible;
	position: absolute;
	width: 803.424px;
	height: 361.708px;
	left: 85.188px;
	top: 1571.505px;
	transform: matrix(1,0,0,1,0,0);
}
#n_115 {
	fill: rgba(255,255,255,1);
}
.n_115 {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.035px;
	left: 85.188px;
	top: 1120.258px;
	transform: matrix(1,0,0,1,0,0);
}
#n_42 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_42 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.386px;
	left: 774.551px;
	top: 1928.213px;
	transform: matrix(1,0,0,1,0,0);
}
#n_43 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_43 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.386px;
	left: 517.838px;
	top: 2310.624px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_bh {
	position: absolute;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1094.505px;
	overflow: visible;
}
#n_108 {
	fill: rgba(39,31,35,1);
}
.n_108 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 157.396px;
	top: 3289.868px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_ {
	left: 160.939px;
	top: 3351.063px;
	position: absolute;
	overflow: visible;
	width: 365px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_116 {
	fill: rgba(0,0,0,1);
}
.n_116 {
	overflow: visible;
	position: absolute;
	width: 16.251px;
	height: 27.112px;
	left: 963.6px;
	top: 4366.858px;
	transform: matrix(1,0,0,1,0,0);
}
#MENU {
	left: 459.936px;
	top: 3822.717px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Text_bn {
	left: 477.936px;
	top: 3923.509px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bo {
	left: 476.936px;
	top: 4003.893px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bp {
	left: 458.936px;
	top: 4084.277px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bq {
	left: 437.936px;
	top: 4164.661px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_br {
	left: 476.936px;
	top: 4245.042px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n_109 {
	fill: rgba(0,0,0,1);
}
.n_109 {
	position: absolute;
	overflow: visible;
	width: 193.206px;
	height: 6.776px;
	left: 431.76px;
	top: 3875.495px;
}
#Text_bt {
	left: 413.935px;
	top: 4365.223px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_81 {
	position: absolute;
	width: 135.049px;
	height: 54.879px;
	left: 474.968px;
	top: 4457.205px;
	overflow: visible;
}
#n_117 {
	fill: rgba(255,255,255,1);
}
.n_117 {
	overflow: visible;
	position: absolute;
	width: 94.563px;
	height: 34.005px;
	left: 40.486px;
	top: 1.141px;
	transform: matrix(1,0,0,1,0,0);
}
#n_118 {
	fill: rgba(255,255,255,1);
}
.n_118 {
	overflow: visible;
	position: absolute;
	width: 42.195px;
	height: 33.393px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_119 {
	fill: rgba(255,255,255,1);
}
.n_119 {
	overflow: visible;
	position: absolute;
	width: 9.085px;
	height: 11.015px;
	left: 64.954px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_120 {
	fill: rgba(255,255,255,1);
}
.n_120 {
	overflow: visible;
	position: absolute;
	width: 130.673px;
	height: 12.645px;
	left: 0.652px;
	top: 42.234px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bz {
	left: 47.322px;
	top: 804.688px;
	position: absolute;
	overflow: visible;
	width: 687px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(39,31,35,1);
}
#n__b {
	left: 48.582px;
	top: 913.611px;
	position: absolute;
	overflow: visible;
	width: 631px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#Text_b {
	left: 48.582px;
	top: 754.939px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_82 {
	position: absolute;
	width: 73.574px;
	height: 73.573px;
	left: 49.486px;
	top: 1538.617px;
	overflow: visible;
}
#n_73 {
	fill: rgba(139,123,130,1);
}
.n_73 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_74 {
	fill: rgba(255,255,255,1);
}
.n_74 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__ca {
	left: 73.232px;
	top: 1552.041px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_ca {
	left: 143.873px;
	top: 1552.041px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cb {
	left: 126.592px;
	top: 1642.372px;
	position: absolute;
	overflow: visible;
	width: 703.712px;
	height: 265.02471923828125px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_83 {
	position: absolute;
	width: 73.574px;
	height: 73.573px;
	left: 49.486px;
	top: 2390.949px;
	overflow: visible;
}
#n_75 {
	fill: rgba(139,123,130,1);
}
.n_75 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.114px;
}
#n_76 {
	fill: rgba(255,255,255,1);
}
.n_76 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__cb {
	left: 73.232px;
	top: 2404.373px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#DATA {
	left: 143.873px;
	top: 2404.373px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cd {
	left: 197.578px;
	top: 2690.431px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#SNS {
	left: 215.578px;
	top: 3008.609px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_3 {
	left: 212.578px;
	top: 2744.625px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_cg {
	left: 186.578px;
	top: 2792.592px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(39,31,35,1);
}
#n_84 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 294.117px;
	top: 2008.71px;
	overflow: visible;
}
#n_77 {
	fill: rgba(139,123,130,1);
}
.n_77 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.114px;
	top: 4.114px;
}
#n_78 {
	fill: rgba(255,255,255,1);
}
.n_78 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__ck {
	left: 317.866px;
	top: 2022.135px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cl {
	left: 388.506px;
	top: 2022.135px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#n___ {
	left: 375.589px;
	top: 2112.466px;
	position: absolute;
	overflow: hidden;
	width: 496.93px;
	height: 177.6253204345703px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_85 {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 216.098px;
	top: 2499.867px;
	overflow: visible;
}
#n_79 {
	fill: rgba(39,31,35,1);
}
.n_79 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_121 {
	fill: rgba(39,31,35,1);
}
.n_121 {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.959px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cq {
	left: 672.126px;
	top: 2690.431px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_000 {
	left: 612.126px;
	top: 2744.625px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_cs {
	left: 620.126px;
	top: 2805.408px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(39,31,35,1);
}
#n_0000 {
	left: 640.227px;
	top: 2837.212px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_80 {
	fill: rgba(39,31,35,1);
}
.n_80 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 645.799px;
	top: 2512.45px;
}
#n_86 {
	position: absolute;
	width: 55.532px;
	height: 71.122px;
	left: 682.41px;
	top: 2542.962px;
	overflow: visible;
}
#n_122 {
	fill: rgba(255,255,255,1);
}
.n_122 {
	overflow: visible;
	position: absolute;
	width: 55.532px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cx {
	left: 633.272px;
	top: 3008.608px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_cy {
	left: 652.272px;
	top: 3102.402px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_123 {
	fill: rgba(39,31,35,1);
}
.n_123 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.272px;
	top: 3068.705px;
	transform: matrix(1,0,0,1,0,0);
}
#News {
	left: 94.602px;
	top: 1102.551px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0211102 {
	left: 142.672px;
	top: 1167.779px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_436 {
	position: absolute;
	width: 156.804px;
	height: 27.113px;
	left: 795.618px;
	top: 1422.035px;
	overflow: visible;
}
#n_131 {
	fill: rgba(39,31,35,1);
}
.n_131 {
	overflow: visible;
	position: absolute;
	width: 16.269px;
	height: 27.113px;
	left: 140.535px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_c {
	left: 0px;
	top: 1.056px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n__c {
	left: 142.672px;
	top: 1218.984px;
	position: absolute;
	overflow: visible;
	width: 561px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#n_0201104 {
	left: 142.672px;
	top: 1298.497px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n__da {
	left: 142.672px;
	top: 1349.702px;
	position: absolute;
	overflow: visible;
	width: 561px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#n_46 {
	fill: transparent;
	stroke: rgba(39,31,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_46 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.092px;
	top: 1269.634px;
	transform: matrix(1,0,0,1,0,0);
}
#n_47 {
	fill: transparent;
	stroke: rgba(39,31,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_47 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.092px;
	top: 1400.328px;
	transform: matrix(1,0,0,1,0,0);
}
#n_112 {
	fill: rgba(255,255,255,1);
}
.n_112 {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1119.946px;
}
#n_113_db {
	fill: rgba(255,255,255,1);
}
.n_113_db {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.245px;
	top: 1119.38px;
}
#n_92 {
	position: absolute;
	width: 1062.992px;
	height: 597.933px;
	left: 0px;
	top: 111.029px;
	overflow: visible;
}
#n_91 {
	position: absolute;
	width: 1062.992px;
	height: 597.933px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_93 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: -0.126px;
	top: -0.392px;
	overflow: visible;
}
#n_116_df {
	fill: rgba(229,243,48,1);
}
.n_116_df {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#Meiden-XR {
	left: 65.102px;
	top: 33.239px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	line-height: 87.5px;
	margin-top: -18.75px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(19,10,10,1);
}
#n_381 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.266px;
	top: 3078.224px;
	overflow: visible;
}
#n_303 {
	fill: rgba(39,31,35,1);
}
.n_303 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 31.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#n_346 {
	position: absolute;
	width: 431.367px;
	height: 109.888px;
	left: 98.607px;
	top: 3569.758px;
	overflow: visible;
}
#Text_dl {
	left: 86.119px;
	top: 38.945px;
	position: absolute;
	overflow: visible;
	width: 295px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#n_139 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_139 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.872px;
	top: 0px;
}
#n_90 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.712px;
	overflow: visible;
}
#n_83_do {
	fill: rgba(39,31,35,1);
}
.n_83_do {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_128 {
	fill: rgba(255,255,255,1);
}
.n_128 {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.115px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_345 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 586.143px;
	top: 3569.711px;
	overflow: visible;
}
#Text_dr {
	left: 93.247px;
	top: 39.943px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#n_140 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_140 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_91_dt {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.263px;
	top: 20.712px;
	overflow: visible;
}
#n_84_du {
	fill: rgba(39,31,35,1);
}
.n_84_du {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_129 {
	fill: rgba(255,255,255,1);
}
.n_129 {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.115px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_458 {
	position: absolute;
	width: 918.261px;
	height: 109.72px;
	left: 98.607px;
	top: 3514.982px;
	overflow: visible;
}
#n_6 {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 56.168px;
	height: 5px;
	left: 431.367px;
	top: 109.72px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 109.72px;
	left: 459.13px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}