.mediaViewInfo {
	--web-view-name: 英語研究部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 3502.245px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 英語研究部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group {
	position: absolute;
	width: 1062.992px;
	height: 3502.245px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_77 {
	fill: rgba(243,170,160,1);
}
.n_77 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3502.245px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 678.814px;
	top: 2400.241px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_y {
	left: 678.814px;
	top: 2454.435px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_91 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_91 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 293.099px;
	top: 2156.028px;
	transform: matrix(1,0,0,1,0,0);
}
#n_79 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_79 {
	overflow: visible;
	position: absolute;
	width: 615.462px;
	height: 346.161px;
	left: 391.531px;
	top: 1701.499px;
	transform: matrix(1,0,0,1,0,0);
}
#n_92 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_92 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.367px;
	left: 480.959px;
	top: 2042.661px;
	transform: matrix(1,0,0,1,0,0);
}
#n_78 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_78 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 463.54px;
	left: 122.616px;
	top: 2205.65px;
}
#n_79_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_79_ {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 266.593px;
	left: 122.616px;
	top: 2723.171px;
}
#n_80 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_80 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 425.782px;
	top: 2205.65px;
}
#n_81 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_81 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 425.782px;
	top: 2723.171px;
}
#n_80_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_80_ {
	overflow: visible;
	position: absolute;
	width: 917.239px;
	height: 348.268px;
	left: 89.755px;
	top: 1244.918px;
	transform: matrix(1,0,0,1,0,0);
}
#n_93 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_93 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.313px;
	left: 872.027px;
	top: 1588.186px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ {
	left: 51.884px;
	top: 692.302px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#Practice_makes_perfect_ {
	left: 53.144px;
	top: 801.224px;
	position: absolute;
	overflow: visible;
	width: 424px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_ba {
	left: 53.143px;
	top: 642.552px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_52 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 54.053px;
	top: 1212.03px;
	overflow: visible;
}
#n_80_bc {
	fill: rgba(135,128,136,1);
}
.n_80_bc {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_81_bd {
	fill: rgba(255,255,255,1);
}
.n_81_bd {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 77.802px;
	top: 1225.453px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bf {
	left: 148.442px;
	top: 1225.453px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#HelloEveryoneIam_Hiroshi_Fukut {
	left: 131.158px;
	top: 1304.61px;
	position: absolute;
	overflow: visible;
	width: 818.696px;
	height: 263.702392578125px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_53 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 54.053px;
	top: 2123.139px;
	overflow: visible;
}
#n_82 {
	fill: rgba(135,128,136,1);
}
.n_82 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_83 {
	fill: rgba(255,255,255,1);
}
.n_83 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bk {
	left: 77.802px;
	top: 2136.563px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 148.442px;
	top: 2136.563px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bm {
	left: 202.145px;
	top: 2422.622px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 220.145px;
	top: 2766.442px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_7 {
	left: 217.145px;
	top: 2476.816px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_5 {
	left: 199.145px;
	top: 2524.783px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_bq {
	left: 199.245px;
	top: 2564.888px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_94 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_94 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 89.37px;
	top: 3251.935px;
	transform: matrix(1,0,0,1,0,0);
}
#n_54 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 355.83px;
	top: 1668.611px;
	overflow: visible;
}
#n_84 {
	fill: rgba(135,128,136,1);
}
.n_84 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_85 {
	fill: rgba(255,255,255,1);
}
.n_85 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bv {
	left: 379.579px;
	top: 1682.035px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bw {
	left: 450.219px;
	top: 1682.035px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n___ {
	left: 432.935px;
	top: 1758.849px;
	position: absolute;
	overflow: hidden;
	width: 497.904px;
	height: 263.2921142578125px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_55 {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 220.664px;
	top: 2232.057px;
	overflow: visible;
}
#n_86 {
	fill: rgba(46,47,47,1);
}
.n_86 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_81_b {
	fill: rgba(46,47,47,1);
}
.n_81_b {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.959px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_b {
	left: 624.692px;
	top: 2538.4px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_ca {
	left: 649.792px;
	top: 2573.325px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_87 {
	fill: rgba(46,47,47,1);
}
.n_87 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 650.365px;
	top: 2244.641px;
}
#n_56 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 686.977px;
	top: 2275.154px;
	overflow: visible;
}
#n_82_b {
	fill: rgba(255,255,255,1);
}
.n_82_b {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cb {
	left: 637.838px;
	top: 2778.531px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 676.692px;
	top: 2843.461px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_83_b {
	fill: rgba(46,47,47,1);
}
.n_83_b {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 929.839px;
	top: 2826.539px;
	transform: matrix(1,0,0,1,0,0);
}
#n_162 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 71px;
	top: 3308.464px;
	overflow: visible;
}
#Text_cd {
	left: 157.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_82_cb {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_82_cb {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_57 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_89 {
	fill: rgba(46,47,47,1);
}
.n_89 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_84_ce {
	fill: rgba(255,255,255,1);
}
.n_84_ce {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_161 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 557.894px;
	top: 3308.464px;
	overflow: visible;
}
#Text_cg {
	left: 153.247px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_83_ch {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_83_ch {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_58 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_90 {
	fill: rgba(46,47,47,1);
}
.n_90 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_85_ck {
	fill: rgba(255,255,255,1);
}
.n_85_ck {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_86_cl {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_86_cl {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 501.726px;
	top: 3253.688px;
	transform: matrix(1,0,0,1,0,0);
}
#n_95 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_95 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 529.49px;
	top: 3363.334px;
	transform: matrix(1,0,0,1,0,0);
}
#n_137 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 211.932px;
	top: 2835.637px;
	overflow: visible;
}
#n_88 {
	fill: rgba(46,47,47,1);
}
.n_88 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.712px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: bold;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#Text_cq {
	left: 821.973px;
	top: 2607.975px;
	position: absolute;
	overflow: visible;
	width: 7.651px;
	height: 11px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#n_84_cr {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_84_cr {
	position: absolute;
	overflow: visible;
	width: 878.776px;
	height: 158.785px;
	left: 121.006px;
	top: 3041.457px;
}
#Text_cs {
	left: 159.74px;
	top: 3069.839px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_ct {
	left: 165.136px;
	top: 3131.034px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_87_cu {
	fill: rgba(255,255,255,1);
}
.n_87_cu {
	overflow: visible;
	position: absolute;
	width: 912.864px;
	height: 126.442px;
	left: 89.188px;
	top: 1019.788px;
	transform: matrix(1,0,0,1,0,0);
}
#n_85_cv {
	fill: rgba(46,47,47,1);
}
.n_85_cv {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 994.036px;
}
#News {
	left: 98.604px;
	top: 1002.082px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#Text_cx {
	left: 503.247px;
	top: 1066.547px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_86_cy {
	fill: rgba(255,255,255,1);
}
.n_86_cy {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1019.477px;
}
#n_87_cz {
	fill: rgba(255,255,255,1);
}
.n_87_cz {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 227.245px;
	top: 1018.911px;
}
#n_96 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_96 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 148.501px;
	top: 1117.79px;
	transform: matrix(1,0,0,1,0,0);
}
#n_59 {
	position: absolute;
	width: 424.889px;
	height: 54.656px;
	left: 502.299px;
	top: 2908.53px;
	overflow: visible;
}
#n_88_c {
	fill: rgba(255,255,255,1);
}
.n_88_c {
	position: absolute;
	overflow: visible;
	width: 424.889px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_88_da {
	fill: rgba(46,47,47,1);
}
.n_88_da {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 384.306px;
	top: 13.392px;
	transform: matrix(1,0,0,1,0,0);
}
#VR {
	left: 117.729px;
	top: 12.348px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_3 {
	position: absolute;
	width: 749.712px;
	height: 2590.537px;
	left: 123.627px;
	top: 911.708px;
	display: none;
	overflow: visible;
}
#n_97 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_97 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 442.666px;
	top: 332.21px;
	transform: matrix(1,0,0,1,0,0);
}
#n_98 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_98 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 206.561px;
	top: 632.958px;
	transform: matrix(1,0,0,1,0,0);
}
#n_99 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_99 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 677.402px;
	top: 789.082px;
	transform: matrix(1,0,0,1,0,0);
}
#n_100 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_100 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 334.922px;
	top: 1087.433px;
	transform: matrix(1,0,0,1,0,0);
}
#n_101 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_101 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 55.588px;
	top: 2505.497px;
	transform: matrix(1,0,0,1,0,0);
}
#n_102 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_102 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 58.691px;
	top: 2282.534px;
	transform: matrix(1,0,0,1,0,0);
}
#n_103 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_103 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_104 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_104 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 263.905px;
	top: 233.523px;
	transform: matrix(1,0,0,1,0,0);
}
#n_105 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_105 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 749.712px;
	top: 675.4px;
	transform: matrix(1,0,0,1,0,0);
}
#n_106 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_106 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 363.742px;
	top: 1129.88px;
	transform: matrix(1,0,0,1,0,0);
}
#n_107 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_107 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 205.453px;
	top: 2072.056px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: 0.131px;
	top: -0.375px;
	overflow: visible;
}