* {
	text-decoration: none;
	color: #000000;
}

*  {
	font-family:fot-tsukuardgothic-std, sans-serif;
	font-style: normal;
	font-weight: bold;
}

.mediaViewInfo {
	--web-view-name: エレクトロニクス研究会;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

:root {
	--web-view-ids: Artboard;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4347.878px;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
	--web-view-name: エレクトロニクス研究会;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#Group {
	position: absolute;
	width: 1062.992px;
	height: 3573.12px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#n_57 {
	fill: rgba(243, 170, 160, 1);
}

.n_57 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3573.12px;
	left: 0px;
	top: 0px;
}

#n_59 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_59 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 304.099px;
	top: 2435.144px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_60 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.n_60 {
	overflow: visible;
	position: absolute;
	width: 615.462px;
	height: 346.29px;
	left: 402.531px;
	top: 1977.789px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_60_z {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_60_z {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 121.064px;
	left: 491.959px;
	top: 2319.079px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_58 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_58 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 463.54px;
	left: 133.616px;
	top: 2484.767px;
}

#n_59_ {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_59_ {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 266.593px;
	left: 133.616px;
	top: 3002.288px;
}

#n_60_ {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_60_ {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 436.782px;
	top: 2484.767px;
}

#n_61 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_61 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.593px;
	left: 436.782px;
	top: 3002.288px;
}

#n_61_ {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.n_61_ {
	overflow: visible;
	position: absolute;
	width: 917.239px;
	height: 389.361px;
	left: 100.755px;
	top: 1478.191px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_62 {
	fill: rgba(255, 255, 255, 1);
}

.n_62 {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 239.676px;
	left: 100.755px;
	top: 1139.303px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_61_ba {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_61_ba {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 120.237px;
	left: 883.027px;
	top: 1862.552px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_62_ {
	fill: rgba(46, 47, 47, 1);
}

.n_62_ {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1113.55px;
}

#Text {
	left: 62.884px;
	top: 810.459px;
	position: absolute;
	overflow: visible;
	width: 771px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46, 47, 47, 1);
}

#n_ {
	left: 64.144px;
	top: 919.381px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#Text_ba {
	left: 64.143px;
	top: 760.709px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#n_38 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 65.053px;
	top: 1445.303px;
	overflow: visible;
}

#n_58_bc {
	fill: rgba(135, 128, 136, 1);
}

.n_58_bc {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.458px;
	left: 4.115px;
	top: 4.115px;
}

#n_59_bd {
	fill: rgba(255, 255, 255, 1);
}

.n_59_bd {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.458px;
	left: 0px;
	top: 0px;
}

#n__be {
	left: 88.802px;
	top: 1458.727px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bf {
	left: 159.442px;
	top: 1458.727px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#News {
	left: 110.171px;
	top: 1121.596px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255, 255, 255, 1);
}

#n_0180903 {
	left: 158.241px;
	top: 1195.061px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_183 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 811.184px;
	top: 1323.469px;
	overflow: visible;
}

#n_63 {
	fill: rgba(46, 47, 47, 1);
}

.n_63 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_bk {
	left: 0px;
	top: 1.057px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n__bl {
	left: 158.241px;
	top: 1234.03px;
	position: absolute;
	overflow: visible;
	width: 561px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#n__ {
	left: 142.158px;
	top: 1534.884px;
	position: absolute;
	overflow: hidden;
	width: 818.696px;
	height: 307.14862060546875px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_______ {
	left: 449.426px;
	top: 2034.832px;
	position: absolute;
	overflow: hidden;
	width: 511.428px;
	height: 263.0311279296875px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_39 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 65.053px;
	top: 2402.256px;
	overflow: visible;
}

#n_60_bp {
	fill: rgba(135, 128, 136, 1);
}

.n_60_bp {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.114px;
}

#n_61_bq {
	fill: rgba(255, 255, 255, 1);
}

.n_61_bq {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}

#n__br {
	left: 88.802px;
	top: 2415.679px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#DATA {
	left: 159.442px;
	top: 2415.679px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bt {
	left: 213.144px;
	top: 2701.737px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#SNS {
	left: 231.144px;
	top: 3045.558px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n__bv {
	left: 239.144px;
	top: 2755.931px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n__bw {
	left: 216.144px;
	top: 2803.899px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#Text_bx {
	left: 210.245px;
	top: 2844.005px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#n_62_by {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_62_by {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 96.621px;
	top: 3322.862px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_40 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 366.83px;
	top: 1944.901px;
	overflow: visible;
}

#n_62_b {
	fill: rgba(135, 128, 136, 1);
}

.n_62_b {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.458px;
	left: 4.115px;
	top: 4.115px;
}

#n_63_b {
	fill: rgba(255, 255, 255, 1);
}

.n_63_b {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.458px;
	left: 0px;
	top: 0px;
}

#n__b {
	left: 390.579px;
	top: 1958.324px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_b {
	left: 461.219px;
	top: 1958.324px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#n_41 {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 231.664px;
	top: 2511.174px;
	overflow: visible;
}

#n_64 {
	fill: rgba(46, 47, 47, 1);
}

.n_64 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}

#n_64_b {
	fill: rgba(46, 47, 47, 1);
}

.n_64_b {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.132px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_ca {
	left: 687.692px;
	top: 2679.2px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_cb {
	left: 687.692px;
	top: 2733.394px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -6px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_cc {
	left: 635.692px;
	top: 2817.508px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#Text_cd {
	left: 699.792px;
	top: 2852.433px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#n_65 {
	fill: rgba(46, 47, 47, 1);
}

.n_65 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 661.365px;
	top: 2523.757px;
}

#n_42 {
	position: absolute;
	width: 55.533px;
	height: 71.123px;
	left: 697.977px;
	top: 2554.27px;
	overflow: visible;
}

#n_65_cd {
	fill: rgba(255, 255, 255, 1);
}

.n_65_cd {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.123px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_ce {
	left: 648.838px;
	top: 3057.646px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n__cf {
	left: 485.692px;
	top: 3151.46px;
	position: absolute;
	overflow: visible;
	width: 481px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_66 {
	fill: rgba(46, 47, 47, 1);
}

.n_66 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 940.84px;
	top: 3105.655px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_158 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 78.251px;
	top: 3379.392px;
	overflow: visible;
}

#n__ci {
	left: 82.479px;
	top: 21.943px;
	position: absolute;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#n_63_cj {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_63_cj {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}

#n_43 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.712px;
	overflow: visible;
}

#n_67 {
	fill: rgba(46, 47, 47, 1);
}

.n_67 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}

#n_67_cm {
	fill: rgba(255, 255, 255, 1);
}

.n_67_cm {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.115px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_157 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 565.145px;
	top: 3379.392px;
	overflow: visible;
}

#Text_co {
	left: 123.247px;
	top: 39.943px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#n_64_cp {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_64_cp {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}

#n_44 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.712px;
	overflow: visible;
}

#n_68 {
	fill: rgba(46, 47, 47, 1);
}

.n_68 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}

#n_68_cs {
	fill: rgba(255, 255, 255, 1);
}

.n_68_cs {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.115px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_69 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_69 {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 508.977px;
	top: 3324.614px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_63_cu {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_63_cu {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 536.741px;
	top: 3434.261px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_64_cv {
	fill: transparent;
	stroke: rgba(46, 47, 47, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_64_cv {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 158.659px;
	top: 1288.679px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_65_cw {
	fill: rgba(255, 255, 255, 1);
}

.n_65_cw {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1138.991px;
}

#n_66_cx {
	fill: rgba(255, 255, 255, 1);
}

.n_66_cx {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 238.812px;
	top: 1138.425px;
}

#n_135 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 222.932px;
	top: 3114.753px;
	overflow: visible;
}

#n_66_cz {
	fill: rgba(46, 47, 47, 1);
}

.n_66_cz {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}

#HP {
	left: 24.813px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255, 255, 255, 1);
}

#Text_c {
	left: 832.973px;
	top: 2887.092px;
	position: absolute;
	overflow: visible;
	width: 7.651px;
	height: 11px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}

#n_3 {
	position: absolute;
	width: 771.691px;
	height: 2546.146px;
	left: 70.776px;
	top: 913.588px;
	display: none;
	overflow: visible;
}

#n_65_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_65_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 748.745px;
	top: 836.267px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_66_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_66_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 333.151px;
	top: 449.681px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_67_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_67_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 97.047px;
	top: 791.522px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_68_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_68_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 771.691px;
	top: 949.279px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_69_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_69_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 535.587px;
	top: 1247.7px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_70 {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_70 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 159.926px;
	top: 2461.106px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_71 {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_71 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 164.582px;
	top: 2237.997px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_72 {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_72 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.212px;
	left: 561.192px;
	top: 350.469px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_73 {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_73 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.04px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_74 {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_74 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 440.979px;
	top: 1292.396px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: 0.017px;
	top: 113.386px;
	overflow: visible;
}

#n_205 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3573.12px;
	overflow: visible;
}

#n_2 {
	fill: rgba(229, 243, 48, 1);
}

.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}

#n_3_dg {
	fill: rgba(255, 255, 255, 1);
}

.n_3_dg {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 49.521px;
	top: 584.857px;
}

#n_2_dh {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.331px;
	overflow: visible;
}

#n_5 {
	fill: rgba(0, 0, 0, 1);
}

.n_5 {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.531px;
	left: 0px;
	top: 0.288px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6_dj {
	fill: rgba(0, 0, 0, 1);
}

.n_6_dj {
	overflow: visible;
	position: absolute;
	width: 22.802px;
	height: 37.251px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_7 {
	fill: rgba(0, 0, 0, 1);
}

.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.714px;
	height: 36.627px;
	left: 74.303px;
	top: 0.288px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_8 {
	fill: rgba(0, 0, 0, 1);
}

.n_8 {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.819px;
	left: 112.028px;
	top: 0.384px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_3_dm {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.071px;
	overflow: visible;
}

#n_9 {
	fill: rgba(0, 0, 0, 1);
}

.n_9 {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.202px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_10 {
	fill: rgba(0, 0, 0, 1);
}

.n_10 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.563px;
	left: 36.705px;
	top: 9.949px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_11 {
	fill: rgba(0, 0, 0, 1);
}

.n_11 {
	overflow: visible;
	position: absolute;
	width: 24.989px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}

#n_12 {
	fill: rgba(0, 0, 0, 1);
}

.n_12 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_13 {
	fill: rgba(0, 0, 0, 1);
}

.n_13 {
	overflow: visible;
	position: absolute;
	width: 27.527px;
	height: 18.997px;
	left: 39.914px;
	top: 8.085px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_14 {
	fill: rgba(0, 0, 0, 1);
}

.n_14 {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.46px;
	left: 72.827px;
	top: 0.071px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_5_du {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.532px;
	overflow: visible;
}

#n_15 {
	fill: rgba(0, 0, 0, 1);
}

.n_15 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_16 {
	fill: rgba(0, 0, 0, 1);
}

.n_16 {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.18px;
	left: 34.668px;
	top: 0.036px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_17 {
	fill: rgba(0, 0, 0, 1);
}

.n_17 {
	overflow: visible;
	position: absolute;
	width: 33.223px;
	height: 31.316px;
	left: 70.812px;
	top: 0.216px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_18 {
	fill: rgba(0, 0, 0, 1);
}

.n_18 {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.991px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6_dz {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.971px;
	top: 402.915px;
	overflow: visible;
}

#n_19 {
	fill: rgba(0, 0, 0, 1);
}

.n_19 {
	overflow: visible;
	position: absolute;
	width: 31.532px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_20 {
	fill: rgba(0, 0, 0, 1);
}

.n_20 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.568px;
	left: 35.352px;
	top: 0.54px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_21 {
	fill: rgba(0, 0, 0, 1);
}

.n_21 {
	overflow: visible;
	position: absolute;
	width: 13.57px;
	height: 30.272px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_22 {
	fill: rgba(0, 0, 0, 1);
}

.n_22 {
	overflow: visible;
	position: absolute;
	width: 21.008px;
	height: 18.781px;
	left: 110.505px;
	top: 8.396px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_23 {
	fill: rgba(0, 0, 0, 1);
}

.n_23 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.563px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_24 {
	fill: rgba(0, 0, 0, 1);
}

.n_24 {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.693px;
	left: 179.345px;
	top: 7.523px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_7_d {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.767px;
	overflow: visible;
}

#n_25 {
	fill: rgba(0, 0, 0, 1);
}

.n_25 {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.855px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26 {
	fill: rgba(0, 0, 0, 1);
}

.n_26 {
	overflow: visible;
	position: absolute;
	width: 31.892px;
	height: 29.949px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_27 {
	fill: rgba(0, 0, 0, 1);
}

.n_27 {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.029px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_ea {
	fill: rgba(0, 0, 0, 1);
}

.n_26_ea {
	position: absolute;
	overflow: visible;
	width: 193.411px;
	height: 6.776px;
	left: 432.219px;
	top: 111.44px;
}

#n_8_eb {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.602px;
	top: 602.696px;
	overflow: visible;
}

#n_28 {
	fill: rgba(0, 0, 0, 1);
}

.n_28 {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.52px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_29 {
	fill: rgba(0, 0, 0, 1);
}

.n_29 {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.205px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_30 {
	fill: rgba(0, 0, 0, 1);
}

.n_30 {
	overflow: visible;
	position: absolute;
	width: 20.775px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_31 {
	fill: rgba(0, 0, 0, 1);
}

.n_31 {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.053px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_32 {
	fill: rgba(0, 0, 0, 1);
}

.n_32 {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.852px;
	left: 103.74px;
	top: 1.717px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_33 {
	fill: rgba(0, 0, 0, 1);
}

.n_33 {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.518px;
	left: 129.714px;
	top: 0.182px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_34 {
	fill: rgba(0, 0, 0, 1);
}

.n_34 {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.847px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_35 {
	fill: rgba(0, 0, 0, 1);
}

.n_35 {
	overflow: visible;
	position: absolute;
	width: 16.11px;
	height: 20.067px;
	left: 182.831px;
	top: 2.575px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_36 {
	fill: rgba(0, 0, 0, 1);
}

.n_36 {
	overflow: visible;
	position: absolute;
	width: 9.999px;
	height: 20.98px;
	left: 215.485px;
	top: 1.808px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_9_el {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.473px;
	top: 693.15px;
	overflow: visible;
}

#n_37 {
	fill: rgba(255, 255, 255, 1);
}

.n_37 {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.529px;
	top: 1.141px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_38_en {
	fill: rgba(255, 255, 255, 1);
}

.n_38_en {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.393px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_39_eo {
	fill: rgba(255, 255, 255, 1);
}

.n_39_eo {
	overflow: visible;
	position: absolute;
	width: 9.094px;
	height: 11.015px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_40_ep {
	fill: rgba(255, 255, 255, 1);
}

.n_40_ep {
	overflow: visible;
	position: absolute;
	width: 130.812px;
	height: 12.645px;
	left: 0.652px;
	top: 42.234px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_206 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#n_63_er {
	fill: rgba(229, 243, 48, 1);
}

.n_63_er {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}

#n_23_es {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}

#n_54 {
	fill: rgba(19, 10, 10, 1);
}

.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_55 {
	fill: rgba(19, 10, 10, 1);
}

.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.599px;
	top: 13.201px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_56 {
	fill: rgba(19, 10, 10, 1);
}

.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_57_ew {
	fill: rgba(19, 10, 10, 1);
}

.n_57_ew {
	overflow: visible;
	position: absolute;
	width: 26.202px;
	height: 38.152px;
	left: 86.599px;
	top: 0.351px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_58_ex {
	fill: rgba(19, 10, 10, 1);
}

.n_58_ex {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_59_ey {
	fill: rgba(19, 10, 10, 1);
}

.n_59_ey {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_60_ez {
	fill: rgba(19, 10, 10, 1);
}

.n_60_ez {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_61_e {
	fill: rgba(19, 10, 10, 1);
}

.n_61_e {
	overflow: visible;
	position: absolute;
	width: 34.252px;
	height: 38.053px;
	left: 208.847px;
	top: 0.25px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_62_e {
	fill: rgba(19, 10, 10, 1);
}

.n_62_e {
	overflow: visible;
	position: absolute;
	width: 29.952px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
