* {
	text-decoration: none;
	color: #000000;
}

*  {
	font-family:fot-tsukuardgothic-std, sans-serif;
	font-style: normal;
	font-weight: bold;
}
.mediaViewInfo {
	--web-view-name: サッカー部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 5045.291px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: サッカー部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group {
	position: absolute;
	width: 1062.992px;
	height: 5045.291px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_272 {
	fill: rgba(251,164,159,1);
}
.n_272 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 4270.532px;
	left: 0px;
	top: 0px;
}
#n_273 {
	fill: rgba(229,243,48,1);
}
.n_273 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 4270.532px;
}
#n_274 {
	fill: rgba(255,255,255,1);
}
.n_274 {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 48.392px;
	top: 4855.391px;
}
#n_109 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_109 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 288.533px;
	top: 2984.46px;
	transform: matrix(1,0,0,1,0,0);
}
#n_301 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_301 {
	overflow: visible;
	position: absolute;
	width: 958.578px;
	height: 274.096px;
	left: 49.487px;
	top: 2601.978px;
	transform: matrix(1,0,0,1,0,0);
}
#n_275 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_275 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 118.049px;
	top: 3034.083px;
}
#n_276 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_276 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 118.049px;
	top: 3525.961px;
}
#n_277 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_277 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.215px;
	top: 3034.083px;
}
#n_278 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_278 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.593px;
	left: 421.215px;
	top: 3525.961px;
}
#n_302 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_302 {
	overflow: visible;
	position: absolute;
	width: 892.009px;
	height: 493.442px;
	left: 85.188px;
	top: 2000.15px;
	transform: matrix(1,0,0,1,0,0);
}
#n_303 {
	fill: rgba(255,255,255,1);
}
.n_303 {
	overflow: visible;
	position: absolute;
	width: 915.566px;
	height: 352.035px;
	left: 85.188px;
	top: 1548.903px;
	transform: matrix(1,0,0,1,0,0);
}
#n_110 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_110 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.386px;
	left: 741.418px;
	top: 2488.592px;
	transform: matrix(1,0,0,1,0,0);
}
#n_111 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_111 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.386px;
	left: 433.65px;
	top: 2871.074px;
	transform: matrix(1,0,0,1,0,0);
}
#n_279 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_279 {
	position: absolute;
	overflow: visible;
	width: 884.378px;
	height: 146.732px;
	left: 118.049px;
	top: 3822.246px;
}
#Group_bh {
	position: absolute;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1523.15px;
	overflow: visible;
}
#n_280 {
	fill: rgba(39,31,35,1);
}
.n_280 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 154.848px;
	top: 3848.945px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_bk {
	left: 158.391px;
	top: 3910.14px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_112 {
	fill: transparent;
	stroke: rgba(39,31,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_112 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.092px;
	top: 1703.602px;
	transform: matrix(1,0,0,1,0,0);
}
#n_304 {
	fill: rgba(0,0,0,1);
}
.n_304 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 963.496px;
	top: 4871.653px;
	transform: matrix(1,0,0,1,0,0);
}
#MENU {
	left: 463.07px;
	top: 4327.518px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Text_bo {
	left: 481.07px;
	top: 4428.311px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bp {
	left: 480.07px;
	top: 4508.693px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bq {
	left: 462.07px;
	top: 4589.076px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_br {
	left: 441.07px;
	top: 4669.459px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bs {
	left: 480.07px;
	top: 4749.842px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n_281 {
	fill: rgba(0,0,0,1);
}
.n_281 {
	position: absolute;
	overflow: visible;
	width: 193.412px;
	height: 6.776px;
	left: 434.791px;
	top: 4380.289px;
}
#Text_bu {
	left: 413.368px;
	top: 4870.021px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_214 {
	position: absolute;
	width: 135.192px;
	height: 54.878px;
	left: 474.344px;
	top: 4962px;
	overflow: visible;
}
#n_305 {
	fill: rgba(255,255,255,1);
}
.n_305 {
	overflow: visible;
	position: absolute;
	width: 94.664px;
	height: 34.004px;
	left: 40.528px;
	top: 1.14px;
	transform: matrix(1,0,0,1,0,0);
}
#n_306 {
	fill: rgba(255,255,255,1);
}
.n_306 {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.391px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_307 {
	fill: rgba(255,255,255,1);
}
.n_307 {
	overflow: visible;
	position: absolute;
	width: 9.094px;
	height: 11.014px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_308 {
	fill: rgba(255,255,255,1);
}
.n_308 {
	overflow: visible;
	position: absolute;
	width: 130.812px;
	height: 12.645px;
	left: 0.652px;
	top: 42.233px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_b {
	left: 47.321px;
	top: 803.005px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(39,31,35,1);
}
#n_________ {
	left: 48.581px;
	top: 911.928px;
	position: absolute;
	overflow: visible;
	width: 981px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#Text_ca {
	left: 48.58px;
	top: 753.256px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_215 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 49.487px;
	top: 1965.579px;
	overflow: visible;
}
#n_193 {
	fill: rgba(139,123,130,1);
}
.n_193 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 4.115px;
	top: 4.115px;
}
#n_194 {
	fill: rgba(255,255,255,1);
}
.n_194 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 73.232px;
	top: 1979.002px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cb {
	left: 143.872px;
	top: 1979.002px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#News {
	left: 94.602px;
	top: 1529.513px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0230222 {
	left: 142.671px;
	top: 1602.742px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_428 {
	position: absolute;
	width: 156.806px;
	height: 27.113px;
	left: 795.616px;
	top: 1848.996px;
	overflow: visible;
}
#n_309 {
	fill: rgba(39,31,35,1);
}
.n_309 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.538px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cc {
	left: 0px;
	top: 1.057px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n__cd {
	left: 142.671px;
	top: 1652.947px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#n_0191119 {
	left: 142.671px;
	top: 1726.459px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n__cf {
	left: 142.671px;
	top: 1776.664px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#n__cg {
	left: 126.592px;
	top: 2069.597px;
	position: absolute;
	overflow: hidden;
	width: 792.1px;
	height: 396.1248474121094px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_216 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 49.487px;
	top: 2949.888px;
	overflow: visible;
}
#n_195 {
	fill: rgba(139,123,130,1);
}
.n_195 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_196 {
	fill: rgba(255,255,255,1);
}
.n_196 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__ck {
	left: 73.232px;
	top: 2963.312px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#DATA {
	left: 143.872px;
	top: 2963.312px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cm {
	left: 197.577px;
	top: 3249.371px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#SNS {
	left: 215.577px;
	top: 3567.547px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_0 {
	left: 212.577px;
	top: 3303.564px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_cp {
	left: 206.678px;
	top: 3366.147px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(39,31,35,1);
}
#n_217 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 77.117px;
	top: 2567.406px;
	overflow: visible;
}
#n_197 {
	fill: rgba(139,123,130,1);
}
.n_197 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_198 {
	fill: rgba(255,255,255,1);
}
.n_198 {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__ct {
	left: 100.865px;
	top: 2580.83px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_cu {
	left: 171.504px;
	top: 2580.83px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#n_3_ {
	left: 88.331px;
	top: 2671.16px;
	position: absolute;
	overflow: hidden;
	width: 860.957px;
	height: 177.71055603027344px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_218 {
	position: absolute;
	width: 76.959px;
	height: 147.092px;
	left: 216.098px;
	top: 3058.806px;
	overflow: visible;
}
#n_199 {
	fill: rgba(39,31,35,1);
}
.n_199 {
	position: absolute;
	overflow: visible;
	width: 76.959px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_310 {
	fill: rgba(39,31,35,1);
}
.n_310 {
	overflow: visible;
	position: absolute;
	width: 76.959px;
	height: 70.133px;
	left: 0px;
	top: 76.959px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cz {
	left: 672.125px;
	top: 3249.371px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_000_3000 {
	left: 450.125px;
	top: 3310.564px;
	position: absolute;
	overflow: visible;
	width: 521px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#Text_c {
	left: 620.125px;
	top: 3364.348px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(39,31,35,1);
}
#n_0000 {
	left: 471.226px;
	top: 3396.152px;
	position: absolute;
	overflow: visible;
	width: 479px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_200 {
	fill: rgba(39,31,35,1);
}
.n_200 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 645.799px;
	top: 3071.39px;
}
#n_219 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.41px;
	top: 3100.205px;
	overflow: visible;
}
#n_311 {
	fill: rgba(255,255,255,1);
}
.n_311 {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_da {
	left: 633.271px;
	top: 3567.547px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n__ {
	left: 462.271px;
	top: 3660.272px;
	position: absolute;
	overflow: visible;
	width: 495px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_312 {
	fill: rgba(39,31,35,1);
}
.n_312 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.272px;
	top: 3627.644px;
	transform: matrix(1,0,0,1,0,0);
}
#n_115 {
	fill: transparent;
	stroke: rgba(39,31,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_115 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.092px;
	top: 1827.289px;
	transform: matrix(1,0,0,1,0,0);
}
#n_284 {
	fill: rgba(255,255,255,1);
}
.n_284 {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1546.908px;
}
#n_285 {
	fill: rgba(255,255,255,1);
}
.n_285 {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.246px;
	top: 1546.342px;
}
#n_225 {
	position: absolute;
	width: 1065.985px;
	height: 599.617px;
	left: -1.497px;
	top: 111.702px;
	overflow: visible;
}
#n_224 {
	position: absolute;
	width: 1065.985px;
	height: 599.617px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_226 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_288 {
	fill: rgba(229,243,48,1);
}
.n_288 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#Meiden-XR {
	left: 65.102px;
	top: 33.239px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	line-height: 87.5px;
	margin-top: -18.75px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(19,10,10,1);
}
#n_366 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 264.583px;
	top: 3636.742px;
	overflow: visible;
}
#n_202 {
	fill: rgba(39,31,35,1);
}
.n_202 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#n_222 {
	position: absolute;
	width: 52.863px;
	height: 52.87px;
	left: 20.88px;
	top: 21.298px;
	overflow: visible;
}
#n_314 {
	fill: rgba(255,255,255,1);
}
.n_314 {
	overflow: visible;
	position: absolute;
	width: 52.863px;
	height: 52.87px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_315 {
	fill: rgba(255,255,255,1);
}
.n_315 {
	overflow: visible;
	position: absolute;
	width: 27.15px;
	height: 27.158px;
	left: 12.851px;
	top: 12.849px;
	transform: matrix(1,0,0,1,0,0);
}
#n_316 {
	fill: rgba(255,255,255,1);
}
.n_316 {
	overflow: visible;
	position: absolute;
	width: 6.345px;
	height: 6.348px;
	left: 37.367px;
	top: 9.147px;
	transform: matrix(1,0,0,1,0,0);
}
#n_395 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 149.947px;
	top: 3637.163px;
	overflow: visible;
}
#n_289 {
	fill: rgba(39,31,35,1);
}
.n_289 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 31.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#n_324 {
	position: absolute;
	width: 430.867px;
	height: 109.888px;
	left: 99.504px;
	top: 4073.922px;
	overflow: visible;
}
#Text_dr {
	left: 172.619px;
	top: 42.211px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#n_351 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_351 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.372px;
	top: 0px;
}
#n_223 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.639px;
	overflow: visible;
}
#n_203 {
	fill: rgba(39,31,35,1);
}
.n_203 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_317 {
	fill: rgba(255,255,255,1);
}
.n_317 {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_325 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 586.54px;
	top: 4073.922px;
	overflow: visible;
}
#Text_dx {
	left: 138.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#n_352 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_352 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_224_dz {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.263px;
	top: 20.639px;
	overflow: visible;
}
#n_204 {
	fill: rgba(39,31,35,1);
}
.n_204 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_318 {
	fill: rgba(255,255,255,1);
}
.n_318 {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 26.428px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_448 {
	position: absolute;
	width: 918.261px;
	height: 109.72px;
	left: 99.504px;
	top: 4019.145px;
	overflow: visible;
}
#n_6 {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 56.168px;
	height: 5px;
	left: 431.367px;
	top: 109.72px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 109.72px;
	left: 459.13px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}