.mediaViewInfo {
	--web-view-name: 吹奏楽部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 3802.119px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 吹奏楽部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_89 {
	fill: rgba(243,170,160,1);
}
.n_89 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3802.119px;
	left: 0px;
	top: 0px;
}
#n_108 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_108 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.1px;
	top: 2455.367px;
	transform: matrix(1,0,0,1,0,0);
}
#n_89_x {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_89_x {
	overflow: visible;
	position: absolute;
	width: 615.462px;
	height: 436.503px;
	left: 387.532px;
	top: 1911.025px;
	transform: matrix(1,0,0,1,0,0);
}
#n_109 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_109 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 117.84px;
	left: 476.959px;
	top: 2342.528px;
	transform: matrix(1,0,0,1,0,0);
}
#n_90 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_90 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 463.54px;
	left: 118.616px;
	top: 2504.99px;
}
#n_91 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_91 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 266.593px;
	left: 118.616px;
	top: 3022.511px;
}
#n_92 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_92 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.782px;
	top: 2504.99px;
}
#n_93 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_93 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.593px;
	left: 421.782px;
	top: 3022.511px;
}
#n_90_ {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_90_ {
	overflow: visible;
	position: absolute;
	width: 917.239px;
	height: 388.818px;
	left: 85.755px;
	top: 1413.935px;
	transform: matrix(1,0,0,1,0,0);
}
#n_91_ {
	fill: rgba(255,255,255,1);
}
.n_91_ {
	overflow: visible;
	position: absolute;
	width: 915.566px;
	height: 352.034px;
	left: 85.755px;
	top: 962.755px;
	transform: matrix(1,0,0,1,0,0);
}
#n_110 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_110 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.272px;
	left: 868.027px;
	top: 1797.753px;
	transform: matrix(1,0,0,1,0,0);
}
#n_94 {
	fill: rgba(46,47,47,1);
}
.n_94 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 937.001px;
}
#Text {
	left: 47.884px;
	top: 691.302px;
	position: absolute;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#Text_ {
	left: 49.144px;
	top: 800.224px;
	position: absolute;
	overflow: visible;
	width: 596px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_ba {
	left: 49.143px;
	top: 641.552px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_60 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1381.047px;
	overflow: visible;
}
#n_91_bb {
	fill: rgba(135,128,136,1);
}
.n_91_bb {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_92_bc {
	fill: rgba(255,255,255,1);
}
.n_92_bc {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 73.802px;
	top: 1394.471px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_be {
	left: 144.442px;
	top: 1394.471px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 95.171px;
	top: 945.047px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0231020 {
	left: 143.241px;
	top: 1018.513px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_192 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 796.184px;
	top: 1264.531px;
	overflow: visible;
}
#n_92_bi {
	fill: rgba(46,47,47,1);
}
.n_92_bi {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bj {
	left: 0px;
	top: 1.056px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#Text_bk {
	left: 143.241px;
	top: 1057.482px;
	position: absolute;
	overflow: visible;
	width: 701px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_0231018 {
	left: 143.241px;
	top: 1138.229px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bm {
	left: 143.241px;
	top: 1177.198px;
	position: absolute;
	overflow: visible;
	width: 701px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_0381660180__ {
	left: 127.158px;
	top: 1470.629px;
	position: absolute;
	overflow: hidden;
	width: 818.696px;
	height: 306.6051940917969px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_61 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 2422.479px;
	overflow: visible;
}
#n_93_bp {
	fill: rgba(135,128,136,1);
}
.n_93_bp {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_94_bq {
	fill: rgba(255,255,255,1);
}
.n_94_bq {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__br {
	left: 73.802px;
	top: 2435.903px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 144.442px;
	top: 2435.903px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bt {
	left: 198.145px;
	top: 2721.962px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 216.145px;
	top: 3065.782px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_06 {
	left: 201.145px;
	top: 2776.156px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_76 {
	left: 189.145px;
	top: 2824.123px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_bx {
	left: 195.245px;
	top: 2864.228px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_111 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_111 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 85.37px;
	top: 3550.599px;
	transform: matrix(1,0,0,1,0,0);
}
#n_62 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 351.831px;
	top: 1878.136px;
	overflow: visible;
}
#n_95 {
	fill: rgba(135,128,136,1);
}
.n_95 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_96 {
	fill: rgba(255,255,255,1);
}
.n_96 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__b {
	left: 375.579px;
	top: 1891.56px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_b {
	left: 446.219px;
	top: 1891.56px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n_________ {
	left: 428.936px;
	top: 1967.718px;
	position: absolute;
	overflow: hidden;
	width: 529.127px;
	height: 350.7492980957031px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_63 {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 216.664px;
	top: 2531.397px;
	overflow: visible;
}
#n_97 {
	fill: rgba(46,47,47,1);
}
.n_97 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_93_b {
	fill: rgba(46,47,47,1);
}
.n_93_b {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.959px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ca {
	left: 672.692px;
	top: 2699.425px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_10002000 {
	left: 521.692px;
	top: 2753.618px;
	position: absolute;
	overflow: visible;
	width: 379px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -6px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cb {
	left: 620.692px;
	top: 2863.346px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_50000 {
	left: 533.792px;
	top: 2898.271px;
	position: absolute;
	overflow: visible;
	width: 355px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_98 {
	fill: rgba(46,47,47,1);
}
.n_98 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 646.365px;
	top: 2543.981px;
}
#n_64 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.977px;
	top: 2574.493px;
	overflow: visible;
}
#n_94_ce {
	fill: rgba(255,255,255,1);
}
.n_94_ce {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cf {
	left: 633.838px;
	top: 3077.87px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cg {
	left: 615.692px;
	top: 3180.753px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_95_ch {
	fill: rgba(46,47,47,1);
}
.n_95_ch {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.839px;
	top: 3125.878px;
	transform: matrix(1,0,0,1,0,0);
}
#n_164 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 67px;
	top: 3607.129px;
	overflow: visible;
}
#Text_cj {
	left: 127.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_95_ck {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_95_ck {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_65 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_100 {
	fill: rgba(46,47,47,1);
}
.n_100 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_96_cn {
	fill: rgba(255,255,255,1);
}
.n_96_cn {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.24px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_163 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 553.894px;
	top: 3607.129px;
	overflow: visible;
}
#Text_cp {
	left: 108.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_96_cq {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_96_cq {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_66 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.263px;
	top: 20.713px;
	overflow: visible;
}
#n_101 {
	fill: rgba(46,47,47,1);
}
.n_101 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_97_ct {
	fill: rgba(255,255,255,1);
}
.n_97_ct {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_98_cu {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_98_cu {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.647px;
	left: 497.726px;
	top: 3552.353px;
	transform: matrix(1,0,0,1,0,0);
}
#n_112 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_112 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 525.49px;
	top: 3661.999px;
	transform: matrix(1,0,0,1,0,0);
}
#n_113 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_113 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1112.131px;
	transform: matrix(1,0,0,1,0,0);
}
#n_114 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_114 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.659px;
	top: 1242.824px;
	transform: matrix(1,0,0,1,0,0);
}
#n_97_cy {
	fill: rgba(255,255,255,1);
}
.n_97_cy {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 962.442px;
}
#n_98_cz {
	fill: rgba(255,255,255,1);
}
.n_98_cz {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.812px;
	top: 961.877px;
}
#n_138 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.933px;
	top: 3134.977px;
	overflow: visible;
}
#n_99 {
	fill: rgba(46,47,47,1);
}
.n_99 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.712px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: bold;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#Text_c {
	left: 817.973px;
	top: 2907.315px;
	position: absolute;
	overflow: visible;
	width: 7.651px;
	height: 11px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#n_99_c {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_99_c {
	position: absolute;
	overflow: visible;
	width: 878.776px;
	height: 158.785px;
	left: 117.006px;
	top: 3340.338px;
}
#Text_da {
	left: 155.741px;
	top: 3368.72px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_db {
	left: 161.136px;
	top: 3429.915px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_3 {
	position: absolute;
	width: 724.533px;
	height: 2950.158px;
	left: 137.324px;
	top: 851.962px;
	display: none;
	overflow: visible;
}
#n_115 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_115 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 343.709px;
	top: 561.973px;
	transform: matrix(1,0,0,1,0,0);
}
#n_116 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_116 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 59.636px;
	top: 903.271px;
	transform: matrix(1,0,0,1,0,0);
}
#n_117 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_117 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 673.008px;
	top: 1059.063px;
	transform: matrix(1,0,0,1,0,0);
}
#n_118 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_118 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 436.904px;
	top: 1448.046px;
	transform: matrix(1,0,0,1,0,0);
}
#n_119 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_119 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 121.135px;
	top: 2865.119px;
	transform: matrix(1,0,0,1,0,0);
}
#n_120 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_120 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 125.791px;
	top: 2642.008px;
	transform: matrix(1,0,0,1,0,0);
}
#n_121 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_121 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 270.927px;
	top: 462.827px;
	transform: matrix(1,0,0,1,0,0);
}
#n_122 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_122 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_123 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_123 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 724.533px;
	top: 945.677px;
	transform: matrix(1,0,0,1,0,0);
}
#n_124 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_124 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 316.808px;
	top: 1490.566px;
	transform: matrix(1,0,0,1,0,0);
}
#n_125 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_125 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 117.821px;
	top: 2431.683px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -2.399px;
	top: -0.375px;
	overflow: visible;
}