.mediaViewInfo {
	--web-view-name: 家庭科研究部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 3966.076px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 家庭科研究部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_132 {
	fill: rgba(243,170,160,1);
}
.n_132 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3966.076px;
	left: 0px;
	top: 0px;
}
#n_177 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_177 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 108.629px;
	top: 3714.515px;
	transform: matrix(1,0,0,1,0,0);
}
#n_178 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 90.259px;
	top: 3771.045px;
	overflow: visible;
}
#Text {
	left: 187.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_133 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_133 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_89 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_135 {
	fill: rgba(46,47,47,1);
}
.n_135 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_129 {
	fill: rgba(255,255,255,1);
}
.n_129 {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.116px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_179 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 577.152px;
	top: 3771.045px;
	overflow: visible;
}
#Text_ {
	left: 108.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_134 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_134 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_90 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_136 {
	fill: rgba(46,47,47,1);
}
.n_136 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_130 {
	fill: rgba(255,255,255,1);
}
.n_130 {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 26.428px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_131 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_131 {
	overflow: visible;
	position: absolute;
	width: 32.765px;
	height: 114.646px;
	left: 520.984px;
	top: 3716.269px;
	transform: matrix(1,0,0,1,0,0);
}
#n_178_ba {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_178_ba {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 548.749px;
	top: 3825.915px;
	transform: matrix(1,0,0,1,0,0);
}
#n_179_bb {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_179_bb {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 292.1px;
	top: 2601.715px;
	transform: matrix(1,0,0,1,0,0);
}
#n_132_bc {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_132_bc {
	overflow: visible;
	position: absolute;
	width: 577.479px;
	height: 431.044px;
	left: 363.648px;
	top: 2062.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_180 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_180 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 119.127px;
	left: 595.227px;
	top: 2487.588px;
	transform: matrix(1,0,0,1,0,0);
}
#n_135_be {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_135_be {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 121.615px;
	top: 2651.337px;
}
#n_136_bf {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_136_bf {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 121.615px;
	top: 3143.216px;
}
#n_137 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_137 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 424.781px;
	top: 2651.337px;
}
#n_138 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_138 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 424.781px;
	top: 3143.216px;
}
#n_133_bi {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_133_bi {
	overflow: visible;
	position: absolute;
	width: 920.566px;
	height: 476.921px;
	left: 88.755px;
	top: 1475.993px;
	transform: matrix(1,0,0,1,0,0);
}
#n_134_bj {
	fill: rgba(255,255,255,1);
}
.n_134_bj {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.034px;
	left: 88.754px;
	top: 1025.079px;
	transform: matrix(1,0,0,1,0,0);
}
#n_181 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_181 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 119.086px;
	left: 778.118px;
	top: 1947.914px;
	transform: matrix(1,0,0,1,0,0);
}
#n_139 {
	fill: rgba(46,47,47,1);
}
.n_139 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 999.326px;
}
#Text_bm {
	left: 50.884px;
	top: 691.302px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#n_ {
	left: 52.144px;
	top: 800.224px;
	position: absolute;
	overflow: visible;
	width: 771px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_bo {
	left: 52.143px;
	top: 641.552px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_91 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 53.054px;
	top: 1443.105px;
	overflow: visible;
}
#n_137_bq {
	fill: rgba(135,128,136,1);
}
.n_137_bq {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_138_br {
	fill: rgba(255,255,255,1);
}
.n_138_br {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__bs {
	left: 76.802px;
	top: 1456.529px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bt {
	left: 147.442px;
	top: 1456.529px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 98.171px;
	top: 1007.372px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0230724 {
	left: 146.241px;
	top: 1080.837px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_186 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 799.184px;
	top: 1326.855px;
	overflow: visible;
}
#n_135_bx {
	fill: rgba(46,47,47,1);
}
.n_135_bx {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_by {
	left: 0px;
	top: 1.057px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bz {
	left: 146.241px;
	top: 1119.807px;
	position: absolute;
	overflow: visible;
	width: 386px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_0221223 {
	left: 146.241px;
	top: 1200.554px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__b {
	left: 146.241px;
	top: 1239.523px;
	position: absolute;
	overflow: visible;
	width: 386px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n__ca {
	left: 130.158px;
	top: 1532.687px;
	position: absolute;
	overflow: visible;
	width: 784.513px;
	height: 394.7086181640625px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_92 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 53.054px;
	top: 2568.827px;
	overflow: visible;
}
#n_139_b {
	fill: rgba(135,128,136,1);
}
.n_139_b {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_140 {
	fill: rgba(255,255,255,1);
}
.n_140 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__cb {
	left: 76.802px;
	top: 2582.25px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 147.442px;
	top: 2582.25px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_b {
	left: 201.145px;
	top: 2868.309px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 219.145px;
	top: 3186.486px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_0 {
	left: 216.145px;
	top: 2922.503px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_2 {
	left: 198.145px;
	top: 2970.47px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 198.245px;
	top: 3010.576px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_93 {
	position: absolute;
	width: 73.574px;
	height: 73.573px;
	left: 327.947px;
	top: 2029.112px;
	overflow: visible;
}
#n_141 {
	fill: rgba(135,128,136,1);
}
.n_141 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_142 {
	fill: rgba(255,255,255,1);
}
.n_142 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__cg {
	left: 351.696px;
	top: 2042.536px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_ch {
	left: 422.336px;
	top: 2042.536px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n_2_ci {
	left: 405.053px;
	top: 2117.288px;
	position: absolute;
	overflow: visible;
	width: 484.16px;
	height: 351.8138122558594px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_94 {
	position: absolute;
	width: 76.96px;
	height: 147.093px;
	left: 219.664px;
	top: 2677.745px;
	overflow: visible;
}
#n_143 {
	fill: rgba(46,47,47,1);
}
.n_143 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_136_cl {
	fill: rgba(46,47,47,1);
}
.n_136_cl {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.133px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cm {
	left: 675.692px;
	top: 2868.309px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_000 {
	left: 610.692px;
	top: 2922.503px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_co {
	left: 623.692px;
	top: 2983.286px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_cp {
	left: 687.792px;
	top: 3015.091px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_144 {
	fill: rgba(46,47,47,1);
}
.n_144 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 649.365px;
	top: 2690.328px;
}
#n_95 {
	position: absolute;
	width: 55.534px;
	height: 71.122px;
	left: 685.977px;
	top: 2720.841px;
	overflow: visible;
}
#n_137_cs {
	fill: rgba(255,255,255,1);
}
.n_137_cs {
	overflow: visible;
	position: absolute;
	width: 55.534px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ct {
	left: 636.838px;
	top: 3198.574px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_F {
	left: 500.692px;
	top: 3301.457px;
	position: absolute;
	overflow: visible;
	width: 427px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_138_cv {
	fill: rgba(46,47,47,1);
}
.n_138_cv {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 928.839px;
	top: 3246.582px;
	transform: matrix(1,0,0,1,0,0);
}
#n_182 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_182 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 146.658px;
	top: 1174.455px;
	transform: matrix(1,0,0,1,0,0);
}
#n_183 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_183 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 146.658px;
	top: 1305.149px;
	transform: matrix(1,0,0,1,0,0);
}
#n_140_cy {
	fill: rgba(255,255,255,1);
}
.n_140_cy {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1024.767px;
}
#n_141_cz {
	fill: rgba(255,255,255,1);
}
.n_141_cz {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 226.812px;
	top: 1024.201px;
}
#n_144_c {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 210.933px;
	top: 3255.681px;
	overflow: visible;
}
#n_145 {
	fill: rgba(46,47,47,1);
}
.n_145 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: bold;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#n_142_c {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_142_c {
	position: absolute;
	overflow: visible;
	width: 878.776px;
	height: 201.804px;
	left: 121.615px;
	top: 3461.123px;
}
#Text_c {
	left: 160.35px;
	top: 3489.505px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__c {
	left: 164.232px;
	top: 3550.7px;
	position: absolute;
	overflow: visible;
	width: 287px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#Text_da {
	left: 314.4px;
	top: 862.337px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}
#n_3 {
	position: absolute;
	width: 755.762px;
	height: 3051.79px;
	left: 69.114px;
	top: 914.287px;
	display: none;
	overflow: visible;
}
#n_184 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_184 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 399.498px;
	top: 561.707px;
	transform: matrix(1,0,0,1,0,0);
}
#n_185 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_185 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 163.394px;
	top: 991.108px;
	transform: matrix(1,0,0,1,0,0);
}
#n_186_da {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_186_da {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 692.57px;
	top: 1147.714px;
	transform: matrix(1,0,0,1,0,0);
}
#n_187 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_187 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 456.475px;
	top: 1531.238px;
	transform: matrix(1,0,0,1,0,0);
}
#n_188 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_188 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 302.543px;
	top: 2966.75px;
	transform: matrix(1,0,0,1,0,0);
}
#n_189 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_189 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 307.198px;
	top: 2743.64px;
	transform: matrix(1,0,0,1,0,0);
}
#n_190 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_190 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 462.382px;
	top: 462.679px;
	transform: matrix(1,0,0,1,0,0);
}
#n_191 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_191 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_192 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_192 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 755.762px;
	top: 1034.262px;
	transform: matrix(1,0,0,1,0,0);
}
#n_193 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_193 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 493.719px;
	top: 1573.824px;
	transform: matrix(1,0,0,1,0,0);
}
#n_194 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_194 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 287.322px;
	top: 2490.521px;
	transform: matrix(1,0,0,1,0,0);
}
#n_16 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -1.43px;
	top: 0.204px;
	overflow: visible;
}