* {
	text-decoration: none;
	color: #000000;
}
*  {
	font-family:fot-tsukuardgothic-std, sans-serif;
	font-style: normal;
	font-weight: bold;
}


.mediaViewInfo {
	--web-view-name: メディアコミュニケーション;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

:root {
	--web-view-ids: Artboard;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4585.348px;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
	--web-view-name: メディアコミュニケーション;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#n_25 {
	fill: rgba(243, 170, 160, 1);
}

.n_25 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3810.589px;
	left: 0px;
	top: 0px;
}

#n_15 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_15 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 291.099px;
	top: 2673.239px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_31 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.n_31 {
	overflow: visible;
	position: absolute;
	width: 541.889px;
	height: 457.755px;
	left: 463.104px;
	top: 2106.589px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_16 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_16 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.895px;
	left: 552.532px;
	top: 2559.344px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_26 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 120.616px;
	top: 2722.861px;
}

#n_27 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_27 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 120.616px;
	top: 3240.382px;
}

#n_28 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_28 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 423.782px;
	top: 2722.861px;
}

#n_29 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_29 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.593px;
	left: 423.782px;
	top: 3240.382px;
}

#n_32 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.n_32 {
	overflow: visible;
	position: absolute;
	width: 917.239px;
	height: 388.902px;
	left: 87.754px;
	top: 1608.251px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_33 {
	fill: rgba(255, 255, 255, 1);
}

.n_33 {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.035px;
	left: 87.754px;
	top: 1157.545px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_17 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_17 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 119.435px;
	left: 870.027px;
	top: 1992.153px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_30 {
	fill: rgba(46, 47, 47, 1);
}

.n_30 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1131.792px;
}

#Text {
	left: 49.884px;
	top: 808.459px;
	position: absolute;
	overflow: visible;
	width: 981px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46, 47, 47, 1);
}

#n_ {
	left: 51.144px;
	top: 917.381px;
	position: absolute;
	overflow: visible;
	width: 701px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#Text_ {
	left: 51.143px;
	top: 758.709px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#n_19 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 52.053px;
	top: 1575.363px;
	overflow: visible;
}

#n_25_bb {
	fill: rgba(135, 128, 136, 1);
}

.n_25_bb {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 4.115px;
	top: 4.114px;
}

#n_26_bc {
	fill: rgba(255, 255, 255, 1);
}

.n_26_bc {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 0px;
	top: 0px;
}

#n__bd {
	left: 75.801px;
	top: 1588.787px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_be {
	left: 146.442px;
	top: 1588.787px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#News {
	left: 97.17px;
	top: 1139.838px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255, 255, 255, 1);
}

#n_0230203 {
	left: 145.241px;
	top: 1213.303px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_184 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 798.183px;
	top: 1459.321px;
	overflow: visible;
}

#n_34 {
	fill: rgba(46, 47, 47, 1);
}

.n_34 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_bj {
	left: 0px;
	top: 1.057px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n__bk {
	left: 145.241px;
	top: 1252.272px;
	position: absolute;
	overflow: visible;
	width: 666px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#n_0221116 {
	left: 145.241px;
	top: 1333.02px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n__bm {
	left: 145.241px;
	top: 1371.989px;
	position: absolute;
	overflow: visible;
	width: 666px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46, 47, 47, 1);
}

#n__ {
	left: 129.158px;
	top: 1664.945px;
	position: absolute;
	overflow: hidden;
	width: 818.696px;
	height: 306.7958984375px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n__________ {
	left: 510px;
	top: 2163.281px;
	position: absolute;
	overflow: hidden;
	width: 512.619px;
	height: 350.6601867675781px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46, 47, 47, 1);
}

#n_20 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 52.053px;
	top: 2640.351px;
	overflow: visible;
}

#n_27_bq {
	fill: rgba(135, 128, 136, 1);
}

.n_27_bq {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 4.115px;
	top: 4.114px;
}

#n_28_br {
	fill: rgba(255, 255, 255, 1);
}

.n_28_br {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}

#n__bs {
	left: 75.801px;
	top: 2653.774px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#DATA {
	left: 146.442px;
	top: 2653.774px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_bu {
	left: 200.144px;
	top: 2939.833px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#SNS {
	left: 218.144px;
	top: 3289.706px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_0 {
	left: 215.144px;
	top: 2994.026px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n__bx {
	left: 203.144px;
	top: 3041.994px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#Text_by {
	left: 197.245px;
	top: 3082.1px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#n_18 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_18 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 83.622px;
	top: 3558.53px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_29_b {
	fill: rgba(135, 128, 136, 1);
}

.n_29_b {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 431.518px;
	top: 2077.815px;
}

#n_30_b {
	fill: rgba(255, 255, 255, 1);
}

.n_30_b {
	position: absolute;
	overflow: visible;
	width: 69.458px;
	height: 69.458px;
	left: 427.404px;
	top: 2073.701px;
}

#n__b {
	left: 451.152px;
	top: 2087.124px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#Text_b {
	left: 521.792px;
	top: 2087.124px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46, 47, 47, 1);
}

#n_21 {
	position: absolute;
	width: 76.959px;
	height: 147.092px;
	left: 218.665px;
	top: 2749.269px;
	overflow: visible;
}

#n_31_b {
	fill: rgba(46, 47, 47, 1);
}

.n_31_b {
	position: absolute;
	overflow: visible;
	width: 76.959px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}

#n_35 {
	fill: rgba(46, 47, 47, 1);
}

.n_35 {
	overflow: visible;
	position: absolute;
	width: 76.959px;
	height: 70.133px;
	left: 0px;
	top: 76.959px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_ca {
	left: 674.692px;
	top: 2917.296px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_cb {
	left: 674.692px;
	top: 2976.05px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -6px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#Text_cc {
	left: 622.692px;
	top: 3055.182px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46, 47, 47, 1);
}

#Text_cd {
	left: 634.792px;
	top: 3099.462px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46, 47, 47, 1);
}

#n_32_cb {
	fill: rgba(46, 47, 47, 1);
}

.n_32_cb {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 648.365px;
	top: 2761.853px;
}

#n_22 {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 684.977px;
	top: 2792.364px;
	overflow: visible;
}

#n_36 {
	fill: rgba(255, 255, 255, 1);
}

.n_36 {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.123px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_ce {
	left: 635.837px;
	top: 3289.706px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_2 {
	left: 548.692px;
	top: 3365.185px;
	position: absolute;
	overflow: visible;
	width: 329px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46, 47, 47, 1);
}

#n_37 {
	fill: rgba(46, 47, 47, 1);
}

.n_37 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 927.839px;
	top: 3310.178px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_152 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 65.25px;
	top: 3615.06px;
	overflow: visible;
}

#Text_ci {
	left: 97.479px;
	top: 39.943px;
	position: absolute;
	overflow: visible;
	width: 271px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#n_31_cj {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_31_cj {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}

#n_23 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}

#n_34_cl {
	fill: rgba(46, 47, 47, 1);
}

.n_34_cl {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}

#n_38 {
	fill: rgba(255, 255, 255, 1);
}

.n_38 {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.115px;
	left: 17.239px;
	top: 12.955px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_151 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 552.145px;
	top: 3615.06px;
	overflow: visible;
}

#Text_co {
	left: 28.248px;
	top: 39.943px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46, 47, 47, 1);
}

#n_32_cp {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_32_cp {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}

#n_24 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}

#n_35_cr {
	fill: rgba(46, 47, 47, 1);
}

.n_35_cr {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}

#n_39 {
	fill: rgba(255, 255, 255, 1);
}

.n_39 {
	overflow: visible;
	position: absolute;
	width: 24.797px;
	height: 43.115px;
	left: 26.427px;
	top: 12.955px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_40 {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_40 {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.646px;
	left: 495.977px;
	top: 3560.283px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_19_cu {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_19_cu {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 523.741px;
	top: 3669.93px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_20_cv {
	fill: transparent;
	stroke: rgba(46, 47, 47, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_20_cv {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 145.659px;
	top: 1306.921px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_21_cw {
	fill: transparent;
	stroke: rgba(46, 47, 47, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_21_cw {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 145.659px;
	top: 1437.615px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_33_cx {
	fill: rgba(255, 255, 255, 1);
}

.n_33_cx {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1157.233px;
}

#n_34_cy {
	fill: rgba(255, 255, 255, 1);
}

.n_34_cy {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 225.812px;
	top: 1156.667px;
}

#n_132 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 149.932px;
	top: 3352.848px;
	overflow: visible;
}

#n_33_c {
	fill: rgba(46, 47, 47, 1);
}

.n_33_c {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}

#HP {
	left: 24.813px;
	top: 32.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255, 255, 255, 1);
}

#Text_c {
	left: 819.973px;
	top: 3125.187px;
	position: absolute;
	overflow: visible;
	width: 7.651px;
	height: 11px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}

#n_3 {
	position: absolute;
	width: 744.592px;
	height: 2763.373px;
	left: 152.237px;
	top: 933.831px;
	display: none;
	overflow: visible;
}

#n_22_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_22_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 295.93px;
	top: 561.499px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_23_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_23_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 62.689px;
	top: 902.881px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_24_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_24_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 704.325px;
	top: 1059.836px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_25_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_25_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 67.42px;
	left: 468.221px;
	top: 1445.189px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_26_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 64.428px;
	top: 2678.333px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_27_c {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_27_c {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 69.083px;
	top: 2455.223px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_28_da {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_28_da {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.212px;
	left: 527.035px;
	top: 462.827px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_29_db {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_29_db {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.04px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_30_dc {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_30_dc {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 744.592px;
	top: 946.432px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_31_dd {
	fill: transparent;
	stroke: rgba(26, 19, 17, 1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}

.n_31_dd {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 436.66px;
	top: 1512.818px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2_de {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -1.815px;
	top: 113.386px;
	overflow: visible;
}

#n_193 {
	position: absolute;
	width: 91.579px;
	height: 91.578px;
	left: 268.354px;
	top: 3352.848px;
	overflow: visible;
}

#n_22_dg {
	fill: rgba(46, 47, 47, 1);
}

.n_22_dg {
	position: absolute;
	overflow: visible;
	width: 91.579px;
	height: 91.578px;
	left: 0px;
	top: 0px;
}

#n_16_dh {
	position: absolute;
	width: 51.161px;
	height: 51.169px;
	left: 20.208px;
	top: 20.612px;
	overflow: visible;
}

#n_25_di {
	fill: rgba(255, 255, 255, 1);
}

.n_25_di {
	overflow: visible;
	position: absolute;
	width: 51.161px;
	height: 51.169px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_dj {
	fill: rgba(255, 255, 255, 1);
}

.n_26_dj {
	overflow: visible;
	position: absolute;
	width: 26.275px;
	height: 26.283px;
	left: 12.437px;
	top: 12.436px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_27_dk {
	fill: rgba(255, 255, 255, 1);
}

.n_27_dk {
	overflow: visible;
	position: absolute;
	width: 6.139px;
	height: 6.146px;
	left: 36.165px;
	top: 8.854px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_199 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3810.589px;
	overflow: visible;
}

#n_2_dm {
	fill: rgba(229, 243, 48, 1);
}

.n_2_dm {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}

#n_3_dn {
	fill: rgba(255, 255, 255, 1);
}

.n_3_dn {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 49.521px;
	top: 584.857px;
}

#n_2_do {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.332px;
	overflow: visible;
}

#n_5 {
	fill: rgba(0, 0, 0, 1);
}

.n_5 {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.532px;
	left: 0px;
	top: 0.287px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6 {
	fill: rgba(0, 0, 0, 1);
}

.n_6 {
	overflow: visible;
	position: absolute;
	width: 22.802px;
	height: 37.25px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_7 {
	fill: rgba(0, 0, 0, 1);
}

.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.714px;
	height: 36.627px;
	left: 74.303px;
	top: 0.287px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_8 {
	fill: rgba(0, 0, 0, 1);
}

.n_8 {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.82px;
	left: 112.028px;
	top: 0.383px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_3_dt {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.072px;
	overflow: visible;
}

#n_9 {
	fill: rgba(0, 0, 0, 1);
}

.n_9 {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.202px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_10 {
	fill: rgba(0, 0, 0, 1);
}

.n_10 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.563px;
	left: 36.705px;
	top: 9.949px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_11 {
	fill: rgba(0, 0, 0, 1);
}

.n_11 {
	overflow: visible;
	position: absolute;
	width: 24.989px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}

#n_12 {
	fill: rgba(0, 0, 0, 1);
}

.n_12 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.929px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_13 {
	fill: rgba(0, 0, 0, 1);
}

.n_13 {
	overflow: visible;
	position: absolute;
	width: 27.527px;
	height: 18.997px;
	left: 39.914px;
	top: 8.086px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_14 {
	fill: rgba(0, 0, 0, 1);
}

.n_14 {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.459px;
	left: 72.827px;
	top: 0.072px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_5_d {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.533px;
	overflow: visible;
}

#n_15_d {
	fill: rgba(0, 0, 0, 1);
}

.n_15_d {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_16_d {
	fill: rgba(0, 0, 0, 1);
}

.n_16_d {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.179px;
	left: 34.668px;
	top: 0.036px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_17_d {
	fill: rgba(0, 0, 0, 1);
}

.n_17_d {
	overflow: visible;
	position: absolute;
	width: 33.223px;
	height: 31.317px;
	left: 70.812px;
	top: 0.215px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_18_d {
	fill: rgba(0, 0, 0, 1);
}

.n_18_d {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.99px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_6_d {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.971px;
	top: 402.916px;
	overflow: visible;
}

#n_19_d {
	fill: rgba(0, 0, 0, 1);
}

.n_19_d {
	overflow: visible;
	position: absolute;
	width: 31.532px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_20_d {
	fill: rgba(0, 0, 0, 1);
}

.n_20_d {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.569px;
	left: 35.352px;
	top: 0.539px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_21_d {
	fill: rgba(0, 0, 0, 1);
}

.n_21_d {
	overflow: visible;
	position: absolute;
	width: 13.57px;
	height: 30.271px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_22_ea {
	fill: rgba(0, 0, 0, 1);
}

.n_22_ea {
	overflow: visible;
	position: absolute;
	width: 21.008px;
	height: 18.781px;
	left: 110.505px;
	top: 8.395px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_23_eb {
	fill: rgba(0, 0, 0, 1);
}

.n_23_eb {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.563px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_24_ec {
	fill: rgba(0, 0, 0, 1);
}

.n_24_ec {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.693px;
	left: 179.346px;
	top: 7.523px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_7_ed {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.768px;
	overflow: visible;
}

#n_25_ee {
	fill: rgba(0, 0, 0, 1);
}

.n_25_ee {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.855px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_ef {
	fill: rgba(0, 0, 0, 1);
}

.n_26_ef {
	overflow: visible;
	position: absolute;
	width: 31.892px;
	height: 29.949px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_27_eg {
	fill: rgba(0, 0, 0, 1);
}

.n_27_eg {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.029px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_26_eh {
	fill: rgba(0, 0, 0, 1);
}

.n_26_eh {
	position: absolute;
	overflow: visible;
	width: 193.411px;
	height: 6.776px;
	left: 432.219px;
	top: 111.441px;
}

#n_8_ei {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.603px;
	top: 602.697px;
	overflow: visible;
}

#n_28_ej {
	fill: rgba(0, 0, 0, 1);
}

.n_28_ej {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.52px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_29_ek {
	fill: rgba(0, 0, 0, 1);
}

.n_29_ek {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.205px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_30_el {
	fill: rgba(0, 0, 0, 1);
}

.n_30_el {
	overflow: visible;
	position: absolute;
	width: 20.775px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_31_em {
	fill: rgba(0, 0, 0, 1);
}

.n_31_em {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.053px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_32_en {
	fill: rgba(0, 0, 0, 1);
}

.n_32_en {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.852px;
	left: 103.74px;
	top: 1.717px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_33_eo {
	fill: rgba(0, 0, 0, 1);
}

.n_33_eo {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.518px;
	left: 129.714px;
	top: 0.182px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_34_ep {
	fill: rgba(0, 0, 0, 1);
}

.n_34_ep {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.847px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_35_eq {
	fill: rgba(0, 0, 0, 1);
}

.n_35_eq {
	overflow: visible;
	position: absolute;
	width: 16.11px;
	height: 20.068px;
	left: 182.831px;
	top: 2.574px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_36_er {
	fill: rgba(0, 0, 0, 1);
}

.n_36_er {
	overflow: visible;
	position: absolute;
	width: 9.999px;
	height: 20.98px;
	left: 215.485px;
	top: 1.807px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_9_es {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.473px;
	top: 693.151px;
	overflow: visible;
}

#n_37_et {
	fill: rgba(255, 255, 255, 1);
}

.n_37_et {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.006px;
	left: 40.529px;
	top: 1.14px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_38_eu {
	fill: rgba(255, 255, 255, 1);
}

.n_38_eu {
	overflow: visible;
	position: absolute;
	width: 42.24px;
	height: 33.393px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_39_ev {
	fill: rgba(255, 255, 255, 1);
}

.n_39_ev {
	overflow: visible;
	position: absolute;
	width: 9.095px;
	height: 11.015px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_40_ew {
	fill: rgba(255, 255, 255, 1);
}

.n_40_ew {
	overflow: visible;
	position: absolute;
	width: 130.812px;
	height: 12.646px;
	left: 0.652px;
	top: 42.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_200 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#n_63 {
	fill: rgba(229, 243, 48, 1);
}

.n_63 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}

#n_23_ez {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}

#n_54 {
	fill: rgba(19, 10, 10, 1);
}

.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_55 {
	fill: rgba(19, 10, 10, 1);
}

.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.599px;
	top: 13.201px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_56 {
	fill: rgba(19, 10, 10, 1);
}

.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_57 {
	fill: rgba(19, 10, 10, 1);
}

.n_57 {
	overflow: visible;
	position: absolute;
	width: 26.202px;
	height: 38.152px;
	left: 86.599px;
	top: 0.351px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_58 {
	fill: rgba(19, 10, 10, 1);
}

.n_58 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_59 {
	fill: rgba(19, 10, 10, 1);
}

.n_59 {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_60 {
	fill: rgba(19, 10, 10, 1);
}

.n_60 {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_61 {
	fill: rgba(19, 10, 10, 1);
}

.n_61 {
	overflow: visible;
	position: absolute;
	width: 34.252px;
	height: 38.053px;
	left: 208.847px;
	top: 0.25px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_62 {
	fill: rgba(19, 10, 10, 1);
}

.n_62 {
	overflow: visible;
	position: absolute;
	width: 29.952px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
