*{
	text-decoration: none;
	color: #000000;
  }
.mediaViewInfo {
	--web-view-name: 将棋部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4798.8px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 将棋部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_154 {
	fill: rgba(243,170,160,1);
}
.n_154 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 4027.607px;
	left: 0px;
	top: 0.204px;
}
#n_213 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_213 {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 289.1px;
	top: 2659.894px;
	transform: matrix(1,0,0,1,0,0);
}
#n_149 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_149 {
	overflow: visible;
	position: absolute;
	width: 800.354px;
	height: 374.982px;
	left: 202.639px;
	top: 2176.629px;
	transform: matrix(1,0,0,1,0,0);
}
#n_214 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_214 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 117.851px;
	left: 434.217px;
	top: 2546.611px;
	transform: matrix(1,0,0,1,0,0);
}
#n_155 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_155 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 463.54px;
	left: 118.615px;
	top: 2709.517px;
}
#n_156 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_156 {
	position: absolute;
	overflow: visible;
	width: 278.058px;
	height: 266.593px;
	left: 118.615px;
	top: 3201.395px;
}
#n_157 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_157 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 421.781px;
	top: 2709.517px;
}
#n_158 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_158 {
	position: absolute;
	overflow: visible;
	width: 581.212px;
	height: 266.593px;
	left: 421.781px;
	top: 3201.395px;
}
#n_150 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_150 {
	overflow: visible;
	position: absolute;
	width: 855.966px;
	height: 477.957px;
	left: 85.755px;
	top: 1589.674px;
	transform: matrix(1,0,0,1,0,0);
}
#n_151 {
	fill: rgba(255,255,255,1);
}
.n_151 {
	overflow: visible;
	position: absolute;
	width: 915.567px;
	height: 352.034px;
	left: 85.754px;
	top: 1138.261px;
	transform: matrix(1,0,0,1,0,0);
}
#n_215 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_215 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.958px;
	left: 741.985px;
	top: 2062.631px;
	transform: matrix(1,0,0,1,0,0);
}
#n_159 {
	fill: rgba(46,47,47,1);
}
.n_159 {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1112.508px;
}
#Text {
	left: 47.884px;
	top: 804.483px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(46,47,47,1);
}
#n_3_ {
	left: 49.144px;
	top: 913.406px;
	position: absolute;
	overflow: visible;
	width: 386px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#Text_ {
	left: 49.143px;
	top: 754.734px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_103 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 1556.786px;
	overflow: visible;
}
#n_157_bb {
	fill: rgba(135,128,136,1);
}
.n_157_bb {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_158_bc {
	fill: rgba(255,255,255,1);
}
.n_158_bc {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 73.802px;
	top: 1570.209px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_be {
	left: 144.442px;
	top: 1570.209px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#News {
	left: 95.171px;
	top: 1120.554px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_0230222 {
	left: 143.241px;
	top: 1194.019px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_188 {
	position: absolute;
	width: 156.805px;
	height: 27.113px;
	left: 796.184px;
	top: 1440.037px;
	overflow: visible;
}
#n_152 {
	fill: rgba(46,47,47,1);
}
.n_152 {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 140.537px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bj {
	left: 0px;
	top: 1.057px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bk {
	left: 143.241px;
	top: 1232.988px;
	position: absolute;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#n_0220111 {
	left: 143.241px;
	top: 1313.736px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n__bm {
	left: 143.241px;
	top: 1352.705px;
	position: absolute;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(46,47,47,1);
}
#OB31A3 {
	left: 127.158px;
	top: 1646.366px;
	position: absolute;
	overflow: visible;
	width: 704.124px;
	height: 481.6123046875px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: Mochiy Pop P;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_104 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 50.054px;
	top: 2627.006px;
	overflow: visible;
}
#n_159_bp {
	fill: rgba(135,128,136,1);
}
.n_159_bp {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_160 {
	fill: rgba(255,255,255,1);
}
.n_160 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__br {
	left: 73.802px;
	top: 2640.429px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#DATA {
	left: 144.442px;
	top: 2640.429px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_bt {
	left: 198.145px;
	top: 2926.488px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#SNS {
	left: 216.145px;
	top: 3244.665px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__bv {
	left: 224.145px;
	top: 2980.682px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__bw {
	left: 201.145px;
	top: 3028.65px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_bx {
	left: 195.245px;
	top: 3068.755px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#n_216 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_216 {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 102.328px;
	top: 3773.442px;
	transform: matrix(1,0,0,1,0,0);
}
#n_105 {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 166.938px;
	top: 2143.741px;
	overflow: visible;
}
#n_161 {
	fill: rgba(135,128,136,1);
}
.n_161 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_162 {
	fill: rgba(255,255,255,1);
}
.n_162 {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__b {
	left: 190.686px;
	top: 2157.165px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#Text_b {
	left: 261.326px;
	top: 2157.165px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(46,47,47,1);
}
#n__23____ {
	left: 244.042px;
	top: 2226.79px;
	position: absolute;
	overflow: visible;
	width: 734.055px;
	height: 300.03131103515625px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: Mochiy Pop P;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(46,47,47,1);
}
#n_106 {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 216.664px;
	top: 2735.924px;
	overflow: visible;
}
#n_163 {
	fill: rgba(46,47,47,1);
}
.n_163 {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_153 {
	fill: rgba(46,47,47,1);
}
.n_153 {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.132px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ca {
	left: 672.692px;
	top: 2926.488px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cb {
	left: 672.692px;
	top: 2980.682px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cc {
	left: 620.692px;
	top: 3041.465px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(46,47,47,1);
}
#Text_cd {
	left: 684.792px;
	top: 3073.27px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_164 {
	fill: rgba(46,47,47,1);
}
.n_164 {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 646.365px;
	top: 2748.507px;
}
#n_107 {
	position: absolute;
	width: 55.534px;
	height: 71.123px;
	left: 682.977px;
	top: 2779.02px;
	overflow: visible;
}
#n_154_ce {
	fill: rgba(255,255,255,1);
}
.n_154_ce {
	overflow: visible;
	position: absolute;
	width: 55.534px;
	height: 71.123px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cf {
	left: 633.838px;
	top: 3256.754px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#Text_cg {
	left: 615.692px;
	top: 3359.636px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n_155_ch {
	fill: rgba(46,47,47,1);
}
.n_155_ch {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.84px;
	top: 3304.762px;
	transform: matrix(1,0,0,1,0,0);
}
#n_174 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 83.957px;
	top: 3829.972px;
	overflow: visible;
}
#Text_cj {
	left: 187.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_160_ck {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_160_ck {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_108 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.713px;
	overflow: visible;
}
#n_166 {
	fill: rgba(46,47,47,1);
}
.n_166 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_156_cn {
	fill: rgba(255,255,255,1);
}
.n_156_cn {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 17.239px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_175 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 570.852px;
	top: 3829.972px;
	overflow: visible;
}
#Text_cp {
	left: 93.248px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(46,47,47,1);
}
#n_161_cq {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_161_cq {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_109 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.713px;
	overflow: visible;
}
#n_167 {
	fill: rgba(46,47,47,1);
}
.n_167 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_157_ct {
	fill: rgba(255,255,255,1);
}
.n_157_ct {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 26.427px;
	top: 12.956px;
	transform: matrix(1,0,0,1,0,0);
}
#n_158_cu {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_158_cu {
	overflow: visible;
	position: absolute;
	width: 32.764px;
	height: 114.647px;
	left: 514.684px;
	top: 3775.195px;
	transform: matrix(1,0,0,1,0,0);
}
#n_217 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_217 {
	overflow: visible;
	position: absolute;
	width: 33.404px;
	height: 5px;
	left: 542.447px;
	top: 3884.842px;
	transform: matrix(1,0,0,1,0,0);
}
#n_218 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_218 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.658px;
	top: 1287.637px;
	transform: matrix(1,0,0,1,0,0);
}
#n_219 {
	fill: transparent;
	stroke: rgba(46,47,47,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_219 {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 143.658px;
	top: 1418.331px;
	transform: matrix(1,0,0,1,0,0);
}
#n_162_cy {
	fill: rgba(255,255,255,1);
}
.n_162_cy {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1137.949px;
}
#n_163_cz {
	fill: rgba(255,255,255,1);
}
.n_163_cz {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.812px;
	top: 1137.383px;
}
#n_142 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.933px;
	top: 3313.86px;
	overflow: visible;
}
#n_165 {
	fill: rgba(46,47,47,1);
}
.n_165 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.712px;
	top: 32.812px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#n_164_c {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_164_c {
	position: absolute;
	overflow: visible;
	width: 878.776px;
	height: 201.804px;
	left: 118.615px;
	top: 3519.985px;
}
#Text_c {
	left: 157.35px;
	top: 3548.367px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(46,47,47,1);
}
#n__ {
	left: 162.746px;
	top: 3609.562px;
	position: absolute;
	overflow: visible;
	width: 443px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(46,47,47,1);
}
#n_3 {
	position: absolute;
	width: 567.539px;
	height: 3053.37px;
	left: 108.003px;
	top: 914.287px;
	display: none;
	overflow: visible;
}
#n_220 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_220 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 290.847px;
	top: 562.205px;
	transform: matrix(1,0,0,1,0,0);
}
#n_221 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_221 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 54.765px;
	top: 1078.427px;
	transform: matrix(1,0,0,1,0,0);
}
#n_222 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_222 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 501.805px;
	top: 1234.84px;
	transform: matrix(1,0,0,1,0,0);
}
#n_223 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_223 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 42.52px;
	left: 265.7px;
	top: 1532.564px;
	transform: matrix(1,0,0,1,0,0);
}
#n_224 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_224 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 183.009px;
	top: 2968.331px;
	transform: matrix(1,0,0,1,0,0);
}
#n_225 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_225 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 187.664px;
	top: 2745.22px;
	transform: matrix(1,0,0,1,0,0);
}
#n_226 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_226 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 99.213px;
	left: 417.672px;
	top: 462.679px;
	transform: matrix(1,0,0,1,0,0);
}
#n_227 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_227 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 85.039px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_228 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_228 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 567.539px;
	top: 1121.552px;
	transform: matrix(1,0,0,1,0,0);
}
#n_229 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_229 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 113.386px;
	left: 285.154px;
	top: 1575.084px;
	transform: matrix(1,0,0,1,0,0);
}
#n_230 {
	fill: transparent;
	stroke: rgba(26,19,17,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_230 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 56.693px;
	left: 202.851px;
	top: 2491.671px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14 {
	position: absolute;
	width: 1065px;
	height: 598px;
	left: -0.225px;
	top: 113.386px;
	overflow: visible;
}
#n_223_dj {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 4024.042px;
	overflow: visible;
}
#n_2 {
	fill: rgba(229,243,48,1);
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}
#n_3_dl {
	fill: rgba(255,255,255,1);
}
.n_3_dl {
	position: absolute;
	overflow: visible;
	width: 963.949px;
	height: 63.005px;
	left: 49.521px;
	top: 584.857px;
}
#n_2_dm {
	position: absolute;
	width: 140.976px;
	height: 37.251px;
	left: 460.698px;
	top: 59.331px;
	overflow: visible;
}
#n_5 {
	fill: rgba(0,0,0,1);
}
.n_5 {
	overflow: visible;
	position: absolute;
	width: 38.307px;
	height: 36.532px;
	left: 0px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6 {
	fill: rgba(0,0,0,1);
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 22.803px;
	height: 37.251px;
	left: 45.839px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7 {
	fill: rgba(0,0,0,1);
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 29.714px;
	height: 36.627px;
	left: 74.303px;
	top: 0.288px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	fill: rgba(0,0,0,1);
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 28.948px;
	height: 36.819px;
	left: 112.028px;
	top: 0.384px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_dr {
	position: absolute;
	width: 98.279px;
	height: 25.498px;
	left: 481.688px;
	top: 166.071px;
	overflow: visible;
}
#n_9 {
	fill: rgba(0,0,0,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 27.121px;
	height: 25.203px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_10 {
	fill: rgba(0,0,0,1);
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.562px;
	left: 36.705px;
	top: 9.95px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	fill: rgba(0,0,0,1);
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 24.988px;
	height: 23.981px;
	left: 73.291px;
	top: 1.517px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	position: absolute;
	width: 103.964px;
	height: 31.928px;
	left: 478.577px;
	top: 242.51px;
	overflow: visible;
}
#n_12 {
	fill: rgba(0,0,0,1);
}
.n_12 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	fill: rgba(0,0,0,1);
}
.n_13 {
	overflow: visible;
	position: absolute;
	width: 27.526px;
	height: 18.998px;
	left: 39.914px;
	top: 8.085px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14_dy {
	fill: rgba(0,0,0,1);
}
.n_14_dy {
	overflow: visible;
	position: absolute;
	width: 31.137px;
	height: 31.46px;
	left: 72.827px;
	top: 0.071px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_dz {
	position: absolute;
	width: 140.287px;
	height: 32.324px;
	left: 461.729px;
	top: 322.533px;
	overflow: visible;
}
#n_15 {
	fill: rgba(0,0,0,1);
}
.n_15 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_16 {
	fill: rgba(0,0,0,1);
}
.n_16 {
	overflow: visible;
	position: absolute;
	width: 33.475px;
	height: 32.179px;
	left: 34.668px;
	top: 0.036px;
	transform: matrix(1,0,0,1,0,0);
}
#n_17 {
	fill: rgba(0,0,0,1);
}
.n_17 {
	overflow: visible;
	position: absolute;
	width: 33.224px;
	height: 31.317px;
	left: 70.812px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_18 {
	fill: rgba(0,0,0,1);
}
.n_18 {
	overflow: visible;
	position: absolute;
	width: 32.612px;
	height: 30.991px;
	left: 107.675px;
	top: 1.152px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6_d {
	position: absolute;
	width: 205.784px;
	height: 32.325px;
	left: 426.972px;
	top: 402.915px;
	overflow: visible;
}
#n_19 {
	fill: rgba(0,0,0,1);
}
.n_19 {
	overflow: visible;
	position: absolute;
	width: 31.531px;
	height: 32.325px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_20 {
	fill: rgba(0,0,0,1);
}
.n_20 {
	overflow: visible;
	position: absolute;
	width: 33.367px;
	height: 31.569px;
	left: 35.352px;
	top: 0.54px;
	transform: matrix(1,0,0,1,0,0);
}
#n_21 {
	fill: rgba(0,0,0,1);
}
.n_21 {
	overflow: visible;
	position: absolute;
	width: 13.569px;
	height: 30.272px;
	left: 79.704px;
	top: 1.188px;
	transform: matrix(1,0,0,1,0,0);
}
#n_22 {
	fill: rgba(0,0,0,1);
}
.n_22 {
	overflow: visible;
	position: absolute;
	width: 21.009px;
	height: 18.781px;
	left: 110.505px;
	top: 8.396px;
	transform: matrix(1,0,0,1,0,0);
}
#n_23 {
	fill: rgba(0,0,0,1);
}
.n_23 {
	overflow: visible;
	position: absolute;
	width: 26.349px;
	height: 3.564px;
	left: 144.179px;
	top: 14.254px;
	transform: matrix(1,0,0,1,0,0);
}
#n_24 {
	fill: rgba(0,0,0,1);
}
.n_24 {
	overflow: visible;
	position: absolute;
	width: 26.439px;
	height: 21.693px;
	left: 179.345px;
	top: 7.524px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_eb {
	position: absolute;
	width: 102.741px;
	height: 31.855px;
	left: 479.656px;
	top: 483.767px;
	overflow: visible;
}
#n_25 {
	fill: rgba(0,0,0,1);
}
.n_25 {
	overflow: visible;
	position: absolute;
	width: 31.929px;
	height: 31.855px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26 {
	fill: rgba(0,0,0,1);
}
.n_26 {
	overflow: visible;
	position: absolute;
	width: 31.893px;
	height: 29.949px;
	left: 36px;
	top: 1.043px;
	transform: matrix(1,0,0,1,0,0);
}
#n_27 {
	fill: rgba(0,0,0,1);
}
.n_27 {
	overflow: visible;
	position: absolute;
	width: 30.705px;
	height: 31.029px;
	left: 72.036px;
	top: 0.215px;
	transform: matrix(1,0,0,1,0,0);
}
#n_26_ef {
	fill: rgba(0,0,0,1);
}
.n_26_ef {
	position: absolute;
	overflow: visible;
	width: 193.411px;
	height: 6.776px;
	left: 432.219px;
	top: 111.441px;
}
#n_8_eg {
	position: absolute;
	width: 225.484px;
	height: 23.4px;
	left: 416.603px;
	top: 602.697px;
	overflow: visible;
}
#n_28 {
	fill: rgba(0,0,0,1);
}
.n_28 {
	overflow: visible;
	position: absolute;
	width: 20.723px;
	height: 22.127px;
	left: 0px;
	top: 0.519px;
	transform: matrix(1,0,0,1,0,0);
}
#n_29 {
	fill: rgba(0,0,0,1);
}
.n_29 {
	overflow: visible;
	position: absolute;
	width: 22.101px;
	height: 22.205px;
	left: 25.948px;
	top: 0.65px;
	transform: matrix(1,0,0,1,0,0);
}
#n_30 {
	fill: rgba(0,0,0,1);
}
.n_30 {
	overflow: visible;
	position: absolute;
	width: 20.774px;
	height: 23.4px;
	left: 52.494px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_31 {
	fill: rgba(0,0,0,1);
}
.n_31 {
	overflow: visible;
	position: absolute;
	width: 24.181px;
	height: 23.244px;
	left: 76.544px;
	top: 0.052px;
	transform: matrix(1,0,0,1,0,0);
}
#n_32 {
	fill: rgba(0,0,0,1);
}
.n_32 {
	overflow: visible;
	position: absolute;
	width: 22.517px;
	height: 20.852px;
	left: 103.74px;
	top: 1.716px;
	transform: matrix(1,0,0,1,0,0);
}
#n_33 {
	fill: rgba(0,0,0,1);
}
.n_33 {
	overflow: visible;
	position: absolute;
	width: 23.063px;
	height: 22.518px;
	left: 129.714px;
	top: 0.181px;
	transform: matrix(1,0,0,1,0,0);
}
#n_34 {
	fill: rgba(0,0,0,1);
}
.n_34 {
	overflow: visible;
	position: absolute;
	width: 22.031px;
	height: 19.998px;
	left: 156.101px;
	top: 2.847px;
	transform: matrix(1,0,0,1,0,0);
}
#n_35 {
	fill: rgba(0,0,0,1);
}
.n_35 {
	overflow: visible;
	position: absolute;
	width: 16.109px;
	height: 20.068px;
	left: 182.831px;
	top: 2.575px;
	transform: matrix(1,0,0,1,0,0);
}
#n_36 {
	fill: rgba(0,0,0,1);
}
.n_36 {
	overflow: visible;
	position: absolute;
	width: 9.999px;
	height: 20.98px;
	left: 215.485px;
	top: 1.807px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9_eq {
	position: absolute;
	width: 135.192px;
	height: 54.879px;
	left: 475.474px;
	top: 693.151px;
	overflow: visible;
}
#n_37 {
	fill: rgba(255,255,255,1);
}
.n_37 {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.528px;
	top: 1.14px;
	transform: matrix(1,0,0,1,0,0);
}
#n_38 {
	fill: rgba(255,255,255,1);
}
.n_38 {
	overflow: visible;
	position: absolute;
	width: 42.239px;
	height: 33.392px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_39 {
	fill: rgba(255,255,255,1);
}
.n_39 {
	overflow: visible;
	position: absolute;
	width: 9.094px;
	height: 11.014px;
	left: 65.023px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_40 {
	fill: rgba(255,255,255,1);
}
.n_40 {
	overflow: visible;
	position: absolute;
	width: 130.813px;
	height: 12.645px;
	left: 0.651px;
	top: 42.234px;
	transform: matrix(1,0,0,1,0,0);
}
#n_224_ev {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_63 {
	fill: rgba(229,243,48,1);
}
.n_63 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#n_23_ex {
	position: absolute;
	width: 278.598px;
	height: 38.702px;
	left: 52.354px;
	top: 34.387px;
	overflow: visible;
}
#n_54 {
	fill: rgba(19,10,10,1);
}
.n_54 {
	overflow: visible;
	position: absolute;
	width: 39.903px;
	height: 38.053px;
	left: 0px;
	top: 0.3px;
	transform: matrix(1,0,0,1,0,0);
}
#n_55 {
	fill: rgba(19,10,10,1);
}
.n_55 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 45.6px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_56 {
	fill: rgba(19,10,10,1);
}
.n_56 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 38.403px;
	left: 73.899px;
	top: 0.15px;
	transform: matrix(1,0,0,1,0,0);
}
#n_57 {
	fill: rgba(19,10,10,1);
}
.n_57 {
	overflow: visible;
	position: absolute;
	width: 26.201px;
	height: 38.152px;
	left: 86.6px;
	top: 0.351px;
	transform: matrix(1,0,0,1,0,0);
}
#n_58 {
	fill: rgba(19,10,10,1);
}
.n_58 {
	overflow: visible;
	position: absolute;
	width: 22.852px;
	height: 25.501px;
	left: 117.648px;
	top: 13.201px;
	transform: matrix(1,0,0,1,0,0);
}
#n_59 {
	fill: rgba(19,10,10,1);
}
.n_59 {
	overflow: visible;
	position: absolute;
	width: 33.502px;
	height: 25.252px;
	left: 146.298px;
	top: 13.301px;
	transform: matrix(1,0,0,1,0,0);
}
#n_60 {
	fill: rgba(19,10,10,1);
}
.n_60 {
	overflow: visible;
	position: absolute;
	width: 18.652px;
	height: 5.555px;
	left: 186.297px;
	top: 22.951px;
	transform: matrix(1,0,0,1,0,0);
}
#n_61 {
	fill: rgba(19,10,10,1);
}
.n_61 {
	overflow: visible;
	position: absolute;
	width: 34.252px;
	height: 38.053px;
	left: 208.848px;
	top: 0.25px;
	transform: matrix(1,0,0,1,0,0);
}
#n_62 {
	fill: rgba(19,10,10,1);
}
.n_62 {
	overflow: visible;
	position: absolute;
	width: 29.951px;
	height: 38.303px;
	left: 248.646px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}