* {
	text-decoration: none;
	color: #000000;
}

*  {
	font-family:fot-tsukuardgothic-std, sans-serif;
	font-style: normal;
	font-weight: bold;
}
.mediaViewInfo {
	--web-view-name: 女子バスケットボール部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1062.992px;
	height: 4033.477px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 女子バスケットボール部;
	--web-view-id: Artboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group {
	position: absolute;
	width: 1062.992px;
	height: 4033.477px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_1 {
	fill: rgba(251,164,159,1);
}
.n_1 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 3258.719px;
	left: 0px;
	top: 0px;
}
#n_2 {
	fill: rgba(229,243,48,1);
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 3258.719px;
}
#Group_ {
	position: absolute;
	width: 963.95px;
	height: 2602.637px;
	left: 48.392px;
	top: 1304.862px;
	overflow: visible;
}
#n_3 {
	fill: rgba(255,255,255,1);
}
.n_3 {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 0px;
	top: 2539.632px;
}
#n_1_ {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_1_ {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 5px;
	left: 240.142px;
	top: 844.366px;
	transform: matrix(1,0,0,1,0,0);
}
#n_1_ba {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_1_ba {
	overflow: visible;
	position: absolute;
	width: 719.532px;
	height: 273.808px;
	left: 240.142px;
	top: 469.666px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2_ {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_2_ {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 111.7px;
	left: 385.258px;
	top: 738.473px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_4 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 463.54px;
	left: 69.658px;
	top: 893.989px;
}
#n_5 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_5 {
	position: absolute;
	overflow: visible;
	width: 278.057px;
	height: 266.593px;
	left: 69.658px;
	top: 1385.867px;
}
#n_6 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_6 {
	position: absolute;
	overflow: visible;
	width: 581.213px;
	height: 463.54px;
	left: 372.824px;
	top: 893.989px;
}
#n_7 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_7 {
	position: absolute;
	overflow: visible;
	width: 581.211px;
	height: 266.593px;
	left: 372.824px;
	top: 1385.867px;
}
#n_2_be {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_2_be {
	overflow: visible;
	position: absolute;
	width: 753.446px;
	height: 361.28px;
	left: 36.796px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_bf {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_3_bf {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 118.386px;
	left: 693.027px;
	top: 356.28px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_bg {
	fill: rgba(0,0,0,1);
}
.n_3_bg {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.112px;
	left: 963.496px;
	top: 3862.44px;
	transform: matrix(1,0,0,1,0,0);
}
#MENU {
	left: 459.372px;
	top: 3318.305px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Text {
	left: 477.372px;
	top: 3419.097px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bj {
	left: 476.372px;
	top: 3499.479px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bk {
	left: 458.372px;
	top: 3579.863px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bl {
	left: 437.372px;
	top: 3660.247px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_bm {
	left: 476.372px;
	top: 3740.629px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n_8 {
	fill: rgba(0,0,0,1);
}
.n_8 {
	position: absolute;
	overflow: visible;
	width: 193.412px;
	height: 6.776px;
	left: 431.089px;
	top: 3371.077px;
}
#Text_bo {
	left: 413.372px;
	top: 3860.811px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_1_bp {
	position: absolute;
	width: 135.191px;
	height: 54.879px;
	left: 474.345px;
	top: 3952.787px;
	overflow: visible;
}
#n_4_bq {
	fill: rgba(255,255,255,1);
}
.n_4_bq {
	overflow: visible;
	position: absolute;
	width: 94.663px;
	height: 34.005px;
	left: 40.528px;
	top: 1.141px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_br {
	fill: rgba(255,255,255,1);
}
.n_5_br {
	overflow: visible;
	position: absolute;
	width: 42.239px;
	height: 33.393px;
	left: 0px;
	top: 1.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_6_bs {
	fill: rgba(255,255,255,1);
}
.n_6_bs {
	overflow: visible;
	position: absolute;
	width: 9.094px;
	height: 11.015px;
	left: 65.022px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_bt {
	fill: rgba(255,255,255,1);
}
.n_7_bt {
	overflow: visible;
	position: absolute;
	width: 130.813px;
	height: 12.645px;
	left: 0.651px;
	top: 42.234px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bu {
	left: 47.325px;
	top: 804.689px;
	position: absolute;
	overflow: visible;
	width: 771px;
	white-space: nowrap;
	line-height: 122.5px;
	margin-top: -26.25px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(39,31,35,1);
}
#Text_bv {
	left: 48.584px;
	top: 913.612px;
	position: absolute;
	overflow: visible;
	width: 456px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#n_3_bw {
	position: absolute;
	width: 1062.992px;
	height: 597.933px;
	left: 0px;
	top: 113.386px;
	overflow: visible;
}
#n_2_bx {
	position: absolute;
	width: 1062.992px;
	height: 597.933px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_by {
	left: 48.584px;
	top: 754.941px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_4_bz {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 49.487px;
	top: 1271.974px;
	overflow: visible;
}
#n_1_b {
	fill: rgba(139,123,130,1);
}
.n_1_b {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.114px;
}
#n_2_b {
	fill: rgba(255,255,255,1);
}
.n_2_b {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 73.237px;
	top: 1285.398px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_b {
	left: 143.878px;
	top: 1285.398px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#n__b {
	left: 126.592px;
	top: 1375.729px;
	position: absolute;
	overflow: visible;
	width: 670.137px;
	height: 264.9249267578125px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_5_b {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 49.487px;
	top: 2116.34px;
	overflow: visible;
}
#n_3_b {
	fill: rgba(139,123,130,1);
}
.n_3_b {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.115px;
	top: 4.115px;
}
#n_4_b {
	fill: rgba(255,255,255,1);
}
.n_4_b {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__ca {
	left: 73.237px;
	top: 2129.763px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#DATA {
	left: 143.878px;
	top: 2129.763px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_ca {
	left: 197.582px;
	top: 2415.821px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#SNS {
	left: 215.582px;
	top: 2733.996px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_8_cc {
	left: 212.582px;
	top: 2470.016px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_cd {
	left: 206.682px;
	top: 2513.897px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(39,31,35,1);
}
#n_6_ce {
	position: absolute;
	width: 73.573px;
	height: 73.573px;
	left: 252.832px;
	top: 1741.64px;
	overflow: visible;
}
#n_5_cf {
	fill: rgba(139,123,130,1);
}
.n_5_cf {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 4.114px;
	top: 4.115px;
}
#n_6_cg {
	fill: rgba(255,255,255,1);
}
.n_6_cg {
	position: absolute;
	overflow: visible;
	width: 69.459px;
	height: 69.459px;
	left: 0px;
	top: 0px;
}
#n__ch {
	left: 276.584px;
	top: 1755.064px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#Text_ci {
	left: 347.224px;
	top: 1755.064px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(39,31,35,1);
}
#n__ {
	left: 329.937px;
	top: 1845.394px;
	position: absolute;
	overflow: hidden;
	width: 619.352px;
	height: 177.3752899169922px;
	line-height: 43.75px;
	margin-top: -9.375px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(39,31,35,1);
}
#n_7_ck {
	position: absolute;
	width: 76.96px;
	height: 147.092px;
	left: 216.098px;
	top: 2225.258px;
	overflow: visible;
}
#n_7_cl {
	fill: rgba(39,31,35,1);
}
.n_7_cl {
	position: absolute;
	overflow: visible;
	width: 76.96px;
	height: 76.96px;
	left: 0px;
	top: 0px;
}
#n_8_cm {
	fill: rgba(39,31,35,1);
}
.n_8_cm {
	overflow: visible;
	position: absolute;
	width: 76.96px;
	height: 70.132px;
	left: 0px;
	top: 76.96px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cn {
	left: 672.129px;
	top: 2415.821px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_co {
	left: 672.129px;
	top: 2470.016px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#Text_cp {
	left: 620.129px;
	top: 2530.797px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(39,31,35,1);
}
#n_0000 {
	left: 523.229px;
	top: 2562.602px;
	position: absolute;
	overflow: visible;
	width: 375px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(39,31,35,1);
}
#n_8_cr {
	fill: rgba(39,31,35,1);
}
.n_8_cr {
	position: absolute;
	overflow: visible;
	width: 128.753px;
	height: 128.753px;
	left: 645.799px;
	top: 2237.842px;
}
#n_8_cs {
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 682.411px;
	top: 2268.354px;
	overflow: visible;
}
#n_9 {
	fill: rgba(255,255,255,1);
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 55.533px;
	height: 71.122px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cu {
	left: 633.274px;
	top: 2733.995px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n__cv {
	left: 462.274px;
	top: 2802.209px;
	position: absolute;
	overflow: visible;
	width: 495px;
	white-space: nowrap;
	line-height: 66.5px;
	margin-top: -14.25px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(39,31,35,1);
}
#n_10 {
	fill: rgba(39,31,35,1);
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 925.273px;
	top: 2794.097px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	position: absolute;
	width: 912.865px;
	height: 126.442px;
	left: 94.219px;
	top: 1079.208px;
	overflow: visible;
}
#n_18 {
	fill: rgba(255,255,255,1);
}
.n_18 {
	overflow: visible;
	position: absolute;
	width: 912.865px;
	height: 126.442px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cz {
	left: 414.059px;
	top: 46.76px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 61.25px;
	margin-top: -13.125px;
	text-align: left;
	font-family: HiraKakuStd-W8-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(39,31,35,1);
}
#n_6_c {
	fill: transparent;
	stroke: rgba(39,31,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_6_c {
	overflow: visible;
	position: absolute;
	width: 813.404px;
	height: 1px;
	left: 59.313px;
	top: 98.001px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13_c {
	fill: rgba(39,31,35,1);
}
.n_13_c {
	position: absolute;
	overflow: visible;
	width: 304.474px;
	height: 58.447px;
	left: 0px;
	top: 1033.116px;
}
#News {
	left: 94.604px;
	top: 1041.163px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	line-height: 66.93817901611328px;
	margin-top: -14.343894958496094px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 38.250389099121094px;
	color: rgba(255,255,255,1);
}
#n_14 {
	fill: rgba(255,255,255,1);
}
.n_14 {
	position: absolute;
	overflow: visible;
	width: 70.776px;
	height: 7.565px;
	left: 0px;
	top: 1058.557px;
}
#n_15 {
	fill: rgba(255,255,255,1);
}
.n_15 {
	position: absolute;
	overflow: visible;
	width: 8.696px;
	height: 8.696px;
	left: 223.246px;
	top: 1057.991px;
}
#n_14_c {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_16 {
	fill: rgba(229,243,48,1);
}
.n_16 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#Meiden-XR {
	left: 65.102px;
	top: 33.239px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	line-height: 87.5px;
	margin-top: -18.75px;
	text-align: center;
	font-family: TsukuARdGothic-Bold-83pv-RKSJ-H;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(19,10,10,1);
}
#n_383 {
	position: absolute;
	width: 94.625px;
	height: 94.625px;
	left: 207.27px;
	top: 2803.615px;
	overflow: visible;
}
#n_306 {
	fill: rgba(39,31,35,1);
}
.n_306 {
	position: absolute;
	overflow: visible;
	width: 94.625px;
	height: 94.625px;
	left: 0px;
	top: 0px;
}
#HP {
	left: 24.813px;
	top: 31.813px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 53.43399429321289px;
	margin-top: -11.450141906738281px;
	text-align: left;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30.533710479736328px;
	color: rgba(255,255,255,1);
}
#n_349 {
	position: absolute;
	width: 430.726px;
	height: 109.888px;
	left: 94.72px;
	top: 3063.791px;
	overflow: visible;
}
#Text_dc {
	left: 97.479px;
	top: 39.944px;
	position: absolute;
	overflow: visible;
	width: 271px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#n_16_dd {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_16_dd {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 34.231px;
	top: 0px;
}
#n_12 {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 20.639px;
	overflow: visible;
}
#n_11 {
	fill: rgba(39,31,35,1);
}
.n_11 {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_15_dg {
	fill: rgba(255,255,255,1);
}
.n_15_dg {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 17.24px;
	top: 12.955px;
	transform: matrix(1,0,0,1,0,0);
}
#n_348 {
	position: absolute;
	width: 430.727px;
	height: 109.888px;
	left: 581.615px;
	top: 3063.791px;
	overflow: visible;
}
#Text_di {
	left: 51.248px;
	top: 38.944px;
	position: absolute;
	overflow: visible;
	width: 295px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: center;
	font-family: MOBO-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(39,31,35,1);
}
#n_17 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_17 {
	position: absolute;
	overflow: visible;
	width: 401.495px;
	height: 114.888px;
	left: 0px;
	top: 0px;
}
#n_13_dk {
	position: absolute;
	width: 68.463px;
	height: 68.463px;
	left: 362.264px;
	top: 20.712px;
	overflow: visible;
}
#n_12_dl {
	fill: rgba(39,31,35,1);
}
.n_12_dl {
	position: absolute;
	overflow: visible;
	width: 68.463px;
	height: 68.463px;
	left: 0px;
	top: 0px;
}
#n_16_dm {
	fill: rgba(255,255,255,1);
}
.n_16_dm {
	overflow: visible;
	position: absolute;
	width: 24.796px;
	height: 43.116px;
	left: 26.427px;
	top: 12.955px;
	transform: matrix(1,0,0,1,0,0);
}
#n_457 {
	position: absolute;
	width: 918.261px;
	height: 109.72px;
	left: 94.72px;
	top: 3008.931px;
	overflow: visible;
}
#n_6_do {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_6_do {
	overflow: visible;
	position: absolute;
	width: 923.261px;
	height: 5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_7_dp {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_7_dp {
	overflow: visible;
	position: absolute;
	width: 56.168px;
	height: 5px;
	left: 431.367px;
	top: 109.72px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8_dq {
	opacity: 0.95;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.n_8_dq {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 109.72px;
	left: 459.13px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}